<apex:page controller="VanaHCM.employee_benefits_view"  id="page1" tabStyle="Employee_Benefits__tab">
  <apex:form id="page1">
  <apex:pageblock id="block1">
     <apex:sectionHeader title="My Benefits Enrollment"  id="section1"/>
      <apex:pageBlockSection id="pageBlock" columns="1">
          <apex:pageBlockTable value="{!employee_benefits_view_record}"  var="r" width="100%">
                   <apex:column headerValue="Name" rendered="false" >
                        <apex:outputLink value="/{!r.Id}" >{!r.Name}</apex:outputLink>
                   </apex:column>
                 
                  <apex:column headerValue="Benefit Plan" value="{!r.Benefit_Enrollment_Coverage__r.VanaHCM__Benefit_Plan_Enrollment__c}"/>
                  <apex:column headerValue="Coverage Election" value="{!r.VanaHCM__Coverage_Election__c}"/>
                  <apex:column headerValue="Coverage Level" value="{!r.VanaHCM__Coverage_Level__c}"/>
                  <apex:column headerValue="Employee Contribution" value="{!r.VanaHCM__Employee_Contribution__c}"/>
                  <apex:column headerValue="Employer Contribution" value="{!r.VanaHCM__Employer_Contribution__c}"/>  
                  <apex:column headerValue="Total Contribution" value="{!r.VanaHCM__Total_Contribution__c}"/> 
                  
          </apex:pageBlockTable>
      </apex:pageBlockSection>    
  </apex:pageblock>
  </apex:form>
</apex:page>