<apex:page id="page1" extensions="VanaHCM.CandidateSearchController" sidebar="true" showHeader="true" standardController="VanaHCM__Candidate__c" >
	<apex:styleSheet value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/themes/base/jquery.ui.all.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'js/jquery-1.5.1.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.core.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.widget.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.button.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.position.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.autocomplete.js')}" />
    
    <apex:stylesheet value="{!URLFOR($Resource.VanaHCM__fancybox,'jquery.fancybox-1.3.4.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__fancybox,'jquery.fancybox-1.3.4.pack.js')}" /> 
     
    <apex:styleSheet value="{!URLFOR($Resource.VanaHCM__jQueryStarRating,'jquery.ui.stars.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__jQueryStarRating,'jquery.ui.stars.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__jQueryStarRating,'jquery.ui.stars.js')}" />
     
	<apex:form id="form1">
	<apex:pageMessages id="msg" />
		<style>
	        .ui-button { margin-left: -1px; } 
	        .ui-button-icon-only .ui-button-text { padding: 0.35em; } 
	        .ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em;width:200px; }
	        .ui-widget-content {
	            border: 1px solid #79B4CD;
	         }
	         body .x-btn-pressed, body .x-btn-click, body .x-btn-menu-active, body button:active, body .btn:active, body .btnCancel:active, body .menuButton .menuButtonButton:active {
	            border-color: #79B4CD;
	         }
	         button.ui-button-icon-only {
	             background: none repeat scroll 0 0 #FCFCFC;
	             border: 1px solid #79B4CD;
	         }
	          .ui-autocomplete {
					max-height: 350px;
					overflow-y: auto;
					/* prevent horizontal scrollbar */
					overflow-x: hidden;
				}
	    </style>
		<apex:sectionHeader title="Candidate" subTitle="Search" />
		<apex:pageBlock id="block1">
			<apex:pageBlockButtons location="bottom"> 
				<input type="button" class="btn" value="Search" onclick="JSSearchCandidate();" />
				 <apex:actionStatus id="statusLoading">
	                <apex:facet name="start">
	                        <span style="font-weight:bold; color: red;">
	                            Please wait....<img src="/img/loading.gif" /> 
	                        </span>
	                </apex:facet>
	            </apex:actionStatus> 
			</apex:pageBlockButtons>
			<apex:pageBlockSection id="section1"  columns="2">
				<apex:pageBlockSectionItem > 
					<apex:outputLabel value="Name" />
					<apex:inputText value="{!objCandidateSearchOptions.candidate_name}" style="width: 236px;height:20px;" />
				</apex:pageBlockSectionItem>	
				<apex:pageBlockSectionItem > 
					<apex:outputLabel value="Keywords in Resume" />
					<apex:inputText value="{!objCandidateSearchOptions.resume_keywords}" style="width: 236px;height:20px;" />
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem > 
					<apex:outputLabel value="Location (City-Country)" />
					<apex:outputPanel >	
						<apex:inputText value="{!objCandidateSearchOptions.candidate_city}" style="width: 105px;height:20px;" />
						<apex:selectList size="1" value="{!objCandidateSearchOptions.selectedCandidateCountry}" style="margin-left:10px;height:22px;width:120px;">
								<apex:selectOptions value="{!objCandidateSearchOptions.listOfSelectOptionsCandidateCountry}" />
							</apex:selectList>
					</apex:outputPanel>		
				</apex:pageBlockSectionItem>	
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Rating"></apex:outputLabel>
					<apex:outputPanel >
                         <div class="jobApplicationRatingDiv">
                           	<select>
	                            <apex:repeat value="{!objCandidateSearchOptions.listOfSelectOptionsJobApplicationRating}" var="opt">
	                            	<option >{!opt.Label}</option>
	                            </apex:repeat>
	                        </select>    
                         </div>  
                     </apex:outputPanel> 
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem > 
				 	<apex:outputPanel >
	                      <div style="padding-top:8px;">{!$ObjectType.VanaHCM__Job_Opening__c.label}</div>
	              </apex:outputPanel>
					<apex:outputPanel >
                         <select id="lstjobOpening">
                             <apex:repeat value="{!objCandidateSearchOptions.listOfSelectOptionsJobOpening}" var="v">
                                 <apex:variable var="v2" value="">
                                    <option value="{!v.Value}" >{!v.Label}</option>
                                 </apex:variable>  
                             </apex:repeat>
                        </select>       
                    </apex:outputPanel> 
				</apex:pageBlockSectionItem>	
				
				<apex:pageBlockSectionItem > 
					<apex:outputPanel >
	                      <div style="padding-top:8px;">Status</div>
					</apex:outputPanel>
					<apex:outputPanel >
                         <select id="lstcandidateStatus">
                             <apex:repeat value="{!objCandidateSearchOptions.listOfSelectOptionsCandidateJobApplicationStatus}" var="v">
                                 <apex:variable var="v2" value="">
                                    <option value="{!v.Value}" >{!v.Label}</option>
                                 </apex:variable>  
                             </apex:repeat>
                        </select>       
                    </apex:outputPanel> 
				</apex:pageBlockSectionItem>	
				<apex:pageBlockSectionItem > 
					<apex:outputPanel >
	                      <div style="padding-top:8px;">Company</div>
					</apex:outputPanel>
					<apex:outputPanel >
                         <select id="lstcandidateCompany">
                             <apex:repeat value="{!objCandidateSearchOptions.listOfSelectOptionsCandidateWorkExp}" var="v">
                                 <apex:variable var="v2" value="">
                                    <option value="{!v.Value}" >{!v.Label}</option>
                                 </apex:variable>  
                             </apex:repeat>
                        </select>       
                    </apex:outputPanel> 
				</apex:pageBlockSectionItem>	
				<apex:pageBlockSectionItem >
					<apex:outputPanel >
	                      <div style="padding-top:8px;">School</div>
					</apex:outputPanel>
					<apex:outputPanel >
                         <select id="lstcandidateEducation">
                             <apex:repeat value="{!objCandidateSearchOptions.listOfSelectOptionsCandidateEducation}" var="v">
                                 <apex:variable var="v2" value="">
                                    <option value="{!v.Value}" >{!v.Label}</option>
                                 </apex:variable>  
                             </apex:repeat>
                        </select>       
                    </apex:outputPanel>  
				</apex:pageBlockSectionItem>	
				<apex:pageBlockSectionItem >
					<apex:outputPanel >
	                      <div style="padding-top:8px;">Source</div>
					</apex:outputPanel>
					<apex:outputPanel >
                         <select id="lstcandidateSource">
                             <apex:repeat value="{!objCandidateSearchOptions.listOfSelectOptionsCandidateSource}" var="v">
                                 <apex:variable var="v2" value="">
                                    <option value="{!v.Value}" >{!v.Label}</option>
                                 </apex:variable>  
                             </apex:repeat>
                        </select>       
                    </apex:outputPanel>  
				</apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem > 
					<apex:outputLabel value="Within Distance (in Miles)" />
					<apex:inputText value="{!objCandidateSearchOptions.distance}" style="width: 236px;height:20px;" />
				</apex:pageBlockSectionItem>	
				
			</apex:pageBlockSection>
			<script>
				var selectedRatingOption;
				function JSSearchCandidate(){
					SearchCandidate($("#lstcandidateStatus").val(),$("#lstjobOpening").val(),$("#lstcandidateCompany").val(),$("#lstcandidateEducation").val(),$("#lstcandidateSource").val(),selectedRatingOption);
				}
				(function( $ ) {
				        $.widget( "ui.combobox", {
				            _create: function() {
				                var self = this,
				                    select = this.element.hide(),
				                    selected = select.children( ":selected" ),
				                    value = selected.val() ? selected.text() : "";
				                var input = this.input = $( "<input>" )
				                    .insertAfter( select )
				                    .val( value )
				                    .autocomplete({
				                        delay: 0,
				                        minLength: 0,
				                        source: function( request, response ) {
				                            var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
				                            response( select.children( "option" ).map(function() {
				                                var text = $( this ).text();
				                                if ( this.value && ( !request.term || matcher.test(text) ) )
				                                    return {
				                                        label: text.replace(
				                                            new RegExp(
				                                                "(?![^&;]+;)(?!<[^<>]*)(" +
				                                                $.ui.autocomplete.escapeRegex(request.term) +
				                                                ")(?![^<>]*>)(?![^&;]+;)", "gi"
				                                            ), "<strong>$1</strong>" ),
				                                        value: text,
				                                        option: this
				                                    };
				                            }) );
				                        },
				                        select: function( event, ui ) {
				                            ui.item.option.selected = true;
				                            self._trigger( "selected", event, {
				                                item: ui.item.option
				                            });
				                            //alert('ui.item.option-->' + ui.item.option.value);
				                            //WorkerDetail(String(ui.item.option.value));
				                            
				                        },
				                        change: function( event, ui ) {
				                            if ( !ui.item ) {
				                                var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( $(this).val() ) + "$", "i" ),
				                                    valid = false;
				                                select.children( "option" ).each(function() {
				                                    if ( $( this ).text().match( matcher ) ) {
				                                        this.selected = valid = true;
				                                        return false;
				                                    }
				                                });
				                                if ( !valid ) {
				                                    // remove invalid value, as it didn't match anything
				                                    $( this ).val( "" );
				                                    select.val( "" );
				                                    input.data( "autocomplete" ).term = "";
				                                    return false;
				                                }
				                            }
				                        }
				                    })
				                    .addClass( "ui-widget ui-widget-content ui-corner-left" );
				
				                input.data( "autocomplete" )._renderItem = function( ul, item ) {
				                    return $( "<li></li>" )
				                        .data( "item.autocomplete", item )
				                        .append( "<a>" + item.label + "</a>" )
				                        .appendTo( ul ); 
				                }; 
				
				                this.button = $( '<button type="button">&nbsp;</button>' )
				                    .attr( "tabIndex", -1 )
				                    .attr( "title", "Show All Items" )
				                    .insertAfter( input )
				                    .button({
				                        icons: {
				                            primary: "ui-icon-triangle-1-s"
				                        },
				                        text: false 
				                    }) 
				                    .removeClass( "ui-corner-all" )
				                    .addClass( "ui-corner-right ui-button-icon" )
				                    .click(function() {
				                        // close if already visible
				                        if ( input.autocomplete( "widget" ).is( ":visible" ) ) {
				                            input.autocomplete( "close" );
				                            return;
				                        } 
				
				                        // work around a bug (likely same cause as #5265)
				                        $( this ).blur();
				
				                        // pass empty string as value to search for, displaying all results
				                        input.autocomplete( "search", "" );
				                        input.focus();
				                    });
				            },
				
				            destroy: function() {
				                this.input.remove();
				                this.button.remove();
				                this.element.show();
				                $.Widget.prototype.destroy.call( this );
				            }
				        });
				    })( jQuery );
				    
				     $(function() {
				    	 $('#lstjobOpening').combobox();
				    	 $('#lstcandidateStatus').combobox();
				    	 $('#lstcandidateCompany').combobox();
				    	 $('#lstcandidateEducation').combobox();
				    	 $('#lstcandidateSource').combobox();
				    	 jQuery(".jobApplicationRatingDiv").stars({
                              inputType: "select",
                              cancelShow: true,
                              disabled:false,
                              callback: function(ui, type, value, event){selectedRatingOption = value;}
                           });
				    	 
				    	 
				 }	);
				 
				 
				 function initIFramePopup(urlP, titleP, widthP, heightP, origP){
                        if(urlP == null) return null;
                        widthParam = widthP == null ? '60%' : widthP;
                        heightParam = heightP == null ? '80%' : heightP;
                        $.fancybox({
                            'href'              :urlP,
                            'padding'           : 10,
                            'width'             : widthParam,
                            'height'            : heightParam,
                            'autoScale'         : false,
                            'transitionIn'      : 'elastic',
                            'transitionOut'     : 'elastic',
                            'type'              : 'iframe',
                            //'overlayColor'        : '#000',
                            'overlayOpacity'    : 0.9,
                            
                            'orig'              : origP
                            
                            /*,
                            'titlePosition'     : 'inside',
                            'title'             : titleP,
                            'titleFormat'       : function(title, currentArray, currentIndex, currentOpts) {
                                //font-size: 25px;color:white;background-color:#79B4CD
                                return '<span id="fancybox-title-over" style="text-align:left;color:white;font-size: 16px;">'+ title +'</span>';
                            }*/
                            
                        });
                    }
                     function callSortResults(sortColumn,isAscSort){
			            jsSortResults(sortColumn,isAscSort);
			        }
			</script> 
			<apex:actionFunction name="SearchCandidate" action="{!SearchCandidate}" Status="statusLoading" rerender="block2,msg" >
				<apex:param name="Status" id="Status" value="" assignto="{!objCandidateSearchOptions.selectedCandidateJobApplicationStatus}" />
				<apex:param name="jobOpening" id="jobOpening" value="" assignto="{!objCandidateSearchOptions.selectedJobOpening}" />
				<apex:param name="workExp" id="workExp" value="" assignto="{!objCandidateSearchOptions.selectedCandidateWorkExp}" />
				<apex:param name="edu" id="edu" value="" assignto="{!objCandidateSearchOptions.selectedCandidateEducation}" />
				<apex:param name="source" id="source" value="" assignto="{!objCandidateSearchOptions.selectedCandidateSource}" />
				<apex:param name="rating" id="rating" value="" assignto="{!objCandidateSearchOptions.selectedJobApplicationRating}" />
			</apex:actionFunction>
			<apex:actionRegion >
		         <apex:actionFunction status="statusLoading" name="jsSortResults" action="{!sortResults}" rerender="block2"  >
		                <apex:param name="sortColumn" id="sortColumn" value="" assignto="{!sortColumn}" />
		         </apex:actionFunction>  
         </apex:actionRegion>
		</apex:pageBlock>
		<apex:pageBlock id="block2" title="Search Result">
			<apex:pageBlockSection id="section2"  columns="1"> 
				<apex:outputpanel rendered="{!IF(objCandidateSearchOptions.listOfCandidateSearchResult.SIZE>0,true,false)}">
	                <apex:pageBlockTable width="100%" value="{!objCandidateSearchOptions.listOfCandidateSearchResult}" var="lst">
	                	<apex:column width="25%">
	                		 <apex:facet name="header">
		                          <apex:outputPanel > 
		                          <a href="#" onclick="callSortResults('Name',{!NOT(isAscSort)});return false;">
		                             Name
		                             <apex:image title="{!IF(AND(sortColumn = 'Name',isAscSort),'Sorted Ascending', 'Sorted Descending')}" 
		                                     styleClass="{!IF(AND(sortColumn = 'Name',isAscSort),'sortAsc', 'sortDesc')}" 
		                                     alt=""  
		                                     rendered="{!sortColumn = 'Name'}"
		                                     value="/s.gif"/>
		                          </a>
		                          </apex:outputPanel>
	                      	</apex:facet>
	                		<apex:outputLink value="/{!lst.Id}">{!lst.Name}</apex:outputLink>
	                	</apex:column>
	                	<apex:column width="25%">
	                		 <apex:facet name="header">
		                          <apex:outputPanel > 
		                          <a href="#" onclick="callSortResults('Phone_Number__c',{!NOT(isAscSort)});return false;">
		                             Phone
		                             <apex:image title="{!IF(AND(sortColumn = 'Phone_Number__c',isAscSort),'Sorted Ascending', 'Sorted Descending')}" 
		                                     styleClass="{!IF(AND(sortColumn = 'Phone_Number__c',isAscSort),'sortAsc', 'sortDesc')}" 
		                                     alt=""  
		                                     rendered="{!sortColumn = 'Phone_Number__c'}"
		                                     value="/s.gif"/>
		                          </a>
		                          </apex:outputPanel>
	                      	</apex:facet> 
	                		<apex:outputField value="{!lst.VanaHCM__Phone_Number__c}" />
	                	</apex:column>
	                	<apex:column width="25%" >
	                		 <apex:facet name="header">
		                          <apex:outputPanel > 
		                          <a href="#" onclick="callSortResults('Email__c',{!NOT(isAscSort)});return false;">
		                             Email
		                             <apex:image title="{!IF(AND(sortColumn = 'Email__c',isAscSort),'Sorted Ascending', 'Sorted Descending')}" 
		                                     styleClass="{!IF(AND(sortColumn = 'Email__c',isAscSort),'sortAsc', 'sortDesc')}" 
		                                     alt=""  
		                                     rendered="{!sortColumn = 'Email__c'}"
		                                     value="/s.gif"/>
		                          </a>
		                          </apex:outputPanel>
	                      	</apex:facet> 
	                		<apex:outputLabel value="{!lst.VanaHCM__Email__c}" />
	                	</apex:column>
	                	<apex:column width="10%" >
	                		<apex:facet name="header"></apex:facet>
	                		<input type="button" class="btn" value="View Resume" onclick="initIFramePopup('{!$Page.ShowResumeCandidate}?Id={!lst.Id}','Resume', 800,500,this);" />	 
	                	</apex:column>
	                	<apex:column width="10%"> 
	                		<apex:facet name="header"></apex:facet>
	                		<input type="button" class="btn" value="Apply to Job" onclick="initIFramePopup('{!$Page.New_Job_ApplicationPopUp}?cid={!lst.Id}','JobApplication', 800,500,this);" />
	                		<!-- <apex:commandButton value="Apply to Job" action="{!URLFOR($Action[Job_ApplicationObject].New)}&cid={!lst.Id}" />  --> 
	                	</apex:column>	
	                	<apex:column rendered="false">
	                		<apex:facet name="header">Country</apex:facet> 
	                		 <apex:outputLabel value="{!lst.VanaHCM__Country_Codes__c}" />  
	                	</apex:column>
	                	<apex:column rendered="false">
	                		<apex:facet name="header">City Town</apex:facet> 
	                		 <apex:outputLabel value="{!lst.VanaHCM__City_Town__c}" />  
	                	</apex:column>
	                	<apex:column rendered="false">
	                		<apex:facet name="header">Status</apex:facet> 
	                		 <apex:outputLabel value="{!lst.VanaHCM__Veteran_Disability_Status__c}" />  
	                	</apex:column>
	                </apex:pageBlockTable>
	            </apex:outputpanel>    
	            <apex:outputpanel rendered="{!IF(objCandidateSearchOptions.listOfCandidateSearchResult.SIZE>0,false,true)}">
	            	<apex:outputLabel value="No record(s) found." />
	            </apex:outputpanel>
             </apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>