<apex:page sidebar="true" showheader="true" id="page1" standardController="VanaHCM__Competency__c" tabstyle="VanaHCM__Competency__c" extensions="VanaHCM.ExtensionPerformance">
    <apex:form id="form1">
    	<apex:sectionHeader title="Competency Edit" subTitle="{!competency.Name}" />
        <apex:pageBlock id="pageBlock1" title="Competency Edit" mode="edit">
        	<apex:pageBlockButtons > 
        		<apex:commandButton value="Save" id="btnSave"  action="{!Save}"/>
        		<apex:commandButton value="Save & New" id="btnSaveNew" action="{!SaveNew}"/>
        		<apex:commandButton value="Cancel" id="btnCancel"  action="{!Cancel}"/>
        	</apex:pageBlockButtons>
            <apex:pageBlockSection title="Employee Competency" collapsible="false">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel value="Competency" />
                	<apex:inputField value="{!competency.VanaHCM__Competency__c}" />
                </apex:pageBlockSectionItem>	
                <apex:pageBlockSectionItem >	
                	<apex:outputLabel value="Worker" />
                	<apex:inputField value="{!competency.VanaHCM__Competency_Worker__c}" />
                </apex:pageBlockSectionItem>    
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Performance Plan" />
                	<apex:inputField value="{!competency.VanaHCM__Performance__c}" />
                </apex:pageBlockSectionItem>		
                <apex:pageBlockSectionItem >
                	<apex:outputLabel value="manager {!IsManager}"/>		 
                	<apex:outputLabel value="IsWorker {!IsWorker}"/>
                </apex:pageBlockSectionItem> 
                <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Employee Rating" />
                 	<apex:outputPanel >
                 		<apex:inputField value="{!competency.VanaHCM__Employee_Rating__c}" rendered="{!IsWorker}" />
                		<apex:outputField value="{!competency.VanaHCM__Employee_Rating__c}" rendered="{!NOT(IsWorker)}" /> 
                	</apex:outputPanel>	
                </apex:pageBlockSectionItem>
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Manager Rating"  />
                 	<apex:outputPanel >
                		<apex:inputField value="{!competency.VanaHCM__Manager_Rating__c}"  rendered="{!IsManager}" />
                		<apex:outputField value="{!competency.VanaHCM__Manager_Rating__c}" rendered="{!NOT(IsManager)}" />
                	</apex:outputPanel>	
                </apex:pageBlockSectionItem>
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Employee Comments"  />
                 	<apex:outputPanel >
                		<apex:inputField value="{!competency.VanaHCM__Employee_Comments__c}" style="width:240px" rendered="{!IsWorker}" />
                		<apex:outputField value="{!competency.VanaHCM__Employee_Comments__c}" style="width:240px" rendered="{!NOT(IsWorker)}" />
                	</apex:outputPanel>	
                </apex:pageBlockSectionItem>  
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Manager Comments"   />
                 	<apex:outputPanel >
                		<apex:inputField value="{!competency.VanaHCM__Manager_Comments__c}" style="width:240px"  rendered="{!IsManager}"  />
                		<apex:outputField value="{!competency.VanaHCM__Manager_Comments__c}" style="width:240px" rendered="{!NOT(IsManager)}" />
                	</apex:outputPanel>	
                </apex:pageBlockSectionItem>          
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>    
</apex:page>