<!-- 
//--------------------------------------------------------//
//Date	:	
//Des	:	Edit componsation
//--------------------------------------------------------//
 --> 
<apex:page standardController="VanaHCM__Compensation__c"  title="Edit Compensation" tabStyle="VanaHCM__Compensation__c" id="page1">
  <style>
  	body .bPageBlock .pbTitle h2{
  		color:red;
  	}
  </style>
  <apex:form >
    <apex:pageBlock title="***WARNING***">
      <apex:outputPanel > 
	      <font color="red"><b>You can not edit existing Compensation</b></font><br/><br/><br/>
	      <apex:outputLink value="/{!VanaHCM__Compensation__c}" target="_top">Back to record</apex:outputLink>.
      </apex:outputPanel>
  </apex:pageBlock>
  </apex:form>
</apex:page>