<apex:page sidebar="true" showheader="true" id="page1" standardController="VanaHCM__Performance__c" tabstyle="VanaHCM__Performance__c" extensions="VanaHCM.Edit_PerformanceExtensions">
    <apex:form id="form1">
        <apex:sectionHeader title="Performance Edit" subTitle="{!performance.Name}" />
        <apex:pageBlock id="pageBlock1" title="Performance Edit" mode="edit">
            <apex:pageBlockButtons > 
                <apex:commandButton value="Save" id="btnSave"  action="{!Save}"/>
                <apex:commandButton value="Save & New" id="btnSaveNew" action="{!SaveNew}"/>
                <apex:commandButton value="Cancel" id="btnCancel"  action="{!Cancel}"/>
            </apex:pageBlockButtons>
               <apex:pageBlockSection title="Performance Plan" >
              
                <apex:pageBlockSectionItem >    
                    <apex:outputLabel value="Worker" />
                    <apex:inputField value="{!performance.VanaHCM__Worker__c}" />
                </apex:pageBlockSectionItem>     
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Performance Type" />
                    <apex:inputField value="{!performance.VanaHCM__Performance_Type__c}" />
                </apex:pageBlockSectionItem>
                 <apex:pageBlockSectionItem > 
                   <apex:outputLabel value="Review Status" />
                    <apex:outputField value="{!performance.VanaHCM__Status__c}" />
                  
                </apex:pageBlockSectionItem> 
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Overall Rating" />
                    <apex:outputPanel >
                        <apex:inputField value="{!performance.VanaHCM__Overall_Rating_Name__c}" rendered="{!IsManager}" />
                        <apex:outputField value="{!performance.VanaHCM__Overall_Rating_Name__c}" rendered="{!NOT(IsManager)}" />
                    </apex:outputPanel> 
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Review Start Date" />
                    <apex:inputField value="{!performance.VanaHCM__Review_Start_Date__c}" />
                </apex:pageBlockSectionItem>
                 <apex:pageBlockSectionItem > 
                   <apex:outputLabel value="Review End Date" />
                    <apex:inputField value="{!performance.VanaHCM__Review_End_Date__c}" />
                  
                </apex:pageBlockSectionItem>      
                 
                
                  <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Employee Signature"  />
                    <apex:outputPanel >
                        <apex:inputField value="{!performance.VanaHCM__Employee_Signature__c}"  rendered="{!IsWorker}" />
                        <apex:outputField value="{!performance.VanaHCM__Employee_Signature__c}" rendered="{!NOT(IsWorker)}" />
                    </apex:outputPanel> 
                </apex:pageBlockSectionItem>
                 <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Manager Signature"  />
                    <apex:outputPanel >
                        <apex:inputField value="{!performance.VanaHCM__Manager_Signature__c}"  rendered="{!IsManager}" />
                        <apex:outputField value="{!performance.VanaHCM__Manager_Signature__c}" rendered="{!NOT(IsManager)}" />
                    </apex:outputPanel> 
                </apex:pageBlockSectionItem>  
                  <apex:pageBlockSectionItem >
                    <apex:outputLabel value=" Employee Comments"  />
                    <apex:outputPanel >
                        <apex:inputField value="{!performance.VanaHCM__Employee_Comments__c}"  rendered="{!IsWorker}"  />
                        <apex:outputField value="{!performance.VanaHCM__Employee_Comments__c}"  rendered="{!NOT(IsWorker)}"  />
                    </apex:outputPanel> 
                </apex:pageBlockSectionItem>  
         
                 <apex:pageBlockSectionItem >
                    <apex:outputLabel value=" Manager Comments"  />
                    <apex:outputPanel >
                        <apex:inputField value="{!performance.VanaHCM__Comments_Performance__c}"  rendered="{!IsManager}"  />
                        <apex:outputField value="{!performance.VanaHCM__Comments_Performance__c}"  rendered="{!NOT(IsManager)}"  />
                    </apex:outputPanel> 
                </apex:pageBlockSectionItem>  
            </apex:pageBlockSection> 
            
        </apex:pageBlock>
    </apex:form>    
</apex:page>