<apex:page standardController="VanaHCM__Job_Opening__c" id="thePage"  sidebar="false" >

<apex:outputLink value="http://www.facebook.com/sharer.php?u={!$Label.vanahcm__careersite}" target="_blank"><apex:image id="theImage" value="{!$Resource.VanaHCM__Facebook}"/>
</apex:outputLink>


</apex:page>