<apex:page standardController="VanaHCM__Job_Opening__c" extensions="VanaHCM.GoogleMapJobOpeningController" sidebar="false" showHeader="false">
	<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script> 
	<div id="map_canvas" style="width:100%;height:300px;"></div> 

	   <script type="text/javascript"> 
	   	var lastOpenInfoWin = null;
		   var map = new google.maps.Map(document.getElementById('map_canvas'), { 
		       mapTypeId: google.maps.MapTypeId.ROADMAP,
		       zoom: {!ZoomLevel}
		   });
			
		   var geocoder = new google.maps.Geocoder();
		  <apex:repeat value="{!listOfAddress}" var="val">
		 	   geocoder.geocode({'address': "{!val.can_add}"}, function(results, status) {
			      if(status == google.maps.GeocoderStatus.OK) {
			         var marker =new google.maps.Marker({
						            position: results[0].geometry.location,
						            map: map,
						            title: "{!val.can_name} -{!val.can_add}"
						         });
					 	         
			         createInfoWindow(marker, "{!val.can_name}","{!val.tooltip}");
					 createTooltip(marker, "{!val.can_name}","");
			         map.setCenter(results[0].geometry.location);
			      }
			   });
			  
		  </apex:Repeat>	
		  
		  function createInfoWindow(marker, key,tooltip) {
				//create an infowindow for this marker
				var infowindow = new google.maps.InfoWindow({
				  content: tooltip,
				  maxWidth:250
				});
				//open infowindo on click event on marker.
				google.maps.event.addListener(marker, 'click', function() {
					if(lastOpenInfoWin) lastOpenInfoWin.close();
					lastOpenInfoWin = infowindow;
				  infowindow.open(marker.get('map'), marker);
				});
				 
		}
		function createTooltip(marker, key,tooltip) {
				//create a tooltip 
				var tooltipOptions={
					marker:marker,
					content:tooltip,
					cssClass:'tooltip' // name of a css class to apply to tooltip
				};
				var tooltip = new Tooltip(tooltipOptions);
				
	   }   
	   
	   function Tooltip(options) {

		    // Now initialize all properties.
		    this.marker_ = options.marker;
		    this.content_ = options.content;
		    this.map_ = options.marker.get('map');
			this.cssClass_ = options.cssClass||null;
		
		    // We define a property to hold the content's
		    // div. We'll actually create this div
		    // upon receipt of the add() method so we'll
		    // leave it null for now.
		    this.div_ = null;
		
		    //Explicitly call setMap on this overlay
		    this.setMap(this.map_);
			var me = this;
			// Show tooltip on mouseover event.
			google.maps.event.addListener(me.marker_, 'mouseover', function() {
				me.show();
			});
			// Hide tooltip on mouseout event.
			google.maps.event.addListener(me.marker_, 'mouseout', function() {
				me.hide();
			});
		}
		// Now we extend google.maps.OverlayView()
		Tooltip.prototype = new google.maps.OverlayView();
		
		// onAdd is one of the functions that we must implement, 
		// it will be called when the map is ready for the overlay to be attached.
		Tooltip.prototype.onAdd = function() {
		
		    // Create the DIV and set some basic attributes.
		    var div = document.createElement('DIV');
		    div.style.position = "absolute";
			// Hide tooltip
			div.style.visibility = "hidden";
			if(this.cssClass_)
				div.className += " "+this.cssClass_;
		
		    //Attach content to the DIV.
		    div.innerHTML = this.content_;
		
		    // Set the overlay's div_ property to this DIV
		    this.div_ = div;
		
		    // We add an overlay to a map via one of the map's panes.
		    // We'll add this overlay to the floatPane pane.
		    var panes = this.getPanes();
		  	panes.floatPane.appendChild(this.div_);
			
		  }
		// We here implement draw
		Tooltip.prototype.draw = function() {
		
		    // Position the overlay. We use the position of the marker
		    // to peg it to the correct position, just northeast of the marker.
		    // We need to retrieve the projection from this overlay to do this.
		    var overlayProjection = this.getProjection();
		
		    // Retrieve the coordinates of the marker
		    // in latlngs and convert them to pixels coordinates.
		    // We'll use these coordinates to place the DIV.
		    var ne = overlayProjection.fromLatLngToDivPixel(this.marker_.getPosition());
		
		    // Position the DIV.
		    var div = this.div_;
		    div.style.left = ne.x + 'px';
		    div.style.top = ne.y + 'px';
		    
		}
		// We here implement onRemove
		Tooltip.prototype.onRemove = function() {
		    this.div_.parentNode.removeChild(this.div_);
		}
		
		// Note that the visibility property must be a string enclosed in quotes
		Tooltip.prototype.hide = function() {
		    if (this.div_) {
		      this.div_.style.visibility = "hidden";
		    }
		}
		
		Tooltip.prototype.show = function() {
		    if (this.div_) {
		      this.div_.style.visibility = "visible";
		    }
		}
		
		function OpenJobApp(url){
			//window.open('/' + url);
		}
	   </script> 
 
		

</apex:page>