<apex:page showHeader="false" title="{!$Label.site.in_maintenance}" cache="false">
  <apex:composition template="VanaHCM__StdExceptionTemplate">
    <apex:define name="icon">
      <apex:image url="{!URLFOR($Resource.VanaHCM__SiteSamples, 'img/warning.gif')}"/>
    </apex:define>
    <apex:define name="error">
      <apex:outputText escape="false" styleClass="title" value="{!$Label.site.down_for_maintenance}">
        <apex:param value="{!$Site.CurrentSiteUrl}"/>
      </apex:outputText>
      <br/>
      <br/>
      <apex:outputText value="{!$Label.site.sorry_for_inconvenience_back_shortly}"/>
      <apex:outputText escape="false" value=" {!$Label.site.get_in_touch}">
      <apex:param value="mailto:{!$Site.AdminEmailAddress}"/>
      <apex:param value="{!$Label.site.email_us}"/>
    </apex:outputText>
   </apex:define>
  </apex:composition>
</apex:page>