<apex:page controller="VanaHCM.Job_ListingController" sideBar="false" showHeader="false" id="page1" title="Job Application" StandardStyleSheets="false" cache="false" action="{!initExternalMode}">

<apex:variable value="" var="v1" rendered="{!enableCareersSearch}">
    <apex:styleSheet value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/themes/base/jquery.ui.all.css')}" />
    <script src="{!URLFOR($Resource.ResourceBundle,'js/jquery-1.5.1.js')}" ></script>
    <script src="{!URLFOR($Resource.ResourceBundle,'development-bundle/ui/jquery.ui.core.js')}"></script>
    <script src="{!URLFOR($Resource.ResourceBundle,'development-bundle/ui/jquery.ui.widget.js')}"> </script>
    <script src="{!URLFOR($Resource.ResourceBundle,'development-bundle/ui/jquery.ui.button.js')}"> </script>
    <script src="{!URLFOR($Resource.ResourceBundle,'development-bundle/ui/jquery.ui.position.js')}"> </script>
    <script src="{!URLFOR($Resource.ResourceBundle,'development-bundle/ui/jquery.ui.autocomplete.js')}"> </script>
    
    <style>
        .ui-button { margin-left: -1px; } 
        .ui-button-icon-only .ui-button-text { padding: 0.35em; } 
        .ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em;width:230px; }
        .ui-widget-content {
            border: 1px solid #79B4CD;
         }
         body .x-btn-pressed, body .x-btn-click, body .x-btn-menu-active, body button:active, body .btn:active, body .btnCancel:active, body .menuButton .menuButtonButton:active {
            border-color: #79B4CD;
         }
         button.ui-button-icon-only {
             background: none repeat scroll 0 0 #FCFCFC;
             border: 1px solid #79B4CD;
         }
         
         .ui-autocomplete {
            max-height: 350px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
    </style>
</apex:variable>
    
    <apex:outputPanel rendered="{!NOT(renderDocumentStylesheet)}">
     <apex:StyleSheet value="{!URLFOR($Resource.VanaHCM__JobApp,'/StyleSheet/Styles.css')}"  />
     </apex:outputPanel> 
    <apex:outputPanel rendered="{!renderDocumentStylesheet}">
        <style>
            {!Str_Text}
        </style>     
    </apex:outputPanel>
    <style>
        A:hover {
            text-decoration: underline !important;
        }
    </style>
    <script type="text/javascript">
        function callSortResults(sortColumn,isAscSort){
            jsSortResults(sortColumn,isAscSort);
        }
    </script>
    
    <apex:form id="form1">
        <apex:actionRegion >
         <apex:actionFunction status="status" name="jsSortResults" action="{!sortResults}" rerender="pgeBlock1">
                <apex:param name="sortColumn" id="sortColumn" value="" assignto="{!sortColumn}" />
         </apex:actionFunction>  
         </apex:actionRegion>
        <div class="headerSection">
        	<img src="/s.gif" class="headerImage" />
        </div> 
        <apex:pageBlock rendered="{!OR(enableCareersSearch, enableCareersJobFunctionSearch, enableCareersLocationSearch)}" id="searchPB">
            
                <table width="100%" class="searchTable">
                	<tr>
                		<td colspan="2" class="searchTableTitleColumn"><h1 class="searchTableTitle">Search Openings</h1></td>
                	</tr>
                	<apex:variable value="" var="v5" rendered="{!enableCareersSearch}" id="v5">
                	<tr>
                		<td class="searchTableLabelColumn"><apex:outputLabel value="Job Title"/></td>
                		<td class="searchTableInputColumn">
                			<apex:outputPanel >
		                         <select id="jobTitleList" data-role="none">
		                          <apex:repeat value="{!jobTitleSelectOptions}" var="main">
		                          <apex:repeat value="{!main}" var="v">
		                            <option value="{!v.Value}" >{!v.Label}</option>
		                          </apex:repeat>
		                          </apex:repeat>
		                          <apex:inputHidden value="{!searchJobTitle}" id="jobTitleHidden"/>
		                        </select>       
		                    </apex:outputPanel>
                		</td>
                	</tr>
                	</apex:variable>
                	<apex:variable value="" var="v6" rendered="{!enableCareersJobFunctionSearch}">
	                	<tr>
	                		<td class="searchTableLabelColumn"><apex:outputLabel value="Job Function"/></td>
	                		<td class="searchTableInputColumn">
	                			<apex:outputPanel >
			                         <select id="jobFunctionList" onchange="document.getElementById('{!$Component.jobFunctionHidden}').value=this.value">
			                          <apex:repeat value="{!jobFunctionSelectOptions}" var="main">
			                          <apex:repeat value="{!main}" var="v">
			                            <option value="{!v.Value}" >{!v.Label}</option>
			                          </apex:repeat>
			                          </apex:repeat>
			                        </select>
			                        <apex:inputHidden value="{!searchJobFunction}" id="jobFunctionHidden"/>       
			                    </apex:outputPanel>
	                		</td>
	                	</tr>
                	</apex:variable>
                	<apex:variable value="" var="v7" rendered="{!enableCareersLocationSearch}">
	                	<tr>
	                		<td class="searchTableLabelColumn"><apex:outputLabel value="Job Location"/></td>
	                		<td class="searchTableInputColumn">
	                			<apex:outputPanel >
			                         <select id="jobLocationList" onchange="document.getElementById('{!$Component.jobLocationHidden}').value=this.value">
			                          <apex:repeat value="{!jobLocationSelectOptions}" var="main">
			                          <apex:repeat value="{!main}" var="v">
			                            <option value="{!v.Value}" >{!v.Label}</option>
			                          </apex:repeat>
			                          </apex:repeat>
			                        </select>
			                        <apex:inputHidden value="{!searchJobLocation}" id="jobLocationHidden"/>       
			                    </apex:outputPanel>
	                		</td>
	                	</tr>
                	</apex:variable>
                	<apex:variable value="" var="v8" rendered="{!enableCareersRegionSearch}">
	                	<tr>
	                		<td class="searchTableLabelColumn"><apex:outputLabel value="Region"/></td>
	                		<td class="searchTableInputColumn">
	                			<apex:outputPanel >
			                         <select id="jobRegionList" onchange="document.getElementById('{!$Component.jobRegionHidden}').value=this.value">
			                          <apex:repeat value="{!jobRegionSelectOptions}" var="main">
			                          <apex:repeat value="{!main}" var="v">
			                            <option value="{!v.Value}" >{!v.Label}</option>
			                          </apex:repeat>
			                          </apex:repeat>
			                        </select>
			                        <apex:inputHidden value="{!searchJobRegion}" id="jobRegionHidden"/>       
			                    </apex:outputPanel>
	                		</td>
	                	</tr>
                	</apex:variable>
                </table>
                 <!-- 
                 <apex:pageBlockSection title="Search Openings" columns="1" id="searchPBS">
                <apex:pageBlockSectionItem rendered="{!enableCareersSearch}" id="searchJobTitlePBSI">
                    <apex:outputLabel value="Job Title"/>
                    <apex:outputPanel >
                         <select id="jobTitleList" data-role="none">
                          <apex:repeat value="{!jobTitleSelectOptions}" var="main">
                          <apex:repeat value="{!main}" var="v">
                            <option value="{!v.Value}" >{!v.Label}</option>
                          </apex:repeat>
                          </apex:repeat>
                          <apex:inputHidden value="{!searchJobTitle}" id="jobTitleHidden"/>
                        </select>       
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!enableCareersJobFunctionSearch}">
                    <apex:outputLabel value="Job Function"/>
                    <apex:outputPanel >
                         <select id="jobFunctionList" onchange="document.getElementById('{!$Component.jobFunctionHidden}').value=this.value">
                          <apex:repeat value="{!jobFunctionSelectOptions}" var="main">
                          <apex:repeat value="{!main}" var="v">
                            <option value="{!v.Value}" >{!v.Label}</option>
                          </apex:repeat>
                          </apex:repeat>
                        </select>
                        <apex:inputHidden value="{!searchJobFunction}" id="jobFunctionHidden"/>       
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem rendered="{!enableCareersLocationSearch}">
                    <apex:outputLabel value="Job Location"/>
                    <apex:outputPanel >
                         <select id="jobLocationList" onchange="document.getElementById('{!$Component.jobLocationHidden}').value=this.value">
                          <apex:repeat value="{!jobLocationSelectOptions}" var="main">
                          <apex:repeat value="{!main}" var="v">
                            <option value="{!v.Value}" >{!v.Label}</option>
                          </apex:repeat>
                          </apex:repeat>
                        </select>
                        <apex:inputHidden value="{!searchJobLocation}" id="jobLocationHidden"/>       
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
                 -->
            
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{!doFilter}" value="Search" rerender="pgeBlock1" styleClass="btn"/>
            </apex:pageBlockButtons>
        </apex:pageBlock> 
         
         
        <apex:pageBlock id="pgeBlock1"> 
            <apex:pageMessages id="errors" />
            <apex:pageBlockTable id="pageBlockTable1" value="{!listOfJobOpening}" var="li" rowClasses="jobPostingTableRowA, jobPostingTableRowB" columnClasses="jobPostingTableColumnA, jobPostingTableColumnB">
                <apex:repeat value="{!$ObjectType.VanaHCM__Job_Opening__c.FieldSets.VanaHCM__SiteUserFieldSet}" var="f">
                    <apex:column rendered="{!NOT(f = 'Id')}">
                      <apex:facet name="header">
                          <apex:outputPanel >
                          <a href="#" onclick="callSortResults('{!f}',{!NOT(isAscSort)});return false;">
                             {!f.Label}
                             <apex:image title="{!IF(AND(sortColumn = f,isAscSort),'Sorted Ascending', 'Sorted Descending')}" 
                                     styleClass="{!IF(AND(sortColumn = f,isAscSort),'sortAsc', 'sortDesc')}" 
                                     alt=""  
                                     rendered="{!sortColumn = f}"
                                     value="/s.gif"/>
                          </a>
                          </apex:outputPanel>
                      </apex:facet>
                      
                      <apex:outputPanel rendered="{!IF(f.Label == 'Title', true,false)}">
                        <div class="jobPostingTitleDiv">
                        <apex:outputLink value="{!$Page.VanaHCM__Job_Detail}?Id={!li.Id}">
                            <apex:outputText value="{!li[f]}" />
                        </apex:outputLink>
                        </div>
                        <apex:outputPanel rendered="{!li.VanaHCM__Include_Job_Summary__c}" styleClass="jobPostingSummaryDiv">
                            <div class="jobPostingSummaryInnerDiv">
                                <apex:outputText value="{!IF(AND(LEN(li.VanaHCM__Job_Posting_Summary__c) < 200), li.VanaHCM__Job_Posting_Summary__c, LEFT(li.VanaHCM__Job_Posting_Summary__c, 200) & "...")}" />
                                <span class="moreLinkSpan">
                                    <apex:outputLink value="{!$Page.VanaHCM__Job_Detail}?Id={!li.Id}">Read More</apex:outputLink>
                                </span>
                            </div>
                        </apex:outputPanel>
                      </apex:outputPanel>
                      
                      <apex:outputField value="{!li[f]}" rendered="{!IF(OR(f.Label == 'Record ID', f.Label == 'Posting Date',f.Label == 'Title', f.Label == 'Number of Openings'), false,true)}"/>
                      <apex:outputField value="{!li[f]}" rendered="{!IF(f.Label == 'Posting Date', true,false)}"/>
                      <apex:outputText value="{0,number,0}" rendered="{!IF(f.Label == 'Number of Openings', true,false)}">
                           <apex:param value="{!li[f]}" />
                       </apex:outputText>
                  </apex:column>
                 <!--
                 <apex:column rendered="{!NOT(f = 'Id')}">
                      <apex:facet name="header">
                          {!f.Label}
                      </apex:facet>
                      
                      <apex:outputLink value="{!$Page.VanaHCM__Job_Detail}?Id={!li.Id}" style="text-decoration:none;" rendered="{!IF(f.Label == 'Title', true,false)}">{!li[f]}</apex:outputLink>
                      <apex:outputLabel value="{!li[f]}" rendered="{!IF(OR(f.Label == 'Record ID', f.Label == 'Posting Date',f.Label == 'Title', f.Label == 'Number of Openings'), false,true)}"/>
                      <apex:outputField value="{!li[f]}" rendered="{!IF(f.Label == 'Posting Date', true,false)}"/>
                      <apex:outputText value="{0,number,0}" rendered="{!IF(f.Label == 'Number of Openings', true,false)}">
                           <apex:param value="{!li[f]}" />
                       </apex:outputText>
                  </apex:column>    -->
                </apex:repeat>
                </apex:pageBlockTable> 
        </apex:pageBlock>
    </apex:form>
         
	<div class="footerSection">
		<img src="/s.gif" class="footerImage" />
	</div>       
<apex:variable value="" var="v3" rendered="{!enableCareersSearch}">
<script>
    (function( $ ) {
        $.widget( "ui.combobox", {
            _create: function() {
                var self = this,
                    select = this.element.hide(),
                    selected = select.children( ":selected" ),
                    value = selected.val() ? selected.text() : "";
                var input = this.input = $( "<input>" )
                    .insertAfter( select )
                    .val( value )
                    .autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: function( request, response ) {
                            var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
                            response( select.children( "option" ).map(function() {
                                var text = $( this ).text();
                                if ( this.value && ( !request.term || matcher.test(text) ) )
                                    return {
                                        label: text.replace(
                                            new RegExp(
                                                "(?![^&;]+;)(?!<[^<>]*)(" +
                                                $.ui.autocomplete.escapeRegex(request.term) +
                                                ")(?![^<>]*>)(?![^&;]+;)", "gi"
                                            ), "<strong>$1</strong>" ),
                                        value: text,
                                        option: this
                                    };
                            }) );
                        },
                        select: function( event, ui ) {
                            ui.item.option.selected = true;
                            self._trigger( "selected", event, {
                                item: ui.item.option
                            });
                            onJobTitleChange(String(ui.item.option.value));
                            
                        },
                        change: function( event, ui ) {
                            if ( !ui.item ) {
                                var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( $(this).val() ) + "$", "i" ),
                                    valid = false;
                                select.children( "option" ).each(function() {
                                    if ( $( this ).text().match( matcher ) ) {
                                        this.selected = valid = true;
                                        return false;
                                    }
                                });
                                if ( !valid ) {
                                    // remove invalid value, as it didn't match anything
                                    /*
                                    $( this ).val( "" );
                                    select.val( "" );
                                    input.data( "autocomplete" ).term = "";
                                    */
                                    onJobTitleChange($( this ).val());
                                    return false;
                                }
                                
                            }
                        }
                    })
                    .addClass( "ui-widget ui-widget-content ui-corner-left" );

                input.data( "autocomplete" )._renderItem = function( ul, item ) {
                    return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( "<a>" + item.label + "</a>" )
                        .appendTo( ul ); 
                }; 

                this.button = $( '<button type="button">&nbsp;</button>' )
                    .attr( "tabIndex", -1 )
                    .attr( "title", "Show All Items" )
                    .insertAfter( input )
                    .button({
                        icons: {
                            primary: "ui-icon-triangle-1-s"
                        },
                        text: false 
                    }) 
                    .removeClass( "ui-corner-all" )
                    .addClass( "ui-corner-right ui-button-icon" )
                    .click(function() {
                        // close if already visible
                        if ( input.autocomplete( "widget" ).is( ":visible" ) ) {
                            input.autocomplete( "close" );
                            return;
                        }

                        // work around a bug (likely same cause as #5265)
                        $( this ).blur();

                        // pass empty string as value to search for, displaying all results
                        input.autocomplete( "search", "" );
                        input.focus();
                    });
            },
 
            destroy: function() {
                this.input.remove();
                this.button.remove();
                this.element.show();
                $.Widget.prototype.destroy.call( this );
            }
        });
    })( jQuery );
    var selId;
    $(function() {
        $('#jobTitleList').combobox();
    });
    
    function setSelectedValueAtLoad(){
        $("#jobTitleList").find("option").each(function(){
        if($(this).val() != '-1'){
            var strOption =  $(this).val();
            strOption = strOption.substring(0, strOption.length -3);
            if(strOption == selId){
                $('#jobTitleList').next().val($(this).text());
            }
        }
    
    });
    }
    function onJobTitleChange(selectedTitle){
        document.getElementById('{!$Component.page1.form1.searchPB.v5.jobTitleHidden}').value = selectedTitle;
    }
    
    </script>   
    </apex:variable>    
</apex:page>