<apex:page sidebar="true" showHeader="true" id="page1" controller="VanaHCM.Learning_CatalogController" action="{!init}" tabStyle="VanaHCM__Learning_Catalog__c">
    <apex:styleSheet value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/themes/base/jquery.ui.all.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'js/jquery-1.5.1.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.core.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.widget.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.button.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.position.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.autocomplete.js')}" />
     <style>
        .ui-button { margin-left: -1px; }
        .ui-button-icon-only .ui-button-text { padding: 0.35em; } 
        .ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em;width:200px; }
        .ui-widget-content {
            border: 1px solid #79B4CD;
         }
         body .x-btn-pressed, body .x-btn-click, body .x-btn-menu-active, body button:active, body .btn:active, body .btnCancel:active, body .menuButton .menuButtonButton:active {
            border-color: #79B4CD;
         }
         button.ui-button-icon-only {
             background: none repeat scroll 0 0 #FCFCFC;
             border: 1px solid #79B4CD;
         }
    </style>
    <apex:form id="form1">
        <apex:sectionHeader title="Learning Catalog"  />
        <apex:pageBlock id="block1">
            <apex:pageBlockSection id="section1">
                <apex:pageBlockSectionItem >
                    <apex:outputPanel >
                         <div style="padding-top:0px;float:left;padding-right:10px;">
                         <apex:actionStatus id="status" startText="Please wait....">
                                <apex:facet name="start"><apex:image value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'image/loading_5.gif')}"></apex:image></apex:facet>
                                <apex:facet name="stop"></apex:facet>
                          </apex:actionStatus> 
                          </div> 
                          <div style="padding-top:8px;">
                            <apex:outputLabel value="Catalog Title" />
                        </div>
                    </apex:outputPanel>     
                    <apex:outputPanel id="pnlListCatalog"> 
                         <select id="SelCatalog">
                             <apex:repeat value="{!listOfCatalogOptions}" var="v">
                                 <apex:variable var="v2" value="">
                                    <option value="{!v.Value}" >{!v.Label}</option>
                                 </apex:variable>  
                             </apex:repeat>
                        </select>       
                        <script>
                            $('#SelCatalog').combobox();
                        </script>
                    </apex:outputPanel> 
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputPanel >
                         <div style="padding-top:8px;">
                            <apex:outputLabel value="Learning Type" />
                        </div>
                    </apex:outputPanel>     
                    <apex:outputPanel >
                         <select id="SelLearningType">
                             <apex:repeat value="{!listOfLearningTypeOptions}" var="v">
                                 <apex:variable var="v2" value="">
                                    <option value="{!v.Value}" >{!v.Label}</option>
                                 </apex:variable>  
                             </apex:repeat>
                        </select>       
                    </apex:outputPanel> 
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1">
                <apex:outputPanel id="pnlTable" >
                    <apex:outputLabel value="No Records Found" rendered="{!IF(listOfCatalog.SIZE>0,false,true)}">
                    </apex:outputLabel>
                    <apex:pageBlockTable value="{!listOfCatalog}" var="lst" rendered="{!IF(listOfCatalog.SIZE>0,true,false)}">
                        <apex:column headerValue="Title">
                            <apex:outputLink value="/{!lst.Id}" >{!lst.Name}</apex:outputLink>
                        </apex:column>
                        <apex:column headerValue="Type">
                            <apex:outputLabel value="{!lst.Learning_Type_Catalog__r.name}" />
                       
                          
                        </apex:column> 
                        <apex:column headerValue="Description">
                            <apex:outputField value="{!lst.VanaHCM__Description_Learning_Catalog__c}" />
                        </apex:column>
                        <apex:column headerValue="URL">
                            <apex:outputField value="{!lst.VanaHCM__URL__c}" />
                        </apex:column>
                         <apex:column headerValue="Start Date">
                            <apex:outputField value="{!lst.VanaHCM__Start_Date__c}" />
                        </apex:column>
                         <apex:column headerValue="End Date">
                            <apex:outputField value="{!lst.VanaHCM__End_Date__c}" />
                        </apex:column>
                        <apex:column >
                            <input type="button" class="btn" value="Enroll"  onClick="openLearningPlanWindow('{!lst.Id}')" />
                        </apex:column>
                    </apex:pageBlockTable>
                </apex:outputPanel>  
            </apex:pageBlockSection>
        </apex:pageBlock>
         <apex:actionFunction name="FetchCatalog" action="{!FetchCatalog}" Status="status" rerender="pnlTable" >
            <apex:param name="seletedId" value="" assignTo="{!selectedType}" />
        </apex:actionFunction>
        <apex:actionFunction name="FetchCatalogFilterByName" action="{!FetchCatalogFilterByName}" Status="status" rerender="pnlTable" >
            <apex:param name="seletedTitle" value=""  assignTo="{!selectedCataLogId}" />
        </apex:actionFunction>
    </apex:form> 
     <script> 
   function openLearningPlanWindow(catid){
    var url = '{!$Page.VanaHCM__New_Learning}'; 
    url += '?cat='+ catid;
    url += '&retURL=' + '{!$Page.VanaHCM__Learning_Catalog}';
    window.open(url);
   }
    (function( $ ) {
        $.widget( "ui.combobox", {
            _create: function() {
                var self = this,
                    select = this.element.hide(),
                    selected = select.children( ":selected" ),
                    value = selected.val() ? selected.text() : "";
                var input = this.input = $( "<input>" )
                    .insertAfter( select )
                    .val( value )
                    .autocomplete({
                        delay: 0,
                        minLength: 0,
                        source: function( request, response ) {
                            var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
                            response( select.children( "option" ).map(function() {
                                var text = $( this ).text();
                                if ( this.value && ( !request.term || matcher.test(text) ) )
                                    return {
                                        label: text.replace(
                                            new RegExp(
                                                "(?![^&;]+;)(?!<[^<>]*)(" +
                                                $.ui.autocomplete.escapeRegex(request.term) +
                                                ")(?![^<>]*>)(?![^&;]+;)", "gi"
                                            ), "<strong>$1</strong>" ),
                                        value: text,
                                        option: this
                                    };
                            }) );
                        },
                        select: function( event, ui ) {
                            ui.item.option.selected = true;
                            self._trigger( "selected", event, {
                                item: ui.item.option
                            }); 
                            //alert('ui.item.option-->' + ui.item.option.value);
                            if(self.element[0].id == "SelLearningType"){
                                FetchCatalog(String(ui.item.option.value));
                            }else{
                                FetchCatalogFilterByName(String(ui.item.option.value));
                            }     
                             
                        },
                        change: function( event, ui ) {
                            if ( !ui.item ) {
                                var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( $(this).val() ) + "$", "i" ),
                                    valid = false;
                                select.children( "option" ).each(function() {
                                    if ( $( this ).text().match( matcher ) ) {
                                        this.selected = valid = true;
                                        return false;
                                    }
                                });
                                if ( !valid ) {
                                    // remove invalid value, as it didn't match anything
                                    $( this ).val( "" );
                                    select.val( "" );
                                    input.data( "autocomplete" ).term = "";
                                    return false;
                                }
                            }
                        }
                    })
                    .addClass( "ui-widget ui-widget-content ui-corner-left" );

                input.data( "autocomplete" )._renderItem = function( ul, item ) {
                    return $( "<li></li>" )
                        .data( "item.autocomplete", item )
                        .append( "<a>" + item.label + "</a>" )
                        .appendTo( ul ); 
                }; 

                this.button = $( '<button type="button">&nbsp;</button>' )
                    .attr( "tabIndex", -1 )
                    .attr( "title", "Show All Items" )
                    .insertAfter( input )
                    .button({
                        icons: {
                            primary: "ui-icon-triangle-1-s"
                        },
                        text: false 
                    }) 
                    .removeClass( "ui-corner-all" )
                    .addClass( "ui-corner-right ui-button-icon" )
                    .click(function() {
                        // close if already visible
                        if ( input.autocomplete( "widget" ).is( ":visible" ) ) {
                            input.autocomplete( "close" );
                            return;
                        }

                        // work around a bug (likely same cause as #5265)
                        $( this ).blur();

                        // pass empty string as value to search for, displaying all results
                        input.autocomplete( "search", "" );
                        input.focus();
                    });
            },

            destroy: function() {
                this.input.remove();
                this.button.remove();
                this.element.show();
                $.Widget.prototype.destroy.call( this );
            }
        });
    })( jQuery );

    $(function() {
        //var ctrl = document.getElementById("page1:form1:block1:section1:secItem1:workerList");
        //$(ctrl).combobox();
        $('#SelLearningType').combobox();
        $('#SelCatalog').combobox();
        
    });
    </script>
</apex:page>