<apex:page standardController="VanaHCM__Performance_Questions__c" id="thePage" title="New {!Include_Questions_Label}"  extensions="VanaHCM.New_QuestionController" showHeader="{!NOT(isFromPopUp)}" sideBar="{!NOT(isFromPopUp)}">
    <apex:form >
        <apex:sectionHeader title="New {!Include_Questions_Label}" />
        <apex:pageMessages id="msg"></apex:pageMessages>
        <apex:pageBlock >  
            <apex:pageBlockButtons > 
                <apex:commandButton action="{!save}" value="Save" rerender="decideAfterSaveStatus,msg" status="SaveStatus" rendered="{!isFromPopUp}"></apex:commandButton>
                <apex:commandButton action="{!SaveDataRedirect}" value="Save" status="SaveStatus" rendered="{!NOT(isFromPopUp)}" />
                <apex:commandButton action="{!cancel}" value="Cancel" rendered="{!NOT(isFromPopUp)}"></apex:commandButton>
                <apex:outputPanel rendered="{!isFromPopUp}">
                    <input type="button" class="btn" value="Cancel" onclick="parent.$.fancybox.close();" />
                </apex:outputPanel>
                <apex:actionStatus startText="Please wait" id="SaveStatus" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1" title="Enter {!Include_Questions_Label} or Select Existing {!Include_Questions_Label} from the Library">
                <apex:inputField value="{!Performance_Questions.name}" style="width:450px;"></apex:inputField>
                <apex:inputField value="{!Performance_Questions.VanaHCM__Questions_Performance_Plan__c}" style="width:450px;"></apex:inputField>
                <apex:inputField value="{!Performance_Questions.VanaHCM__Performance_Plan_EE_Questions__c}"></apex:inputField>
                <apex:inputField value="{!Performance_Questions.VanaHCM__Weight__c}"></apex:inputField>
                
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:outputPanel id="decideAfterSaveStatus">
        <script>
            if({!AND(isFromPopUp,isCompleted)}){
                parent.$.fancybox.close();
                window.parent.location.reload(true);
            }
        </script>
        </apex:outputPanel>
    </apex:form>
 </apex:page>