<!-- 
//--------------------------------------------------------//
//Date  :   
//Des   :   Page to show compensation 
//--------------------------------------------------------//
 --> 
<apex:page standardController="VanaHCM__Compensation__c"  title="New Compensation" tabStyle="VanaHCM__Compensation__c" extensions="VanaHCM.New_CompensationController" id="page1">
    <apex:includeScript value="{!$Resource.VanaHCM__jquery}"/>
    <apex:form id="form1">
        <apex:sectionHeader title="New Compensation" />
        <apex:pageMessages ></apex:pageMessages>
        <apex:pageBlock id="pgeBlock1" title="Compensation Detail" >
            <apex:pageBlockButtons >
                <apex:commandButton action="{!save}" value="Save"></apex:commandButton>
                <apex:commandButton action="{!Cancel}" value="Cancel"></apex:commandButton>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Compensation Detail" id="section0">
              
                <apex:inputField value="{!Compensation.VanaHCM__Effective_Date_Compensation__c}" required="true" />
                <apex:inputField value="{!Compensation.VanaHCM__Worker_Compensation__c}" />
                <apex:inputField value="{!Compensation.VanaHCM__Effective_Sequence__c}" />
                <apex:inputField value="{!Compensation.VanaHCM__Position_Indicator__c}" />
                <apex:inputField value="{!Compensation.VanaHCM__Effective_Until__c}"/>
                <apex:inputField value="{!Compensation.VanaHCM__Position_Number__c}" />
                <apex:inputField value="{!Compensation.VanaHCM__Compensation_Event__c}" />
                <apex:outputLabel value="" />
                <apex:inputField value="{!Compensation.VanaHCM__Compensation_Plan__c}" />
                <apex:outputLabel value="" />
                <apex:inputField value="{!Compensation.VanaHCM__Compensation_Grade__c}" />
                <apex:outputLabel value="" />
                <apex:inputField value="{!Compensation.VanaHCM__Compensation_Frequency__c}" id="txtInputFrequency" />
                <apex:outputLabel value="" />
                <apex:inputField value="{!Compensation.VanaHCM__Pay_Group__c}"  />
                <apex:outputLabel value="" />
                 <apex:inputField value="{!Compensation.VanaHCM__Earnings_Code_Base__c}"  />
                <apex:outputLabel value="" />
                <apex:inputField value="{!Compensation.VanaHCM__Cost_Center_Compensation__c}"  />
                <apex:outputLabel value="" />
             </apex:pageBlockSection>   
              <apex:pageBlockSection id="section3" columns="2">
                 <apex:inputField value="{!Compensation.VanaHCM__Compensation_Rate__c}"  onblur="CalculateTotalBaseCompensation_Marit_Increase_Amount();" id="txtComponsationRate" onfocus="SetOldCompensationRate(this.value)"/>
                 <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Total Base Compensation" />
                    <div id="divTotalBaseCompensation" ></div>
                 </apex:pageBlockSectionItem>    
                 <apex:inputHidden id="txtComponsationRateHidden"  value="{!Compensation_Rate}"  />
                <apex:outputLabel value="" />
        		<apex:inputField value="{!compensation['CurrencyIsoCode']}" rendered="{!isMultiCurrencyEnabled}"/>
              <!--   <apex:inputField value="{!Compensation.Base_Salary__c}" id="txtBaseSalary" onblur="CalculateTotalBaseCompensation();" />  -->
            </apex:pageBlockSection> 
            <apex:pageBlockSection id="section1" title="Merit Payment">
                <apex:inputField value="{!Compensation.VanaHCM__Merit_Increase_Amount__c}" onblur="CalculateTotalBaseCompensation_Marit_Increase_Amount();" id="txtMeritIncreaseAmount" onfocus="SetOldMeritIncreaseAmount(this.value)"/>
                <apex:inputField value="{!Compensation.VanaHCM__Merit_Increase__c}"  onblur="CalculateTotalBaseCompensation_Marit_Increase_Amount();" id="txtMeritIncrease" onfocus="SetOldMeritIncreasePercentage(this.value)"/>
            </apex:pageBlockSection> 
              
            <apex:pageBlockSection id="section4" columns="2" title="Bonus & One-Time Payment"> 
             <apex:inputField value="{!Compensation.VanaHCM__Earnings_Code__c}" /> 
           
                <apex:inputField value="{!Compensation.VanaHCM__Bonus_Increase_Amount__c}" />    
                <apex:inputField value="{!Compensation.VanaHCM__Bonus_Increase__c}" />
               
            </apex:pageBlockSection>
            <apex:pageBlockSection id="section2" columns="2" title="New Compensation" >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="New Annual Compensation" />
                    <input type="text" id="txtTotalBaseCompensation"  value="{!Compensation.Total_Base_Compensation__c}"  readOnly="true" />
                </apex:pageBlockSectionItem>    
            </apex:pageBlockSection>
            <apex:outputPanel >
                <script>
                    var OldMeritIncreasePercentage= 0;
                    var OldMeritIncreaseAmount = 0;
                    var OldCompensationRate = 0;
                    function SetOldMeritIncreasePercentage(val){
                        OldMeritIncreasePercentage = parseFloat(val);
                    }
                    function SetOldMeritIncreaseAmount(val){
                        OldMeritIncreaseAmount = parseFloat(val);
                    }
                    function SetOldCompensationRate(val){
                        OldCompensationRate = parseFloat(val);
                    }
                    var jsonComponsationFrequency = [];
                    <apex:repeat value="{!listOfComponsationFreq}" var="lst">
                          var jsCompo = new Object();
                          jsCompo["id"] =  "{!lst.Id}";
                          jsCompo["name"] =  "{!lst.Name}";
                          jsCompo["setup"] =  "{!lst.VanaHCM__View_Setup_and_Configuration__c}";
                          jsonComponsationFrequency.push(jsCompo);
                    </apex:repeat> 
                      
                    function calculateCompoFrequency(){
                        //if(CompensationRate != ""){
                        //  CompensationRate = parseFloat(CompensationRate);
                            
                            var ctrl2 = document.getElementById("page1:form1:pgeBlock1:section3:txtComponsationRate");
                            if(ctrl2 != 'undefined'){
                            var val = ctrl2.value.replace(",","");
                            
                                var CompensationRate = parseFloat(val);
                                var doc = document.getElementById('page1:form1:pgeBlock1:section0:txtInputFrequency');
                                if(doc != 'undefined' && doc.value != ""){
                                    var ctrlCuurentCompo = document.getElementById("txtTotalBaseCompensation");
                                    var ctrl = document.getElementById("divTotalBaseCompensation");
                                    var CompensationRate_T = parseFloat(ctrl.innerHTML);
                                    for(var i=0;i<jsonComponsationFrequency.length;i++){
                                         if(jsonComponsationFrequency[i].name == doc.value){
                                            ctrlCuurentCompo.value = jsonComponsationFrequency[i].setup * CompensationRate_T;
                                            break;
                                         }
                                    }
                                    
                                }
                            }    
                         //}   
                        /*
                        var ctrl2 = document.getElementById("page1:form1:pgeBlock1:section3:txtComponsationRateHidden");
                        if(ctrl2.value == 0 || ctrl2.value == ""){
                            ctrl2.value = CompensationRate;
                        } */  
                    }
                </script>   
            </apex:outputPanel>
            <script>
            
                function CalculateTotalBaseCompensation_Marit_Increase_Amount(){
                    try{
                            var ctrlMeritIncreaseAmount = document.getElementById("page1:form1:pgeBlock1:section1:txtMeritIncreaseAmount");
                            var ctrlMeritIncrease = document.getElementById("page1:form1:pgeBlock1:section1:txtMeritIncrease");
                            //var ctrlBaseSalary = document.getElementById("txtTotalBaseCompensation");
                            var ctrlComponsationRate = document.getElementById("page1:form1:pgeBlock1:section3:txtComponsationRate");
                           // var ctrlComponsationRateHidden = document.getElementById("page1:form1:pgeBlock1:section3:txtComponsationRateHidden");
                            //Base_Salary__c + (Base_Salary__c * Merit_Increase__c) + Merit_Increase_Amount__c
                            var pasedctrlMeritIncreaseAmount = 0, parsedctrlMeritIncrease = 0, parsedctrlBaseSalary = 0;
                            var parseCompensationRate = 0; 
                            var ctrlHidden = 0;  
                            if(ctrlMeritIncreaseAmount.value != ''){
                                 pasedctrlMeritIncreaseAmount = parseFloat(ctrlMeritIncreaseAmount.value.replace(',',''));
                            }    
                            if(ctrlMeritIncrease.value != ''){ 
                                parsedctrlMeritIncrease = parseFloat(ctrlMeritIncrease.value.replace(',','')); 
                            }
                            if(ctrlComponsationRate.value != ''){
                                parseCompensationRate = parseFloat(ctrlComponsationRate.value.replace(',','')); 
                            }
                            //calculate by common logic
                            if(!isNaN(parseCompensationRate) && parseCompensationRate>0){
                                var calculatedTotalAmount = parseFloat(parseCompensationRate + (parseCompensationRate * (parsedctrlMeritIncrease/100)) + pasedctrlMeritIncreaseAmount);
                                var ctrl = document.getElementById("divTotalBaseCompensation");
                                if(!isNaN(calculatedTotalAmount)){
                                    ctrl.innerHTML = calculatedTotalAmount;
                                    calculateCompoFrequency();
                                }   
                            }
                            
                            /*
                            //in case of need to reset
                            if(pasedctrlMeritIncreaseAmount == 0 && parsedctrlMeritIncrease == 0){//reset the componsation rate from the old one
                                if(OldCompensationRate >= 0){                       
                                    ctrlComponsationRate.value = OldCompensationRate; 
                                    calculateCompoFrequency(ctrlComponsationRate.value);
                                }   
                            }else{
                            
                                    //if OldMeritIncreaseAmount changed than just add the amount in rate
                                    if(OldMeritIncreaseAmount != pasedctrlMeritIncreaseAmount){
                                        var calculatedTotalAmount = ctrlComponsationRateHidden + pasedctrlMeritIncreaseAmount;
                                        if(!isNaN(calculatedTotalAmount)){
                                            //ctrlComponsationRate.value =  calculatedTotalAmount;
                                            var ctrl = document.getElementById("divTotalBaseCompensation");
                                            ctrl.innerHTML = calculatedTotalAmount;
                                        }   
                                        //OldMeritIncreaseAmount = pasedctrlMeritIncreaseAmount;
                                    }
                                    else if(OldMeritIncreasePercentage != parsedctrlMeritIncrease){
                                        var calculatedTotalAmount = parseFloat(ctrlComponsationRateHidden + (ctrlComponsationRateHidden * (parsedctrlMeritIncrease/100)) + pasedctrlMeritIncreaseAmount);
                                        if(!isNaN(calculatedTotalAmount)){
                                            //ctrlComponsationRate.value =  calculatedTotalAmount;
                                            var ctrl = document.getElementById("divTotalBaseCompensation");
                                            ctrl.innerHTML = calculatedTotalAmount;
                                            calculateCompoFrequency(ctrlComponsationRate.value);
                                        }   
                                        //OldMeritIncreasePercentage = parsedctrlMeritIncrease;
                                     }    
                            } */
                      }catch(e){
                        console.log('Exception' + e.toString());
                      }      
                }
                $(document).ready(function(){
                    CalculateTotalBaseCompensation_Marit_Increase_Amount();
                });
            </script>
        </apex:pageBlock>
    </apex:form>
 </apex:page>