<apex:page standardController="VanaHCM__Worker__c"  extensions="VanaHCM.New_WorkerAssignmentV2Controller" sidebar="true" showHeader="true" id="page1" >
    <apex:includeScript value="{!$Resource.VanaHCM__jquery}"/>
    <apex:form id="form1">
        <!-- <apex:sectionHeader title="Work Assignment" subTitle="{!workerAssignmentName}" /> -->
        <div class="bPageTitle">
            <div class="ptBody secondaryPalette">
                <div class="content" >
                    <table>
                     <tr>
                         <td rowspan="2"><apex:image id="profileImage" url="{!smallPhotoURL}" /></td>
                         
                         <td><h1 class="pageType" style="margin-left:0px;">Worker</h1><span class="titleSeparatingColon">:</span><h2 class="pageDescription" style="margin-left:0px;">{!workerName}</h2>
                        </td>
                     </tr>
                     
                    </table>
                </div>
            </div>
        </div>
        <apex:pageMessages id="msg" />
        <apex:pageBlock title=" " id="mainPB">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!SaveData}" value="Save"  status="status" rerender="msg"  /> 
                <apex:commandButton action="{!cancel}" value="Cancel"/>
                <apex:actionStatus id="status" startText="Please wait....">
                      <apex:facet name="start">
                          <img src="/img/loading.gif" alt="please wait"/>  
                      </apex:facet>
                      <apex:facet name="stop"></apex:facet>
                </apex:actionStatus>
            </apex:pageBlockButtons>
          <!--   <apex:pageBlockSection columns="2" title="New Assignment Summary" collapsible="false">  
                <apex:inputField value="{!workerAssignment_fa.VanaHCM__Effective_Date_Work_Assign__c}" required="true"/> 
                 <apex:outputField value="{!workerAssignment_fa.Worker_Assignment__c}" /> 
                <apex:inputField value="{!workerAssignment_fa.VanaHCM__Worker_Event__c}" rendered="{!IF(isEventNeedToDisabled == true,false,true)}"/>
                <apex:outputField value="{!workerAssignment_fa.VanaHCM__Worker_Event__c}" rendered="{!IF(isEventNeedToDisabled == true,true,false)}"/>
            </apex:pageBlockSection>  --> 
             <apex:outputPanel id="pnlOuter">
             <!-- In case event is already filled, we display it read only but reason is dependent on event so filter don't work. So render event as hidden input field -->
             <apex:outputPanel rendered="{!AND(OR(isPromote, isTransfer, isTermination), isEventNeedToDisabled)}" style="display:none">
             		<apex:inputField value="{!workerAssignment_fa.VanaHCM__Worker_Event__c}"/>
             </apex:outputPanel>
             
             <apex:pageBlockSection columns="2" title="Promotion Details" collapsible="false" id="section1" rendered="{!isPromote}"> 
                <apex:pageblocksectionItem >
                	<apex:outputLabel value="Worker" />
                	<apex:outputText value="{!workerName}" />
                </apex:pageblocksectionItem> 
                <apex:inputField value="{!workerAssignment_fa.VanaHCM__Worker_Event__c}" rendered="{!IF(isEventNeedToDisabled == true,false,true)}"/>
                <apex:pageblocksectionItem rendered="{!IF(isEventNeedToDisabled == true,true,false)}">
                	<apex:outputLabel value="Worker Event" />
                	<apex:outputText value="{!workerAssignment_fa.Worker_Event__r.name}" />
                </apex:pageblocksectionItem>
                 <apex:inputField value="{!workerAssignment_fa.VanaHCM__Effective_Date_Work_Assign__c}" required="true"/> 
                <apex:repeat value="{!$ObjectType.VanaHCM__Worker_Assignment_FA__c.FieldSets.VanaHCM__Promote}" var="f">
                     <apex:InputField value="{!workerAssignment_fa[f]}"  rendered="{!(f.FieldPath == 'VanaHCM__Department__c')}"  onchange="doCallOnDepartmentChange()"/>
					 <apex:InputField value="{!workerAssignment_fa[f]}"  rendered="{!f.FieldPath == 'VanaHCM__Position__c'}" onchange="doCallOnPositionChange()"/>
                    <apex:InputField value="{!workerAssignment_fa[f]}"  rendered="{!(AND(f.FieldPath != 'VanaHCM__Department__c',f.FieldPath != 'VanaHCM__Position__c'))}"  />  
                </apex:repeat>
              </apex:pageBlockSection>  
            <apex:pageBlockSection columns="2" title="Compensation Details" collapsible="false" id="section1a" rendered="{!AND(isPromote,showCompensationOnThePage)}">    
            <!--    <apex:repeat value="{!$ObjectType.Compensation_FA__c.FieldSets.Work_Assignment_Promote}" var="f">
                     <apex:InputField value="{!compensation_fa[f]}" />  
                </apex:repeat> -->
                <!-- 
                <apex:inputField value="{!compensation_fa.Cost_Center_Compensation__c}"  />
                <apex:inputField value="{!compensation_fa.Effective_Until__c}"  />
                 -->
                 <apex:pageBlockSectionItem > 
                    <apex:outputLabel value="Compensation Frequency" />
                    <div id="txtInputFrequency" >{!Comp_Freq_Name}</div>
                 </apex:pageBlockSectionItem>   
                 <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Compensation Rate" />
                    <div id="txtComponsationRate" >{!compensation_fa.Compensation_Rate__c} </div>
                </apex:pageBlockSectionItem>    
                 <apex:inputField value="{!compensation_fa.VanaHCM__Merit_Increase_Amount__c}" onblur="CalculateTotalBaseCompensation_Marit_Increase_Amount();" id="txtMeritIncreaseAmount" onfocus="SetOldMeritIncreaseAmount(this.value)"/>
                <apex:inputField value="{!compensation_fa.VanaHCM__Merit_Increase__c}"  onblur="CalculateTotalBaseCompensation_Marit_Increase_Amount();" id="txtMeritIncrease" onfocus="SetOldMeritIncreasePercentage(this.value)"/>
                <apex:pageBlockSectionItem >
                      <apex:outputLabel value="New Annual Compensation" />
                      <div id="txtTotalBaseCompensation" >{!compensation_fa.Total_Base_Compensation__c}</div>
                 </apex:pageBlockSectionItem>
                  <div id="divTotalBaseCompensation" style="display:none;"></div>
                  <apex:inputField value="{!compensation_fa['CurrencyIsoCode']}" rendered="{!isMultiCurrencyEnabled}"/>
                  
            </apex:pageBlockSection>
            
             <apex:pageBlockSection columns="2" title="Transfer Details" collapsible="false" id="section2" rendered="{!isTransfer}"> 
              
                <apex:pageblocksectionItem >
                	<apex:outputLabel value="Worker" />
                	<apex:outputText value="{!workerName}" />
                </apex:pageblocksectionItem>
                 
                <apex:inputField value="{!workerAssignment_fa.VanaHCM__Worker_Event__c}" rendered="{!IF(isEventNeedToDisabled == true,false,true)}"/>
                
               <apex:pageblocksectionItem rendered="{!IF(isEventNeedToDisabled == true,true,false)}">
                	<apex:outputLabel value="Worker Event" />
                	<apex:outputText value="{!workerAssignment_fa.Worker_Event__r.name}" />
                </apex:pageblocksectionItem>
                
                <apex:inputField value="{!workerAssignment_fa.VanaHCM__Effective_Date_Work_Assign__c}" required="true"/> 
                <apex:repeat value="{!$ObjectType.VanaHCM__Worker_Assignment_FA__c.FieldSets.VanaHCM__Transfer}" var="f">
                     <apex:InputField value="{!workerAssignment_fa[f]}"  rendered="{!(f.FieldPath == 'VanaHCM__Department__c')}"  onchange="doCallOnDepartmentChange()"/>
					 <apex:InputField value="{!workerAssignment_fa[f]}"  rendered="{!f.FieldPath == 'VanaHCM__Position__c'}" onchange="doCallOnPositionChange()" />  
                     <apex:InputField value="{!workerAssignment_fa[f]}"  rendered="{!(AND(f.FieldPath != 'VanaHCM__Department__c',f.FieldPath != 'VanaHCM__Position__c'))}"  />
                </apex:repeat>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="Termination Details" collapsible="false" id="section3" rendered="{!isTermination}"> 
               
                <apex:pageblocksectionItem >
                	<apex:outputLabel value="Worker" />
                	<apex:outputText value="{!workerName}" />
                </apex:pageblocksectionItem>
                 
                <apex:inputField value="{!workerAssignment_fa.VanaHCM__Worker_Event__c}" rendered="{!IF(isEventNeedToDisabled == true,false,true)}"/>
                
                <apex:pageblocksectionItem rendered="{!IF(isEventNeedToDisabled == true,true,false)}">
                	<apex:outputLabel value="Worker Event" />
                	<apex:outputText value="{!workerAssignment_fa.Worker_Event__r.name}" />
                </apex:pageblocksectionItem>
                
                 <apex:inputField value="{!workerAssignment_fa.VanaHCM__Effective_Date_Work_Assign__c}" required="true"/> 
                <apex:repeat value="{!$ObjectType.VanaHCM__Worker_Assignment_FA__c.FieldSets.VanaHCM__Terminate}" var="f">
                     <apex:InputField value="{!workerAssignment_fa[f]}"  />   
                </apex:repeat>
             </apex:pageBlockSection>
           </apex:outputPanel> 
             <apex:outputPanel >
                <script>
                    var OldMeritIncreasePercentage= 0;
                    var OldMeritIncreaseAmount = 0;
                    var OldCompensationRate = 0;
                    function SetOldMeritIncreasePercentage(val){
                        OldMeritIncreasePercentage = parseFloat(val);
                    }
                    function SetOldMeritIncreaseAmount(val){
                        OldMeritIncreaseAmount = parseFloat(val);
                    }
                    function SetOldCompensationRate(val){
                        OldCompensationRate = parseFloat(val);
                    }
                    var jsonComponsationFrequency = [];
                    <apex:repeat value="{!listOfComponsationFreq}" var="lst">
                          var jsCompo = new Object();
                          jsCompo["id"] =  "{!lst.Id}";
                          jsCompo["name"] =  "{!lst.Name}";
                          jsCompo["setup"] =  "{!lst.VanaHCM__View_Setup_and_Configuration__c}";
                          jsonComponsationFrequency.push(jsCompo);
                    </apex:repeat> 
                      
                    function calculateCompoFrequency(){
                        //if(CompensationRate != ""){
                        //  CompensationRate = parseFloat(CompensationRate);
                            
                            var ctrl2 = document.getElementById("txtComponsationRate");
                            if(ctrl2 != 'undefined'){
                            	var val = ctrl2.innerHTML.replace(",","");
                            
                                var CompensationRate = parseFloat(val);
                                var doc = document.getElementById('txtInputFrequency');
                                if(doc != 'undefined' && doc.innerHTML != ""){
                                    var ctrlCuurentCompo = document.getElementById("txtTotalBaseCompensation");
                                    var ctrl = document.getElementById("divTotalBaseCompensation");
                                    var CompensationRate_T = parseFloat(ctrl.innerHTML);
                                    for(var i=0;i<jsonComponsationFrequency.length;i++){
                                         if(jsonComponsationFrequency[i].name == doc.innerHTML){
                                         	var calculatedComp = jsonComponsationFrequency[i].setup * CompensationRate_T;
                                         	try{
                                         		calculatedComp = parseFloat(calculatedComp).toFixed(2);
                                         	}catch (error){}
                                            ctrlCuurentCompo.innerHTML = calculatedComp;
                                            break;
                                         }
                                    }
                                    
                                }
                            }    
                         //}   
                        /*
                        var ctrl2 = document.getElementById("page1:form1:pgeBlock1:section3:txtComponsationRateHidden");
                        if(ctrl2.value == 0 || ctrl2.value == ""){
                            ctrl2.value = CompensationRate;
                        } */  
                    }
                </script>   
            </apex:outputPanel>
            <apex:actionfunction action="{!onDepartmentSelect}" name="jsOnDepartmentSelect" status="status" rerender="pnlOuter,msg"/>
            <apex:actionfunction action="{!onPositionSelect}" name="jsOnPositionSelect" status="status" rerender="pnlOuter,msg"/>
               <script>
            
                function CalculateTotalBaseCompensation_Marit_Increase_Amount(){
                    try{
                            var ctrlMeritIncreaseAmount = document.getElementById("page1:form1:mainPB:section1a:txtMeritIncreaseAmount");
                            var ctrlMeritIncrease = document.getElementById("page1:form1:mainPB:section1a:txtMeritIncrease");
                            //var ctrlBaseSalary = document.getElementById("txtTotalBaseCompensation");
                            var ctrlComponsationRate = document.getElementById("txtComponsationRate");
                           // var ctrlComponsationRateHidden = document.getElementById("page1:form1:pgeBlock1:section3:txtComponsationRateHidden");
                            //Base_Salary__c + (Base_Salary__c * Merit_Increase__c) + Merit_Increase_Amount__c
                            var pasedctrlMeritIncreaseAmount = 0, parsedctrlMeritIncrease = 0, parsedctrlBaseSalary = 0;
                            var parseCompensationRate = 0; 
                            var ctrlHidden = 0;  
                            if(ctrlMeritIncreaseAmount.value != ''){
                                 pasedctrlMeritIncreaseAmount = parseFloat(ctrlMeritIncreaseAmount.value.replace(',',''));
                            }    
                            if(ctrlMeritIncrease.value != ''){  
                                parsedctrlMeritIncrease = parseFloat(ctrlMeritIncrease.value.replace(',','')); 
                            }
                            if(ctrlComponsationRate.innerHTML != ''){
                                parseCompensationRate = parseFloat(ctrlComponsationRate.innerHTML.replace(',','')); 
                            }
                            //calculate by common logic
                            if(!isNaN(parseCompensationRate) && parseCompensationRate>0){
                                var calculatedTotalAmount = parseFloat(parseCompensationRate + (parseCompensationRate * (parsedctrlMeritIncrease/100)) + pasedctrlMeritIncreaseAmount);
                                var ctrl = document.getElementById("divTotalBaseCompensation");
                                if(!isNaN(calculatedTotalAmount)){
                                    ctrl.innerHTML = calculatedTotalAmount;
                                    calculateCompoFrequency();
                                }   
                            }
                      }catch(e){
                      }      
                }
                $(document).ready(function(){
                    CalculateTotalBaseCompensation_Marit_Increase_Amount();
                });
                
                function doCallOnDepartmentChange(){
                	if({!isDefaultValuesFromDepartment}){
                		jsOnDepartmentSelect();
                	}
                }
                function doCallOnPositionChange(){
                	if({!isDefaultValuesFromPosition}){
                		jsOnPositionSelect();
                	}
                }
                
                
            </script>
        </apex:pageBlock>
    </apex:form>    
</apex:page>