<apex:page standardController="VanaHCM__Worker_Address__c" id="thePage" title="New Address" tabStyle="New_Address__tab" extensions="VanaHCM.AddressController">

<apex:sectionHeader title="{!IF(isEditMode, 'Edit Address', 'New Address')}" />

<apex:form >

<apex:actionFunction name="onCountryCodeChanage" action="{!onCountryCodeChanage}" />

 
<apex:pageBlock >
<apex:pageMessages />

<apex:pageBlockButtons >
<apex:commandButton action="{!doEditWorkerAddress}" value="Save"></apex:commandButton>
<apex:commandButton action="{!cancel}" value="Cancel">
</apex:commandButton>
</apex:pageBlockButtons>
<apex:pageBlockSection columns="2" title="Address Summary">

<apex:inputField value="{!workerAddress.VanaHCM__Effective_Date_Address__c}"></apex:inputField>

<apex:inputField value="{!workerAddress.VanaHCM__Worker_Address__c}"></apex:inputField>

</apex:pageBlockSection>
<apex:pageBlockSection columns="1" title="Address Details">
<apex:inputField value="{!workerAddress.VanaHCM__Country_Codes__c}" onchange="onCountryCodeChanage();"></apex:inputField>

<apex:inputField value="{!workerAddress.VanaHCM__Address_Type__c}" />
<apex:inputField value="{!workerAddress.VanaHCM__Address_Line_1__c}" rendered="{!addressFormat.VanaHCM__Address_Line_1__c}"/>
<apex:inputField value="{!workerAddress.VanaHCM__Address_Line_2__c}" rendered="{!addressFormat.VanaHCM__Address_Line_2__c}"/>
<apex:inputField value="{!workerAddress.VanaHCM__Address_Line_3__c}" rendered="{!addressFormat.VanaHCM__Address_Line_3__c}"/>
<apex:inputField value="{!workerAddress.VanaHCM__Address_Line_4__c}" rendered="{!addressFormat.VanaHCM__Address_Line_4__c}"/>
<apex:inputField value="{!workerAddress.VanaHCM__Address_Line_5__c}" rendered="{!addressFormat.VanaHCM__Address_Line_5__c}"/>
<apex:inputField value="{!workerAddress.VanaHCM__Region__c}" rendered="{!addressFormat.VanaHCM__Region__c}"/>
<apex:inputField value="{!workerAddress.VanaHCM__City_Town__c}" rendered="{!addressFormat.VanaHCM__City_Town__c}"/>

<apex:pageblockSectionItem rendered="{!addressFormat.VanaHCM__State_Province_Lookup__c}">
	<apex:outputLabel value="{!$ObjectType.VanaHCM__Worker_Address__c.fields.VanaHCM__State_Province_Lookup__c.label}"/>
	<apex:selectList value="{!selectedStateLookup}" multiselect="false" size="1"> 
		<apex:selectOptions value="{!stateProvinceOptions}" /> 
	</apex:selectList>
</apex:pageblockSectionItem>

<apex:inputField value="{!workerAddress.VanaHCM__State_Province__c}" rendered="{!addressFormat.VanaHCM__State_Province__c}"/>
<apex:inputField value="{!workerAddress.VanaHCM__Zip_Postal_Code__c}" rendered="{!addressFormat.VanaHCM__Zip_Postal_Code__c}"/>


</apex:pageBlockSection>
</apex:pageBlock>

</apex:form>
 </apex:page>