<apex:page standardController="VanaHCM__Dependent_Beneficiary__c" id="thePage" title="New Dependent Beneficiary" tabStyle="VanaHCM__Dependent_Beneficiary__c" >
<apex:form >
<apex:sectionHeader title="New Dependent Beneficiary" />
<apex:pageMessages ></apex:pageMessages>
<apex:pageBlock >
<apex:pageBlockButtons >
<apex:commandButton action="{!save}" value="Save"></apex:commandButton>
<apex:commandButton action="{!cancel}" value="Cancel">
</apex:commandButton>
</apex:pageBlockButtons>
<apex:pageBlockSection columns="2" title="Dependent Beneficiary Summary">

<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Effective_Date_Dep_Ben__c}"></apex:inputField>

<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Worker_Dep_Ben__c}"></apex:inputField>

<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Relationship_to_Worker_Dep_Ben__c}"></apex:inputField>

</apex:pageBlockSection>
<apex:pageBlockSection columns="2" title="Dependent Beneficiary Name">
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Name_Effective_Date_Dep_Ben__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Country_Dep_Ben__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Prefix_Dep_Ben__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__First_Name_Dep_Ben__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Middle_Dep_Ben__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Last_Name_Dep_Ben__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Suffix_Dep_Ben__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Local_Name_Dep_Ben__c}"></apex:inputField>

</apex:pageBlockSection>


<apex:pageBlockSection columns="2" title="Dependent Beneficiary Detail">
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Dependent__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Beneficiary__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Gender__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Date_of_Birth_Dep_Ben__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Marital_Status__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Marital_Status_As_of_Date_Dep_Ben__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Tobacco_User_Dep_Ben__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Tobacco_As_of_Date_Dep_Ben__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Student__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Dependent_Beneficiary__c.VanaHCM__Student_As_of_Date__c}"></apex:inputField>


</apex:pageBlockSection>
</apex:pageBlock>

</apex:form>
 </apex:page>