<apex:page standardController="VanaHCM__Candidate__c" id="NewCandidate"   title="New Candidate" tabStyle="VanaHCM__Candidate__c" >
<apex:form >
<apex:sectionHeader title="New Candidate"/>
<apex:pageMessages ></apex:pageMessages>
<apex:pageBlock >
<apex:pageBlockButtons >
<apex:commandButton action="{!save}" value="Save"></apex:commandButton>
<apex:commandButton action="{!cancel}" value="Cancel"></apex:commandButton>

</apex:pageBlockButtons>
<apex:pageBlockSection columns="2" title="Candidate Detail">

<apex:inputField value="{!VanaHCM__Candidate__c.VanaHCM__First_Name_Candidate__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Candidate__c.VanaHCM__Last_Name_Candidate__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Candidate__c.VanaHCM__Email__c}"></apex:inputField>

</apex:pageBlockSection>



</apex:pageBlock>

</apex:form>


 </apex:page>