<apex:page sidebar="true" showHeader="true" id="page1" standardController="VanaHCM__Performance__c" extensions="VanaHCM.PerformanceListViewController" tabStyle="VanaHCM__Performance__c" cache="false">
    <apex:styleSheet value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/themes/base/jquery.ui.all.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'js/jquery-1.5.1.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.core.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.widget.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.button.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.position.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'development-bundle/ui/jquery.ui.autocomplete.js')}" />
    <style>
        .ui-button { margin-left: -1px; }
        .ui-button-icon-only .ui-button-text { padding: 0.35em; }  
        .ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em;width:200px; }
        .ui-widget-content {
            border: 1px solid #79B4CD;
         }
         body .x-btn-pressed, body .x-btn-click, body .x-btn-menu-active, body button:active, body .btn:active, body .btnCancel:active, body .menuButton .menuButtonButton:active {
            border-color: #79B4CD;
         }
         button.ui-button-icon-only {
             background: none repeat scroll 0 0 #FCFCFC;
             border: 1px solid #79B4CD;
         }
         .ui-autocomplete {
			max-height: 350px;
			overflow-y: auto;
			/* prevent horizontal scrollbar */
			overflow-x: hidden;
		}
    </style>
    <apex:form id="form1">
        <apex:sectionheader title="Performance" subtitle="Performance Administration" />
        <apex:pageBlock id="block1">
        <apex:actionRegion >
             <apex:actionFunction status="status" name="jsSortResults" action="{!sortResults}" rerender="section2" status="LoadingStatus">
                    <apex:param name="sortColumn" id="sortColumn" value="" assignto="{!sortColumn}" />
                    <apex:param name="selectedPerformanceType" id="selectedPerformanceType" value="" assignto="{!selectedPerformanceType}" />
                    <apex:param name="selectedWorker" id="selectedWorker" value="" assignto="{!selectedWorker}" />
             </apex:actionFunction>   
         </apex:actionRegion>
         <apex:pageBlockSection columns="2" id="pgeBlock1">
            <apex:pageBlockSectionItem id="secItem2" >
                    <apex:outputPanel >  
                        <div style="float: left;padding-left: 50px;">
                          <apex:actionStatus id="LoadingStatus" startText="Please wait....">
                                <apex:facet name="start"><img src="/img/loading.gif" /></apex:facet>
                                <apex:facet name="stop"></apex:facet>
                            </apex:actionStatus>
                        </div> 
                         <div style="padding-top:8px;">
                             <apex:outputLabel value="Performance Plan"></apex:outputLabel> 
                         </div>    
                     </apex:outputPanel>
                        <apex:outputPanel > 
                          <select id="perType">
                          <apex:repeat value="{!optionOfPerfomaceType}" var="vList">
                            <apex:repeat value="{!vList}" var="v">
                                <option value="{!v.Value}">{!v.Label}</option>
                            </apex:repeat>
                            </apex:repeat>
                          </select>  
                        </apex:outputPanel> 
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="secItem4" >
                     <apex:outputPanel >  
                             <div style="padding-top:8px;">
                                 <apex:outputLabel value="Worker"></apex:outputLabel> 
                             </div>    
                         </apex:outputPanel>
                            <apex:outputPanel > 
                              <select id="worker">
                              <apex:repeat value="{!optionOfWorker}" var="vList">
                                <apex:repeat value="{!vList}" var="v">
                                    <option value="{!v.Value}">{!v.Label}</option>
                                </apex:repeat>
                                </apex:repeat>
                              </select>  
                            </apex:outputPanel> 
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>    
            <apex:pageBlockSection columns="1" id="section2" title="Performance">
                <apex:pageBlockTable value="{!listOfPerformance}" var="per" rendered="{!IF(listOfPerformance.SIZE>0,true,false)}">
                        <apex:column >
                            <apex:facet name="header">
                                <apex:outputPanel > 
                                      <a href="#" onclick="callSortResults('Name',{!NOT(isAscSort)});return false;">
                                         Name
                                         <apex:image title="{!IF(AND(sortColumn = 'Name',isAscSort),'Sorted Ascending', 'Sorted Descending')}" 
                                                 styleClass="{!IF(AND(sortColumn = 'Name',isAscSort),'sortAsc', 'sortDesc')}" 
                                                 alt=""  
                                                 rendered="{!sortColumn = 'Name'}"
                                                 value="/s.gif"/>
                                      </a>
                                  </apex:outputPanel>
                            </apex:facet>
                            <apex:outputLink value="{!$Page.VanaHCM__PerformanceViewV3}?id={!per.Id}" >{!per.Name}</apex:outputLink>
                        </apex:column>
                        <apex:column >
                               <apex:facet name="header">
                                  <apex:outputPanel > 
                                      <a href="#" onclick="callSortResults('Worker__r.Name',{!NOT(isAscSort)});return false;">
                                         Worker
                                         <apex:image title="{!IF(AND(sortColumn = 'Worker__r.Name',isAscSort),'Sorted Ascending', 'Sorted Descending')}" 
                                                 styleClass="{!IF(AND(sortColumn = 'Worker__r.Name',isAscSort),'sortAsc', 'sortDesc')}" 
                                                 alt=""  
                                                 rendered="{!sortColumn = 'Worker__r.Name'}"
                                                 value="/s.gif"/>
                                      </a>
                                  </apex:outputPanel>
                            </apex:facet>
                            <apex:outputfield value="{!per.VanaHCM__Worker__c}"  />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">
                                  <apex:outputPanel > 
                                      <a href="#" onclick="callSortResults('Performance_Type__r.Name',{!NOT(isAscSort)});return false;">
                                         Performance Type
                                         <apex:image title="{!IF(AND(sortColumn = 'Performance_Type__r.Name',isAscSort),'Sorted Ascending', 'Sorted Descending')}" 
                                                 styleClass="{!IF(AND(sortColumn = 'Performance_Type__r.Name',isAscSort),'sortAsc', 'sortDesc')}" 
                                                 alt=""  
                                                 rendered="{!sortColumn = 'Performance_Type__r.Name'}"
                                                 value="/s.gif"/>
                                      </a>
                                  </apex:outputPanel>
                            </apex:facet>
                            <apex:outputfield value="{!per.VanaHCM__Performance_Type__c}"  />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">
                                <apex:outputPanel > 
                                      <a href="#" onclick="callSortResults('Status__c',{!NOT(isAscSort)});return false;">
                                         Review Status
                                         <apex:image title="{!IF(AND(sortColumn = 'Status__c',isAscSort),'Sorted Ascending', 'Sorted Descending')}" 
                                                 styleClass="{!IF(AND(sortColumn = 'Status__c',isAscSort),'sortAsc', 'sortDesc')}" 
                                                 alt=""  
                                                 rendered="{!sortColumn = 'Status__c'}"
                                                 value="/s.gif"/>
                                      </a>
                                 </apex:outputPanel>
                              </apex:facet>   
                            <apex:outputfield value="{!per.VanaHCM__Status__c}"  />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">
                                <apex:outputPanel > 
                                      <a href="#" onclick="callSortResults('Overall_Rating__c',{!NOT(isAscSort)});return false;">
                                         Overall Rating
                                         <apex:image title="{!IF(AND(sortColumn = 'Overall_Rating__c',isAscSort),'Sorted Ascending', 'Sorted Descending')}" 
                                                 styleClass="{!IF(AND(sortColumn = 'Overall_Rating__c',isAscSort),'sortAsc', 'sortDesc')}" 
                                                 alt=""  
                                                 rendered="{!sortColumn = 'Overall_Rating__c'}"
                                                 value="/s.gif"/>
                                      </a>
                                 </apex:outputPanel>
                              </apex:facet>
                            <apex:outputfield value="{!per.VanaHCM__Overall_Rating__c}"  />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">
                                <apex:outputPanel > 
                                      <a href="#" onclick="callSortResults('Rating_Score__c',{!NOT(isAscSort)});return false;">
                                         Rating Score
                                         <apex:image title="{!IF(AND(sortColumn = 'Rating_Score__c',isAscSort),'Sorted Ascending', 'Sorted Descending')}" 
                                                 styleClass="{!IF(AND(sortColumn = 'Rating_Score__c',isAscSort),'sortAsc', 'sortDesc')}" 
                                                 alt=""  
                                                 rendered="{!sortColumn = 'Rating_Score__c'}"
                                                 value="/s.gif"/>
                                      </a>
                                 </apex:outputPanel>
                              </apex:facet>
                            <apex:outputfield value="{!per.VanaHCM__Rating_Score__c}"  />
                        </apex:column>
                </apex:pageBlockTable>
                <apex:outputPanel rendered="{!IF(listOfPerformance.SIZE>0,false,true)}">
                        <apex:outputLabel value="No records found" />
                </apex:outputPanel>
            </apex:pageBlockSection>
            <script type="text/javascript">
                var sortColumn_G, isAscSort_G; 
               
                function callSortResults(sortColumn,isAscSort){
                    sortColumn_G = sortColumn;
                    isAscSort_G = isAscSort;
                    jsSortResults(sortColumn,$("#perType").val(), $("#worker").val());
                }
            
                    (function( $ ) {
                        $.widget( "ui.combobox", {
                            _create: function() {
                                var self = this,
                                    select = this.element.hide(),
                                    selected = select.children( ":selected" ),
                                    value = selected.val() ? selected.text() : "";
                                var input = this.input = $( "<input>" )
                                    .insertAfter( select )
                                    .val( value )
                                    .autocomplete({
                                        delay: 0,
                                        minLength: 0,
                                        source: function( request, response ) {
                                            var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
                                            response( select.children( "option" ).map(function() {
                                                var text = $( this ).text();
                                                if ( this.value && ( !request.term || matcher.test(text) ) )
                                                    return {
                                                        label: text.replace(
                                                            new RegExp(
                                                                "(?![^&;]+;)(?!<[^<>]*)(" +
                                                                $.ui.autocomplete.escapeRegex(request.term) +
                                                                ")(?![^<>]*>)(?![^&;]+;)", "gi"
                                                            ), "<strong>$1</strong>" ),
                                                        value: text,
                                                        option: this
                                                    };
                                            }) );
                                        },
                                        select: function( event, ui ) {
                                            ui.item.option.selected = true;
                                            self._trigger( "selected", event, {
                                                item: ui.item.option
                                            });
                                            //alert('ui.item.option-->' + self.Id);
                                            //ctrl = self;
                                           /* if(self.element[0].id == "workerList"){
                                                WorkerDetail(String(ui.item.option.value));
                                            }else */ 
                                            if(self.element[0].id == "perType"){
                                               // WorkerDetailv2(String(ui.item.option.value));
                                                //alert('selected>>>>>' + ui.item.option.value);
                                               jsSortResults(sortColumn_G,ui.item.option.value, $("#worker").val());
                                            }else if(self.element[0].id == "worker"){
                                                jsSortResults(sortColumn_G,$("#perType").val(), ui.item.option.value);
                                            }    
                                            
                                        },
                                        change: function( event, ui ) {
                                            if ( !ui.item ) {
                                                var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( $(this).val() ) + "$", "i" ),
                                                    valid = false;
                                                select.children( "option" ).each(function() {
                                                    if ( $( this ).text().match( matcher ) ) {
                                                        this.selected = valid = true;
                                                        return false;
                                                    }
                                                });
                                                if ( !valid ) {
                                                    // remove invalid value, as it didn't match anything
                                                    $( this ).val( "" );
                                                    select.val( "" );
                                                    input.data( "autocomplete" ).term = "";
                                                    return false;
                                                }
                                            }
                                        }
                                    })
                                    .addClass( "ui-widget ui-widget-content ui-corner-left" );
                
                                input.data( "autocomplete" )._renderItem = function( ul, item ) {
                                    return $( "<li></li>" )
                                        .data( "item.autocomplete", item )
                                        .append( "<a>" + item.label + "</a>" )
                                        .appendTo( ul ); 
                                }; 
                
                                this.button = $( '<button type="button">&nbsp;</button>' )
                                    .attr( "tabIndex", -1 )
                                    .attr( "title", "Show All Items" )
                                    .insertAfter( input )
                                    .button({
                                        icons: {
                                            primary: "ui-icon-triangle-1-s"
                                        },
                                        text: false 
                                    }) 
                                    .removeClass( "ui-corner-all" )
                                    .addClass( "ui-corner-right ui-button-icon" )
                                    .click(function() {
                                        // close if already visible
                                        if ( input.autocomplete( "widget" ).is( ":visible" ) ) {
                                            input.autocomplete( "close" );
                                            return;
                                        }
                
                                        // work around a bug (likely same cause as #5265)
                                        $( this ).blur();
                
                                        // pass empty string as value to search for, displaying all results
                                        input.autocomplete( "search", "" );
                                        input.focus();
                                    });
                            },
                
                            destroy: function() {
                                this.input.remove();
                                this.button.remove();
                                this.element.show();
                                $.Widget.prototype.destroy.call( this );
                            }
                        });
                    })( jQuery );
                
                    $(function() {
                        $("#perType").combobox();
                        $("#worker").combobox();
                    });
                    </script>
        </apex:pageBlock>
    </apex:form>
</apex:page>