<apex:page StandardController="VanaHCM__Job_Application__c"  id="page1" title="Offer Letter Preview" extensions="VanaHCM.SendOfferByDocusignJobAppController" >
<apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'js/jquery-1.5.1.js')}" />
    <apex:form id="form1">
    <style>
        select {  
            width:200px;
        } 
    </style> 
        <apex:sectionHeader title="Offer Letter" subTitle="Preview and Send Offer Letter" /> 
        <apex:pageMessages id="msg"></apex:pageMessages> 
        <apex:pageBlock id="block1"> 
            <apex:pageBlockButtons location="bottom">
                <apex:outputPanel id="pnlButtonBlock">
                    <apex:outputpanel rendered="{!NOT(isSentSuccessfully)}">
                        <input type="button" value="Preview" onclick="JSLoadOfferLetterPreview_Candidate();"  class="btn" />
                        <input type="button" value="Send" onclick="JSSendOfferLetter();"  class="btn" />
                    </apex:outputpanel> 
                    <apex:outputpanel rendered="{!isSentSuccessfully}">
                        <apex:commandButton value="Go To Job Application" action="/{!objOfferLetter.objJobApplication.Id}" />
                    </apex:outputpanel>
                 </apex:outputPanel>    
                 <apex:actionStatus id="statusLoading">
                    <apex:facet name="start">
                            <span style="font-weight:bold; color: red;">
                                Please wait....<img src="/img/loading.gif" /> 
                            </span>
                    </apex:facet>
                </apex:actionStatus> 
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="2" id="section1">
                <apex:pageBlockSectionItem id="item1"> 
                    <apex:outputLabel value="Candidate" id="lbl1" /> 
                    <apex:outputPanel >
                        <select onchange="JSLoadOfferLetterPreview();" id="selectlist1">
                          <apex:repeat value="{!objOfferLetter.listOfSelectOptionsCandidate}" var="opt" >
                            <option value="{!opt.Value}" >{!opt.Label}</option>
                          </apex:repeat>
                        </select>
                     </apex:outputPanel>    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="section2"> 
                    <apex:outputLabel value="Job Offer" /> 
                    <apex:outputPanel >
                        <select onchange="JSLoadOfferLetterPreview_Candidate();" id="selectlist2">
                          <apex:repeat value="{!objOfferLetter.listOfSelectOptionsOfferLetter}" var="opt" >
                            <option value="{!opt.Value}">{!opt.Label}</option>
                          </apex:repeat>
                        </select>
                     </apex:outputPanel>    
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="section3"> 
                    <apex:outputLabel value="Job Application" />
                    <apex:outputPanel id="pnlJobApp">
                        <select onchange="JSLoadOfferLetterPreview_Candidate();" id="selectlist3">
                          <apex:repeat value="{!objOfferLetter.listOfSelectOptionsJobApplication}" var="opt" >
                            <option value="{!opt.Value}">{!opt.Label}</option>
                          </apex:repeat>
                        </select>
                    </apex:outputPanel>     
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="section4">
                    <apex:outputLabel value="Salary" />
                    <apex:inputText value="{!objOfferLetter.salary}" style="width:200px"  id="inputSalary" />   
                </apex:pageBlockSectionItem> 
                <apex:pageBlockSectionItem id="section5">
                    <apex:outputLabel value="Start Date" />
                    <apex:inputField value="{!objAbsence_Request.VanaHCM__Dump_Start_Date__c}" id="inputStartDate"  />   
                </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem id="section6">
                	<apex:outputPanel >
                		<apex:outputLabel value="Include Attachment" />
                		<input type="checkbox" id="chkIncludeAttachment"/>
                	</apex:outputPanel>	
                	<apex:outputPanel id="pnlAttachment">
	               		<select id="selectlist4" multiple="multiple" size="3">
	                         <apex:repeat value="{!objOfferLetter.listOfSelectOptionsAttachment}" var="opt" >
	                           <option value="{!opt.Value}">{!opt.Label}</option>
	                         </apex:repeat>
	                       </select>
	                  </apex:outputPanel>     
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
                <apex:actionFunction name="LoadOfferLetterPreview_Candidate" rerender="blockPreview,msg" action="{!LoadOfferLetterPreview}" status="statusLoading"  >
                    <apex:param name="selectedCandidateC" id="selectedCandidateC" value="" assignto="{!objOfferLetter.selectedCandidate}" />
                    <apex:param name="selectedJobApplicationC" id="selectedJobApplicationC" value="" assignto="{!objOfferLetter.selectedJobApplication}" />
                    <apex:param name="selectedOfferLetterC" id="selectedOfferLetterC" value="" assignto="{!objOfferLetter.selectedOfferLetter}" />
                </apex:actionFunction>
                <apex:actionFunction name="SendOfferLetter" rerender="pnlButtonBlock,msg" action="{!SendOfferLetter}" status="statusLoading"  >
                    <apex:param name="selectedCandidateCT" id="selectedCandidateCT" value="" assignto="{!objOfferLetter.selectedCandidate}" />
                    <apex:param name="selectedJobApplicationCT" id="selectedJobApplicationCT" value="" assignto="{!objOfferLetter.selectedJobApplication}" />
                    <apex:param name="selectedOfferLetterCT" id="selectedOfferLetterCT" value="" assignto="{!objOfferLetter.selectedOfferLetter}" />
                    <apex:param name="selectedOfferLetterAttch" id="selectedOfferLetterAttch" value="" assignto="{!objOfferLetter.selectedAttachment}" />
                    <apex:param name="selectedOfferLetterIsAttch" id="selectedOfferLetterIsAttch" value="" assignto="{!objOfferLetter.includeAttachment}" />
                </apex:actionFunction>
                <apex:actionFunction name="LoadOfferLetterPreview" rerender="blockPreview,pnlJobApp,msg" action="{!LoadOfferLetterPreview}" status="statusLoading"  >
                    <apex:param name="selectedCandidate" id="selectedCandidate" value="" assignto="{!objOfferLetter.selectedCandidate}" />
                    <apex:param name="selectedJobApplication" id="selectedJobApplication" value="" assignto="{!objOfferLetter.selectedJobApplication}" />
                    <apex:param name="selectedOfferLetter" id="selectedOfferLetter" value="" assignto="{!objOfferLetter.selectedOfferLetter}" />
                </apex:actionFunction>
                
                <script>
                    function JSLoadOfferLetterPreview(){
                            LoadOfferLetterPreview($("#selectlist1").val(),$("#selectlist3").val(),$("#selectlist2").val());
                            
                    }   
                    function JSLoadOfferLetterPreview_Candidate(){
                            LoadOfferLetterPreview_Candidate($("#selectlist1").val(),$("#selectlist3").val(),$("#selectlist2").val());
                            
                    }
                    function JSSendOfferLetter(){
                        if(validate()){
                       		var valSelect = $("#selectlist4").val();
							var SelectedString = new String();
							if(valSelect != null && valSelect.length>0){
								for(var i=0;i<valSelect.length;i++){
								    SelectedString += valSelect[i] + (i== valSelect.length -1 ? '' : ',');
								}
							}	
                            SendOfferLetter($("#selectlist1").val(),$("#selectlist3").val(),$("#selectlist2").val(),SelectedString,$("#chkIncludeAttachment").attr('checked'));
                        }   
                    }
                    function validate(){
                        var isValid = true;
                        var Msg = '';
                        if($("#selectlist1").val() == '-1'){
                            Msg += "-Candidate is required field" + "\n"; 
                            isValid = false;
                        }
                        if($("#selectlist2").val() == '-1'){
                            Msg += "-Job Offer is required field" + "\n";
                            isValid = false;
                        }
                        if($("#selectlist3").val() == '-1'){
                            Msg += "-Job Application is required field" + "\n";
                            isValid = false;
                        }
                        if($("#chkIncludeAttachment").attr('checked')){
                        	if($("#selectlist4").val() == null){
                            	Msg += "-Please select attachment" + "\n";
                            	isValid = false;
                        	}	
                        }else{
                        	var valSelect = $("#selectlist4").val();
	                        if(valSelect != null && valSelect.length>0){
                        		Msg += '-Please select include attachment to send selected doc' + "\n";
                        		isValid = false;
                        	}
                        } 
                         
                        var ctrl = document.getElementById("page1:form1:block1:section1:section4:inputSalary");
                        if($(ctrl).val().trim() == ""){
                            Msg += "-Salary is required field" + "\n";
                            isValid = false;
                        }
                        var ctrl2 = document.getElementById("page1:form1:block1:section1:section5:inputStartDate");
                        if($(ctrl2).val().trim() == ""){
                            Msg += "-Start Date is required field" + "\n";
                            isValid = false;
                        }
                        
                        if(!isValid){
                            var PageMsg = 'Please fill required fields' + '\n' + Msg;
                            alert(PageMsg);
                        }
                        return isValid;
                    }
                    $(document).ready(function(){
                    	$("#selectlist1 option:last").attr('selected','selected');
                    	$("#selectlist3 option:last").attr('selected','selected');
                    });
                </script>
        </apex:pageBlock>   
        <apex:pageBlock id="blockPreview" >
            <apex:pageBlockSection columns="1" id="preview">
                    <apex:outputText escape="false" value="{!OfferLetterPreviewText}" ></apex:outputText>
            </apex:pageBlockSection>        
            <apex:pageBlockSection columns="1" rendered="{!IF(OfferLetterPreviewText != NULL,TRUE,FALSE)}">     
                     <div style='clear:left;margin-top:50px'>
                        <div style='float:left'>Accepted By:</div>
                        <div style='float:left'>____________________________________</div>
                        </div>   
                        <div style='clear:right;margin-top:50px'>
                        <div style='float:right'>____________________________________</div>
                        <div style='float:right'>Date Signed:</div>
                    </div> 
                </apex:pageBlockSection> 
        </apex:pageBlock>
    </apex:form>            
</apex:page>