<apex:page sidebar="false" showHeader="false" standardController="VanaHCM__Candidate__c" extensions="VanaHCM.ShowResumeCandidateController" id="page1">
	<apex:form >
		<apex:pageBlock >
			<apex:pageBlockSection columns="1">
				<apex:pageBlockSectionItem >
					<apex:outputField value="{!candidate.VanaHCM__Paste_Resume__c}" /> 
				</apex:pageBlockSectionItem>	
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>