<apex:page showHeader="false" id="SiteTemplate">
  <apex:stylesheet value="{!URLFOR($Resource.VanaHCM__SiteSamples, 'SiteStyles.css')}"/>
  <apex:insert name="header">
    <c:SiteHeader />
    <hr/>
  </apex:insert>
  <apex:insert name="body"/>
  <apex:insert name="footer">
    <hr/>
    <c:SiteFooter />
    <site:googleAnalyticsTracking />
  </apex:insert>
</apex:page>