<apex:page extensions="VanaHCM.SystemMaintenanceController" id="page1" showHeader="true" sidebar="false" standardController="VanaHCM__Response__c">
	<apex:form id="form1">
		<apex:sectionHeader title="Services" subTitle="System Maintenance" />
		<apex:pageMessages />
	 	<apex:pageBlock id="pageBlock1" rendered="{!MigrateQuestionService}">
			<apex:pageBlockSection columns="1" >
				<apex:pageBlockSectionItem > 
					<apex:outputLabel value="Migrate Question type to long Text Area"  rendered="{!NOT(isResponseBatchStart)}" />
					<apex:outputPanel >
						<apex:commandButton value="Execute Batch" action="{!ExecuteResponseBatch}"  rendered="{!NOT(isResponseBatchStart)}" status="actStatus" immediate="true" />
						<apex:outputLabel value="Batch has been started, please check [Setup-->Administration Setup-->Apex Job] for more Detail" rendered="{!isResponseBatchStart}"/>
						<apex:actionStatus id="actStatus">
							<apex:facet name="start"><img src="/img/loading.gif" /></apex:facet>
                        </apex:actionStatus>
					</apex:outputPanel>	 
				</apex:pageBlockSectionItem>	
			</apex:pageBlockSection>
		</apex:pageBlock>  
		<apex:pageBlock id="pageBlock2" title="Execute batch process">
			<apex:pageBlockSection columns="1">
				<apex:pageBlockSectionItem > 
					<apex:outputLabel value="Execute current assignment batch"  />
					<apex:outputPanel > 
						<apex:commandButton value="Execute Batch" action="{!ExecuteAssignmentBatch}"  rendered="{!NOT(isResponseBatchStart_2)}" immediate="true" />
						<apex:outputLabel value="Batch has been started, please check [Setup-->Administration Setup-->Apex Job] for more Detail" rendered="{!isResponseBatchStart_2}"/>
					</apex:outputPanel>	 
				</apex:pageBlockSectionItem>
				
				<apex:pageBlockSectionItem > 
					<apex:outputLabel value="Execute absence accrual batch" />
					<apex:outputPanel > 
						<apex:commandButton value="Execute Batch" action="{!executeAbsenceAccrualBatch}"  rendered="{!NOT(isAbsenceAccrualBatchRunning)}" immediate="true" />
						<apex:outputLabel value="Batch has been started, please check [Setup-->Administration Setup-->Apex Job] for more Detail" rendered="{!isAbsenceAccrualBatchRunning}"/>
					</apex:outputPanel>	 
				</apex:pageBlockSectionItem>
					
			</apex:pageBlockSection> 
		</apex:pageBlock>
		<apex:pageBlock id="pageBlock3">
		<apex:pageBlockSection columns="1">
				<apex:inputField value="{!objNationId.Name}" required="true" /> 
				<apex:inputField value="{!objPerson.VanaHCM__Date_of_Birth__c}" required="true" />
				<apex:inputField value="{!objCompensation.VanaHCM__Compensation_Rate__c}" required="true" />
				<apex:inputField value="{!objCompensation.VanaHCM__Base_Salary__c}" required="true" />
				<apex:inputField value="{!objCompensation.VanaHCM__Bonus_Increase__c}" required="true" />
				<apex:inputField value="{!objCompensation.VanaHCM__Bonus_Increase_Amount__c}" required="true" />
				<apex:inputField value="{!objOfferRequest.VanaHCM__Salary__c}" required="true" />
				<apex:inputField value="{!objOfferRequest.VanaHCM__RSU__c}" required="true" />
				<apex:pageBlockSectionItem > 
					<apex:outputLabel value="Execute Fields Masking batch"  rendered="{!NOT(isResponseBatchStart_3)}" />
					<apex:outputPanel >
						<apex:commandButton value="Execute Batch" action="{!ExecuteFieldsMaskingBatch}"  rendered="{!NOT(isResponseBatchStart_3)}" status="actStatus3" />
						<apex:outputLabel value="Batch has been started, please check [Setup-->Administration Setup-->Apex Job] for more Detail" rendered="{!isResponseBatchStart_3}"/>
						<apex:actionStatus id="actStatus3">
                                        <apex:facet name="start"><img src="/img/loading.gif" /></apex:facet>
                            </apex:actionStatus>
					</apex:outputPanel>	 
				</apex:pageBlockSectionItem>	
			</apex:pageBlockSection>
		</apex:pageBlock>
		<apex:pageBlock id="pageBlock4">
			<apex:pageBlockSection columns="1" >
				<apex:pageBlockSectionItem > 
					<apex:outputLabel value="Recalculate Person sharing"  />
					<apex:outputPanel >
						<apex:commandButton value="Calculate Now" action="{!executePersonSharingBatch}"  rendered="{!NOT(isPersonSharingBatchStart)}" immediate="true" />
						<apex:outputLabel value="Job has been submitted. Please check system debug logs for more detail." rendered="{!isPersonSharingBatchStart}"/>
					</apex:outputPanel>	 
				</apex:pageBlockSectionItem>	
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>