<apex:page standardController="VanaHCM__Worker__c" id="thePage"  sidebar="false" >
<apex:form >
</apex:form>

  <apex:image id="profileImage" url="{!VanaHCM__Worker__c.User__r.SmallPhotoUrl}" />
  &nbsp;&nbsp;
<apex:outputLink value="{!VanaHCM__Worker__c.VanaHCM__LinkedIn_Profile__c}"  target="_blank" title="View LinkedIn Profile" ><apex:image value="{!$Resource.VanaHCM__linkedin_profile}"/></apex:outputLink>
&nbsp;&nbsp;
<apex:outputLink value="{!VanaHCM__Worker__c.VanaHCM__Twitter_Profile__c}"  target="_blank" title="View Twitter Profile" ><apex:image value="{!$Resource.VanaHCM__twitter_profile}"/></apex:outputLink>
&nbsp;&nbsp;
<apex:outputLink value="{!VanaHCM__Worker__c.VanaHCM__Facebook_Profile__c}"  target="_blank" title="View Facebook Profile" ><apex:image value="{!$Resource.VanaHCM__facebook_profile}"/></apex:outputLink>
&nbsp;&nbsp;
<apex:outputLink value="{!VanaHCM__Worker__c.VanaHCM__YouTube_Profile__c}"  target="_blank" title="View YouTube Profile" ><apex:image value="{!$Resource.VanaHCM__youtube_profile}"/></apex:outputLink>

 </apex:page>