<apex:page title="{!IF(isEditRecord,'Edit Licence','New Licence')}" controller="VanaHCM.EmployeeSelfServiceController" action="{!initEditWorkerLicence}" tabStyle="New_Address__tab">
    <apex:form >
    <apex:sectionHeader title="{!IF(isEditRecord,'Edit Licence','New Licence')}" />
    
    <apex:pageMessages ></apex:pageMessages>
    
    <apex:pageBlock >
        <apex:pageBlockButtons >
            <apex:commandButton action="{!doEditWorkerLicence}" value="Save"/>
            <apex:commandButton action="{!returnToSelfService}" value="Cancel" immediate="true"/>
        </apex:pageBlockButtons>
        
        <apex:pageBlockSection columns="2" title="Licence Detail">
            <apex:inputField value="{!workerLicenceInEdit.Name}"/>
             <apex:inputField value="{!workerLicenceInEdit.VanaHCM__License_Type__c}" />
            <apex:inputField value="{!workerLicenceInEdit.VanaHCM__Country_Code_License__c}" />
            <apex:inputField value="{!workerLicenceInEdit.VanaHCM__Issued_Date_License__c}" />
            <apex:inputField value="{!workerLicenceInEdit.VanaHCM__Expiration_Date_License__c}" />
     
        </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>