<apex:page readOnly="true" controller="VanaHCM.WorkerReportController" id="page1" sidebar="false" showheader="true">
    <apex:sectionHeader title="Worker" subTitle="Report" />
    <apex:pageBlock id="block1">
        <apex:pageBlockButtons location="bottom">
          <input type="button" value="Export"  onclick="window.location.href = '{!$Page.WorkerReportExport}';" class="btn" />
        </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1">
                <apex:pageBlockTable value="{!listOfWrapperCSV}" var="tbl1">
                    <apex:column headervalue="Room Number">
                        <apex:outputLabel value="{!tbl1.worker.VanaHCM__Seat_Number__c}" />
                    </apex:column>
                    <apex:column headervalue="Employee Number">
                        <apex:outputText value="{0,number,0}"> 
                             <apex:param value="{!tbl1.worker.VanaHCM__Worker_External_ID__c}" />
                         </apex:outputText>
                    </apex:column>
                    <apex:column headervalue="Emp Status">
                        <apex:outputLabel value="{!tbl1.worker.VanaHCM__Worker_Status_Current_WA__c}" />
                    </apex:column>
                    <apex:column headervalue="Emp Type">
                        <apex:outputLabel value="{!tbl1.worker.VanaHCM__Worker_Type_Worker__c}" />
                    </apex:column>
                    <!-- 
                    <apex:column headervalue="Manager">
                        <apex:outputLabel value="{!tbl1.worker.VanaHCM__Reports_to__r.Name}" /> 
                    </apex:column>
                    <apex:column headervalue="Manager ID">
                         <apex:outputText value="{0,number,0}">
                             <apex:param value="{!tbl1.worker.VanaHCM__Reports_to__r.Worker_External_ID__c}" />
                         </apex:outputText> 
                    </apex:column>
                     -->
                     <apex:column headervalue="Manager">
                        <apex:outputLabel value="{!tbl1.worker.VanaHCM__Manager__r.VanaHCM__Worker__r.Name}" /> 
                    </apex:column>
                    <apex:column headervalue="Manager ID">
                         <apex:outputText value="{0,number,0}">
                             <apex:param value="{!tbl1.worker.VanaHCM__Manager__r.VanaHCM__Worker__r.VanaHCM__Worker_External_ID__c}" />
                         </apex:outputText> 
                    </apex:column>
                    
                    <apex:column headervalue="Title">
                        <apex:outputLabel value="{!tbl1.Worker_Assignment.VanaHCM__Position__r.Name}" />
                    </apex:column>
                    <apex:column headervalue="Hire Date">
                        <apex:outputField value="{!tbl1.worker.VanaHCM__Hire_Date__c}" />
                    <!-- 
                        <apex:outputText value="{0,date,yyyy/MM/dd}">
                            <apex:param value="{!tbl1.worker.VanaHCM__Hire_Date__c}" />
                        </apex:outputText>
                     -->                          
                    </apex:column>
                    <apex:column headervalue="Department">
                        <apex:outputLabel value="{!tbl1.Worker_Assignment.VanaHCM__Department__r.Name}" /> 
                    </apex:column>
                    <apex:column headervalue="Department Code/Number">
                        <apex:outputLabel value="{!tbl1.Worker_Assignment.VanaHCM__Cost_Center__r.Name}" />
                    </apex:column>
                    <apex:column headervalue="First Name">
                        <apex:outputLabel value="{!tbl1.worker.VanaHCM__First_Name__c}" />
                    </apex:column>
                    <apex:column headervalue="Last Name">
                        <apex:outputLabel value="{!tbl1.worker.VanaHCM__Last_Name__c}" />
                    </apex:column>
                    <apex:column headervalue="Workaddress-City">
                        <apex:outputLabel value="{!tbl1.Worker_Assignment.VanaHCM__Location__r.Name}" />
                    </apex:column>
                    <apex:column headervalue="Mobile">
                        <apex:outputLabel value="{!tbl1.Current_Phone.Name}" />
                    </apex:column>
                    <apex:column headervalue="Former Name">
                        <apex:outputLabel value="{!tbl1.worker.VanaHCM__Former_Name__c}" />
                    </apex:column>
                    <apex:column headervalue="Nickname">
                        <apex:outputLabel value="{!tbl1.worker.VanaHCM__Nick_Name__c}" />
                    </apex:column>
                    <apex:column headervalue="Last Day Worked">
                        <apex:outputField value="{!tbl1.worker.VanaHCM__Last_Day_Worked__c}" rendered="{!not(isnull(tbl1.Worker))}"/>
                    </apex:column>
                    <!-- 
                    <apex:column headervalue="Term Date">
                        <apex:outputField value="{!tbl1.worker.Termination_Date__c}" />
                    </apex:column>
                    -->
                    <!-- 
                        <apex:outputText value="{0,date,yyyy/MM/dd}">
                            <apex:param value="{!tbl1.worker.Termination_Date__c}" />
                        </apex:outputText>
                       -->
                </apex:pageBlockTable>
            </apex:pageBlockSection>
    </apex:pageBlock>   
</apex:page>