<apex:page title="New Bank" tabStyle="VanaHCM__Compensation__c" controller="VanaHCM.EmployeeSelfServiceController" action="{!initEditBankAccount}" >
<apex:form >
<apex:sectionHeader title="New Bank" />
<apex:pageMessages ></apex:pageMessages>
<apex:pageBlock >

<apex:pageBlockButtons >
    <apex:commandButton action="{!doEditWorkerBank}" value="Save"/>
    <apex:commandButton action="{!returnToSelfService}" value="Cancel" immediate="true"/>
</apex:pageBlockButtons>

<apex:pageBlockSection columns="2" title="Bank Details">
    <apex:inputField value="{!backAccountInEdit.VanaHCM__Effective_Date_Bank__c}" />
    <apex:outputField value="{!backAccountInEdit.VanaHCM__Worker_Bank__c}"/>
    <apex:inputField value="{!backAccountInEdit.VanaHCM__Country_Bank__c}" />
    <apex:inputField value="{!backAccountInEdit.VanaHCM__Type__c}"/>
    <apex:inputField value="{!backAccountInEdit.VanaHCM__Bank_ID__c}" />
    <apex:inputField value="{!backAccountInEdit.VanaHCM__Bank_Branch_ID__c}" />
    <apex:inputField value="{!backAccountInEdit.VanaHCM__Account_Number__c}"/>
    <apex:inputField value="{!backAccountInEdit.VanaHCM__Account_Name__c}" />
    <apex:inputField value="{!backAccountInEdit.VanaHCM__IBAN_Number__c}"/>
    <apex:inputField value="{!backAccountInEdit.VanaHCM__Priority__c}"/>
    <apex:inputField value="{!backAccountInEdit.VanaHCM__Amount_Bank__c}" />
    <apex:inputField value="{!backAccountInEdit.VanaHCM__Percentage__c}" />
</apex:pageBlockSection>

</apex:pageBlock>
</apex:form>
 </apex:page>