<apex:page title="New Contact"  controller="VanaHCM.EmployeeSelfServiceController" action="{!initEditWorkerContact}" tabStyle="New_Address__tab">
<apex:form >
	<apex:sectionHeader title="New Contact" />
	<apex:pageMessages />
	<apex:pageBlock >
		<apex:pageBlockButtons >
		    <apex:commandButton action="{!doEditWorkerContact}" value="Save"/>
		    <apex:commandButton action="{!returnToSelfService}" value="Cancel" immediate="true"/>
		</apex:pageBlockButtons>
		
		<apex:pageBlockSection columns="2" title="Contact Detail">
			<apex:inputField value="{!workerContactInEdit.VanaHCM__Effective_Date_Contact__c}" required="true"/>
			<apex:outputField value="{!workerContactInEdit.VanaHCM__Worker_Contact__c}"/>
			<apex:inputField value="{!workerContactInEdit.VanaHCM__Primary_Contact__c}"/>
			<apex:inputField value="{!workerContactInEdit.VanaHCM__Emergency_Contact__c}"/>
			<apex:inputField value="{!workerContactInEdit.VanaHCM__Relationship__c}"/>
		</apex:pageBlockSection>
		
		<apex:pageBlockSection columns="2" title="Contact Name">
			<apex:inputField value="{!workerContactInEdit.VanaHCM__Name_Effective_Date_Contact__c}"/>
			<apex:inputField value="{!workerContactInEdit.VanaHCM__Country_Contact__c}"/>
			<apex:inputField value="{!workerContactInEdit.VanaHCM__Prefix__c}"/>
			<apex:inputField value="{!workerContactInEdit.VanaHCM__First_Name_Contact__c}"/>
			<apex:inputField value="{!workerContactInEdit.VanaHCM__Middle__c}"/>
			<apex:inputField value="{!workerContactInEdit.VanaHCM__Last_Name_Contact__c}"/>
			<apex:inputField value="{!workerContactInEdit.VanaHCM__Suffix__c}"/>
			<apex:inputField value="{!workerContactInEdit.VanaHCM__Local_Name__c}"/>
		</apex:pageBlockSection> 
		
		<apex:pageBlockSection columns="2" title="Contact Phone">
			<apex:inputField value="{!workerContactInEdit.VanaHCM__Phone_Contact__c}"/>
			<apex:inputField value="{!workerContactInEdit.VanaHCM__Extension_Contact__c}"/>
		</apex:pageBlockSection>
	
	</apex:pageBlock>

</apex:form>
 </apex:page>