<!--
//----------------------------------------------------//
//Date  :   August 09,2011
//Des   :   Worker detail view page 
//-----------------------------------------------------// 
 -->
<apex:page standardController="VanaHCM__Worker__c" sideBar="false" showHeader="false" id="page1" tabStyle="VanaHCM__Worker__c" cache="false" extensions="VanaHCM.WorkerPlugInController">
    <apex:form id="form1" >
        <apex:pageBlock id="block1" >
            <apex:pageBlockSection columns="2" showHeader="false">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Work Assignment Name" />
                    <apex:outputLink target="_top" value="/{!workerAssignment.Id}">{!workerAssignment.Name} </apex:outputLink>
                </apex:pageBlockSectionItem>    
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Position" />
                    <apex:outputLink value="/{!workerAssignment.VanaHCM__Position__c}">{!workerAssignment.Position__r.Name}</apex:outputLink>
                </apex:pageBlockSectionItem>    
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Organization" />
                    <apex:outputLink value="/{!workerAssignment.VanaHCM__Organization__c}">{!workerAssignment.Organization__r.Name}</apex:outputLink>
                </apex:pageBlockSectionItem>        
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Division" />
                    <apex:outputLink value="/{!workerAssignment.VanaHCM__Division__c}">{!workerAssignment.Division__r.Name}</apex:outputLink>
                </apex:pageBlockSectionItem>    
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Department" />
                    <apex:outputLink value="/{!workerAssignment.VanaHCM__Department__c}">{!workerAssignment.Department__r.Name}</apex:outputLink>
                </apex:pageBlockSectionItem>    
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Location" />
                    <apex:outputLink value="/{!workerAssignment.VanaHCM__Location__c}">{!workerAssignment.Location__r.Name}</apex:outputLink>
                </apex:pageBlockSectionItem>        
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Regular Temp" />
                    <apex:outputLabel value="{!workerAssignment.VanaHCM__Regular_Temp__c}" />
                </apex:pageBlockSectionItem>    
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Full Part Time" />
                    <apex:outputLabel value="{!workerAssignment.VanaHCM__Full_Part_Time__c}" />
                </apex:pageBlockSectionItem>    
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Compensation Name" />
                    <apex:outputLink value="/{!LatestCompensation.Id}">{!LatestCompensation.Name}</apex:outputLink>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Total Base Compensation" />
                    <apex:outputLabel value="{!LatestCompensation.VanaHCM__Total_Base_Compensation__c}" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
   </apex:form>
</apex:page>