<apex:page title="New Phone" tabStyle="New_Address__tab" controller="VanaHCM.EmployeeSelfServiceController" action="{!initEditWorkerPhone}" >
<apex:form >
<apex:sectionHeader title="New Phone" />
<apex:pageMessages ></apex:pageMessages>
<apex:pageBlock >

<apex:pageBlockButtons >
    <apex:commandButton action="{!doEditWorkerPhone}" value="Save"/>
    <apex:commandButton action="{!returnToSelfService}" value="Cancel" immediate="true"/>
</apex:pageBlockButtons>

<apex:pageBlockSection columns="2" title="Phone Details">
 <apex:inputField value="{!workerPhoneInEdit.VanaHCM__Effective_Date_Phone__c}" required="true"/>
    <apex:outputField value="{!workerPhoneInEdit.VanaHCM__Worker_Phone__c}" />
    <apex:inputField value="{!workerPhoneInEdit.VanaHCM__Phone_Type__c}" required="true"/>
    <apex:inputField value="{!workerPhoneInEdit.Name}" required="true"/>
    <apex:inputField value="{!workerPhoneInEdit.VanaHCM__Extension_Phone__c}" />
</apex:pageBlockSection>

</apex:pageBlock>
</apex:form>
 </apex:page>