<apex:page title="New Address" tabStyle="New_Address__tab" controller="VanaHCM.EmployeeSelfServiceController" action="{!initEditWorkerAddress}" >
<apex:form >
<apex:actionFunction name="onCountryCodeChanage" action="{!onCountryCodeChanage}" />
<apex:sectionHeader title="New Address" />
<apex:pageMessages ></apex:pageMessages>
<apex:pageBlock >
<apex:pageBlockButtons >
    <apex:commandButton action="{!doEditWorkerAddress}" value="Save"/>
    <apex:commandButton action="{!returnToSelfService}" value="Cancel" immediate="true"/>
</apex:pageBlockButtons>
<apex:pageBlockSection columns="2" title="Address Summary">

<apex:inputField value="{!workerAddressInEdit.VanaHCM__Effective_Date_Address__c}" required="true"></apex:inputField>

<apex:outputField value="{!workerAddressInEdit.VanaHCM__Worker_Address__c}"/> 


</apex:pageBlockSection>
<apex:pageBlockSection columns="1" title="Address Details">
<apex:inputField value="{!workerAddressInEdit.VanaHCM__Country_Codes__c}" onchange="onCountryCodeChanage();"></apex:inputField>
<apex:inputField value="{!workerAddressInEdit.VanaHCM__Address_Type__c}" required="true"></apex:inputField>
<apex:inputField value="{!workerAddressInEdit.VanaHCM__Address_Line_1__c}" rendered="{!addressFormat.VanaHCM__Address_Line_1__c}"/>
<apex:inputField value="{!workerAddressInEdit.VanaHCM__Address_Line_2__c}" rendered="{!addressFormat.VanaHCM__Address_Line_2__c}"/>
<apex:inputField value="{!workerAddressInEdit.VanaHCM__Address_Line_3__c}" rendered="{!addressFormat.VanaHCM__Address_Line_3__c}"/>
<apex:inputField value="{!workerAddressInEdit.VanaHCM__Address_Line_4__c}" rendered="{!addressFormat.VanaHCM__Address_Line_4__c}"/>
<apex:inputField value="{!workerAddressInEdit.VanaHCM__Address_Line_5__c}" rendered="{!addressFormat.VanaHCM__Address_Line_5__c}"/>

<apex:inputField value="{!workerAddressInEdit.VanaHCM__Region__c}" rendered="{!addressFormat.VanaHCM__Region__c}"/>
<apex:inputField value="{!workerAddressInEdit.VanaHCM__City_Town__c}" rendered="{!addressFormat.VanaHCM__City_Town__c}"/>
<apex:pageblockSectionItem rendered="{!addressFormat.VanaHCM__State_Province_Lookup__c}">
	<apex:outputLabel value="{!$ObjectType.VanaHCM__Worker_Address__c.fields.VanaHCM__State_Province_Lookup__c.label}"/>
	<apex:selectList value="{!selectedStateLookup}" multiselect="false" size="1"> 
		<apex:selectOptions value="{!stateProvinceOptions}" /> 
	</apex:selectList>
</apex:pageblockSectionItem>

<apex:inputField value="{!workerAddressInEdit.VanaHCM__State_Province__c}" rendered="{!addressFormat.VanaHCM__State_Province__c}"/>
<apex:inputField value="{!workerAddressInEdit.VanaHCM__Zip_Postal_Code__c}" rendered="{!addressFormat.VanaHCM__Zip_Postal_Code__c}"/>


</apex:pageBlockSection>
</apex:pageBlock>

</apex:form>
 </apex:page>