<!--
//----------------------------------------------------//
//Date	:	August 09,2011
//Des	:	Worker detail view component
//-----------------------------------------------------// 
 -->
<apex:component >
<!-- <apex:attribute name="CurrentWorker" description="Current worker" type="string" required="true"  assignTo="{!workerId}" />  -->
	<apex:form id="form1">
   		<apex:pageBlock id="block1">
   			<apex:pageBlockSection title="Worker Detail">
   				
   			</apex:pageBlockSection>
   		</apex:pageBlock>
   </apex:form>
</apex:component>