<apex:page standardcontroller="VanaHCM__Job_Application__c">

     

<apex:pageBlock title="Candidate">

<apex:relatedList list="Notesandattachments" title="Notes" id="Notes"/>

</apex:PageBlock>



</apex:page>