<apex:page showHeader="false" docType="html-5.0"  standardStylesheets="false" cache="false">
<apex:composition template="{!$Page.MobileUITemplate}">
	<apex:define name="content">            
        <div>
        	<chatter:feed entityId="{!$User.Id}"/>
        </div>
	</apex:define> 
</apex:composition>	
</apex:page>