<apex:page standardController="VanaHCM__Dependent_Beneficiary_Enrollment__c" id="thePage"  sidebar="false" >
                
                        <apex:outputLabel value="{!VanaHCM__Dependent_Beneficiary_Enrollment__c.Dependent_Beneficiary_Enroll__r.name} ({!VanaHCM__Dependent_Beneficiary_Enrollment__c.VanaHCM__Benefit_Plan__c}) " style="position:absolute;margin-top:9px;font-size: 22px;"/>
    
    
    
</apex:page>