<apex:page sidebar="true" showheader="true" id="page1" standardController="VanaHCM__Objective__c" tabstyle="VanaHCM__Objective__c" extensions="VanaHCM.Edit_ObjectivesExtensions">
    <apex:form id="form1">
    	<apex:sectionHeader title="Competency Edit" subTitle="{!objectives.Name}" />
        <apex:pageBlock id="pageBlock1" title="Goal Edit" mode="edit">
        	<apex:pageBlockButtons > 
        		<apex:commandButton value="Save" id="btnSave"  action="{!Save}"/>
        		<apex:commandButton value="Save & New" id="btnSaveNew" action="{!SaveNew}"/>
        		<apex:commandButton value="Cancel" id="btnCancel"  action="{!Cancel}"/>
        	</apex:pageBlockButtons>
            <apex:pageBlockSection title="Goal" collapsible="false">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel value="Goal Name" />
                	<apex:inputField value="{!objectives.Name}" required="true" />
                </apex:pageBlockSectionItem>	
                <apex:pageBlockSectionItem >	
                	<apex:outputLabel value="Worker" />
                	<apex:inputField value="{!objectives.VanaHCM__Worker__c }" />
                </apex:pageBlockSectionItem>    
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Start Date" />
                	<apex:inputField value="{!objectives.VanaHCM__Start_Date_Objective__c}" />
                </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Performance Plan" />
                	<apex:inputField value="{!objectives.VanaHCM__Performance__c}" />
                </apex:pageBlockSectionItem>
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Metric" />
                	<apex:inputField value="{!objectives.VanaHCM__Performance__c}" />
                </apex:pageBlockSectionItem>	
                  <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Status" />
                	<apex:inputField value="{!objectives.VanaHCM__Status__c}" />
                </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Percent Complete" />
                	<apex:inputField value="{!objectives.VanaHCM__Percent_Complete__c}" />
                </apex:pageBlockSectionItem>
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Due Date" />
                	<apex:inputField value="{!objectives.VanaHCM__Due_Date__c}" />
                </apex:pageBlockSectionItem>
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Employee Rating" />
                 	<apex:outputPanel >
                 		<apex:inputField value="{!objectives.VanaHCM__Employee_Rating__c}" rendered="{!IsWorker}" />
                		<apex:outputField value="{!objectives.VanaHCM__Employee_Rating__c}" rendered="{!NOT(IsWorker)}" />
                	</apex:outputPanel>	
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Actual" />
                	<apex:inputField value="{!objectives.VanaHCM__Actual__c}" />
                </apex:pageBlockSectionItem>	 
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Employee Comments"  />
                 	<apex:outputPanel >
                		<apex:inputField value="{!objectives.VanaHCM__Employee_Comments__c}" style="width:240px" rendered="{!IsWorker}" />
                		<apex:outputField value="{!objectives.VanaHCM__Employee_Comments__c}" style="width:240px" rendered="{!NOT(IsWorker)}" />
                	</apex:outputPanel>	
                </apex:pageBlockSectionItem>  
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Weight" />
                	<apex:inputField value="{!objectives.VanaHCM__Weight__c}" />
                </apex:pageBlockSectionItem>							
                <apex:pageBlockSectionItem >
                	<apex:outputLabel />		 
                	<apex:outputLabel />
                </apex:pageBlockSectionItem> 
                <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Manager Rating"  />
                 	<apex:outputPanel >
                		<apex:inputField value="{!objectives.VanaHCM__Manager_Rating__c}"  rendered="{!IsManager}" />
                		<apex:outputField value="{!objectives.VanaHCM__Manager_Rating__c}" rendered="{!NOT(IsManager)}" />
                	</apex:outputPanel>	
                </apex:pageBlockSectionItem> 
                 <apex:pageBlockSectionItem >
                	<apex:outputLabel />		 
                	<apex:outputLabel />
                </apex:pageBlockSectionItem> 
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Manager Comments"   />
                 	<apex:outputPanel >
                		<apex:inputField value="{!objectives.VanaHCM__Manager_Comments__c}" style="width:240px"  rendered="{!IsManager}" />
                		<apex:outputField value="{!objectives.VanaHCM__Manager_Comments__c}" style="width:240px"  rendered="{!NOT(IsManager)}"  />
                	</apex:outputPanel>	
                </apex:pageBlockSectionItem>          
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Description" collapsible="false" columns="1">
                	<apex:inputField value="{!objectives.VanaHCM__Objective_Description__c}" style="width:500px;" />
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>    
</apex:page>