<apex:page sidebar="true" showheader="true" id="page1" standardController="VanaHCM__Core_Values__c" tabstyle="VanaHCM__Core_Values__c" extensions="VanaHCM.Edit_CoreValuesExtensions">
    <apex:form id="form1">
    	<apex:sectionHeader title="Core Values" subTitle="{!coreValues.Name}" />
        <apex:pageBlock id="pageBlock1" title="Core Values Edit" mode="edit">
        	<apex:pageBlockButtons > 
        		<apex:commandButton value="Save" id="btnSave"  action="{!Save}"/>
        		<apex:commandButton value="Save & New" id="btnSaveNew" action="{!SaveNew}"/>
        		<apex:commandButton value="Cancel" id="btnCancel"  action="{!Cancel}"/>
        	</apex:pageBlockButtons>
            <apex:pageBlockSection title="Core Value" collapsible="false">
                <apex:pageBlockSectionItem >
                	<apex:outputLabel value="Core Value" />
                	<apex:inputField value="{!coreValues.VanaHCM__Core_Value__c}"  />
                </apex:pageBlockSectionItem>	
                <apex:pageBlockSectionItem >	
                	<apex:outputLabel value="Worker" />
                	<apex:inputField value="{!coreValues.VanaHCM__Core_Value_Worker__c}" />
                </apex:pageBlockSectionItem>    
                <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Performance Plan" />
                	<apex:inputField value="{!coreValues.VanaHCM__Core_Value_Performance__c}" />
                </apex:pageBlockSectionItem>
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Owner" />
                	<apex:outputField value="{!coreValues.Owner.Name}" />
                </apex:pageBlockSectionItem>	
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Employee Rating" />
                 	<apex:outputPanel >
                 		<apex:inputField value="{!coreValues.VanaHCM__Employee_Rating_Core_Value__c}" rendered="{!IsWorker}" />
                		<apex:outputField value="{!coreValues.VanaHCM__Employee_Rating_Core_Value__c}" rendered="{!NOT(IsWorker)}" />
                	</apex:outputPanel>	
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Manager Rating"  />
                 	<apex:outputPanel >
                		<apex:inputField value="{!coreValues.VanaHCM__Manager_Rating_Core_Value__c}"  rendered="{!IsManager}" />
                		<apex:outputField value="{!coreValues.VanaHCM__Manager_Rating_Core_Value__c}" rendered="{!NOT(IsManager)}" />
                	</apex:outputPanel>	
                </apex:pageBlockSectionItem>
                
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Employee Comments"  />
                 	<apex:outputPanel >
                		<apex:inputField value="{!coreValues.VanaHCM__Employee_Comments_Core_Value__c}" style="width:240px" rendered="{!IsWorker}" />
                		<apex:outputField value="{!coreValues.VanaHCM__Employee_Comments_Core_Value__c}" style="width:240px" rendered="{!NOT(IsWorker)}" />
                	</apex:outputPanel>	
                </apex:pageBlockSectionItem>  
                 <apex:pageBlockSectionItem >
                 	<apex:outputLabel value="Manager Comments"   />
                 	<apex:outputPanel >
                		<apex:inputField value="{!coreValues.VanaHCM__Manager_Comments_Core_Value__c}" style="width:240px"  rendered="{!IsManager}" />
                		<apex:outputField value="{!coreValues.VanaHCM__Manager_Comments_Core_Value__c}" style="width:240px"  rendered="{!NOT(IsManager)}" />
                	</apex:outputPanel>	
                </apex:pageBlockSectionItem>          
            </apex:pageBlockSection>
           
        </apex:pageBlock>
    </apex:form>    
</apex:page>