<!--
//------------------------------------------------------------------------------//
//Date          :   25 October 2011
//Author        :   
//Description   :   Stand alone page to show the detail of worker
//-----------------------------------------------------------------------------// 
 -->
<apex:page extensions="VanaHCM.EmployeeSelfServiceController" sidebar="true" showHeader="true" id="page1"  TabStyle="About_Me__tab"  standardController="VanaHCM__Worker__c" action="{!init}">
    <style> 
        .color_a{
            color: #000000 !important;
            text-decorarion:none !important;
            font-weight:bold !important;
        }
        label{
            white-space: nowrap;
        }
        
    #nav a {
        display:block; 
       float: left; 
        width:50px;
        text-align: center;
        padding-right: 32px; 
        padding-top: 2px;
        text-decoration: none;
        font-size: 11px;
    }
    #nav .imgSpan{
        display:block;
        height:42px;
        width:42px;
        padding-top: 5px;
    }
      
    </style>

    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'/js/jquery-1.5.1.js')}" />

    <apex:pageMessages id="pm"/>
    
    <apex:form id="form1">
        <apex:actionfunction action="{!initWorkerEdit}" name="jsInitWorkerEdit" immediate="true" rerender="workerNamePB" status="status" /> 
        <apex:actionfunction action="{!cancelWorkerEdit}" name="jsCancelWorkerEdit" immediate="true" rerender="workerNamePB" status="status" /> 
        <apex:actionfunction action="{!saveWorkerEdit}" name="jsSaveWorkerEdit" rerender="workerNamePB, pm" status="status" />
  
       
         <apex:outputPanel >
            <table  style="margin: 5px;"> 
               <tr>
                   <td><apex:image value="{!currentWorker.User__r.FullPhotoUrl}" height="110"/></td>
                   <td style="padding-left: 10px; width:100%">
                    <font size="5">
                        <apex:outputtext value="{!currentWorker.Name}"/>
                    </font>
                    <apex:actionStatus id="status">
                        <apex:facet name="start"><img src="/img/loading.gif" /></apex:facet>
                    </apex:actionStatus>
                      <apex:outputPanel id="workerNamePB">
                          
                          <apex:outputPanel rendered="{!AND(NOT(isWorkerEditMode),NOT(isReadMode))}">
                                <a href="#" onclick="jsInitWorkerEdit()" class="color_a" style="position: absolute; padding-top: 6px; padding-left: 5px;">Edit</a>   
                          </apex:outputPanel>
                          
                          <apex:outputPanel rendered="{!isWorkerEditMode}" >
                              <table width="50%" class="workerEditTable">
                                  <tr>
                                        <td>
                                            <apex:pageblock >
                                                <apex:pageblockSection columns="1">
                                                    <apex:inputField value="{!currentWorkerFA2.VanaHCM__Name_Effective__c}"/>
                                                    <apex:inputField value="{!currentWorkerFA2.VanaHCM__Nick_Name__c}" rendered="{!config.useNicknameIfAvailableInWorkerName}"/>
                                                    <apex:inputField value="{!currentWorkerFA2.VanaHCM__Prefix__c}"/>
                                                    <apex:inputField value="{!currentWorkerFA2.VanaHCM__First_Name__c}"/>
                                                    <apex:inputField value="{!currentWorkerFA2.VanaHCM__Middle__c}"/>
                                                    <apex:inputField value="{!currentWorkerFA2.VanaHCM__Last_Name__c}"/>
                                                    <apex:inputField value="{!currentWorkerFA2.VanaHCM__Suffix__c}"/>
                                                    <apex:pageblockSectionItem >
                                                        <apex:outputLabel value="" />
                                                        <apex:outputPanel style="float:right; padding-right:10px;">
                                                                <a href="#" onclick="jsSaveWorkerEdit()" class="color_a">Save</a>
                                                &nbsp;|&nbsp;
                                             <a href="#" onclick="jsCancelWorkerEdit()" class="color_a">Cancel</a>
                                                        </apex:outputPanel>
                                                    </apex:pageblockSectionItem>
                                                </apex:pageblockSection>
                                            </apex:pageblock>   
                                        </td>
                                    </tr>
                                 </table>
                             </apex:outputPanel>
                      </apex:outputPanel>
                    <br />
                 <font size="3" style="color:gray;">
                    <apex:outputtext value="{!workerBusinessTitle}"/>&nbsp;
                </font>
                <apex:outputPanel rendered="{!Show_Social_Sharing}">
                    <div style="display:inline; position: absolute; padding-top: 1px; {!if(isnull(workerBusinessTitle), '', 'padding-left: 10px')}">   
                        <apex:outputLink title="View LinkedIn Profile" value="{!currentWorker.VanaHCM__LinkedIn_Profile__c}"> <apex:image value="{!$Resource.VanaHCM__linkedin_profile}"/></apex:outputLink>
                        &nbsp;&nbsp;
                        <apex:outputLink value="{!currentWorker.VanaHCM__Twitter_Profile__c}" > <apex:image value="{!$Resource.VanaHCM__twitter_profile}"/></apex:outputLink>
                        &nbsp;&nbsp;
                        <apex:outputLink value="{!currentWorker.VanaHCM__Facebook_Profile__c}"   ><apex:image value="{!$Resource.VanaHCM__facebook_profile}"/></apex:outputLink>
                    </div>
                </apex:outputPanel> 
                
                
                
                <div id="nav">
                    <apex:outputPanel rendered="{!NOT(isReadMode)}">
                    <apex:variable var="v1" value="" rendered="{!config.showWorkLinkOnESS}">
                        <a href="/_ui/core/userprofile/UserProfilePage?u={!currentWorker.User__c}">
                            <img src="{!URLFOR($Resource.Mobile, '/images/profile.png')}" class="imgSpan"/>
                            <span>Profile</span>
                        </a>
                    </apex:variable>
                    <apex:variable var="v2" value="" rendered="{!config.showOrgChartLinkOnESS}">
                        <a href="{!$Page.Worker_Hierarchy}"><img src="{!URLFOR($Resource.Mobile, '/images/orgchart.png')}" class="imgSpan"/><span>Org Chart</span></a>
                    </apex:variable>
                    <apex:variable var="v3" value="" rendered="{!config.showAbsenceLinkOnESS}">
                        <a href="{!$Page.EmployeeAbsenseRequest}"><img src="{!URLFOR($Resource.Mobile, '/images/case.png')}" class="imgSpan"/><span>Absence</span></a>
                    </apex:variable>
                    <apex:variable var="v4" value="" rendered="{!config.showCalendarLinkOnESS}">
                        <a href="{!$Page.AbsenceCalendar}"><img src="{!URLFOR($Resource.Mobile, '/images/calendar.png')}" class="imgSpan"/><span>Calendar</span></a>
                    </apex:variable>
                    <apex:variable var="v5" value="" rendered="{!config.showClockLinkOnESS}">
                        <a href="{!$Page.PunchTime}"><img src="{!URLFOR($Resource.Mobile, '/images/icon-clockin-blue.png')}" class="imgSpan"/><span>Clock</span></a>
                    </apex:variable>
                    <apex:variable var="v6" value="" rendered="{!config.showTiesheetLinkOnESS}">
                        <a href="{!$Page.Timesheet}">
                            <img src="{!URLFOR($Resource.Mobile, '/images/icon-timesheet-blue.png')}" class="imgSpan"/>
                            <span>Timesheet</span></a>
                    </apex:variable>
                    <apex:variable var="v7" value="" rendered="{!config.showGoalsLinkOnESS}">
                        <a href="{!$Page.WorkerGoal}"><img src="{!URLFOR($Resource.Mobile, '/images/Goals.png')}" class="imgSpan"/><span>Goals</span></a>
                    </apex:variable>
                    <apex:variable var="v8" value="" rendered="{!config.showPerformanceLinkOnESS}">
                        <a href="{!$Page.WorkerPerformance}"><img src="{!URLFOR($Resource.Mobile, '/images/Performance.png')}" class="imgSpan"/><span>Performance</span></a>
                    </apex:variable>
                    </apex:outputPanel>
                </div>
            </td>
         </tr>
     </table>
  </apex:outputPanel>  
        
        <apex:pageBlock id="block2" title="Address">
                
             <apex:pageBlockButtons location="top" rendered="{!NOT(isReadMode)}" >
                <apex:commandButton value="New Address"   action="{!URLFOR($Page.Worker_Address)}"/>
            </apex:pageBlockButtons>   
            <apex:pageBlockSection columns="1">

                   <apex:pageBlockTable id="table1" value="{!listOfWorkerAddress}" var="lst">
                        <apex:column headerValue="Action" rendered="{!NOT(isReadMode)}">
                            <a href="{!$Page.Worker_Address}?workerAID={!lst.Id}" class="color_a">Edit</a>                                                        
                        </apex:column>
                        <apex:column headerValue="Address Type" >
                            <apex:outputLabel value="{!lst.VanaHCM__Address_Type__c}"></apex:outputLabel>
                        </apex:column>
                        <apex:column headerValue="Effective Date" >
                            <apex:outputField value="{!lst.VanaHCM__Effective_Date_Address__c}" />
                        </apex:column>
                        <apex:column headerValue="Address" >
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__Address_Line_1__c != NULL, true, false)}">
                                    <apex:outputLabel value="{!lst.VanaHCM__Address_Line_1__c}"  />&nbsp;
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__Address_Line_2__c != NULL, true, false)}">
                                    <apex:outputLabel value="{!lst.VanaHCM__Address_Line_2__c}"  />&nbsp;
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__Address_Line_3__c != NULL, true, false)}"> 
                                    <apex:outputLabel value="{!lst.VanaHCM__Address_Line_3__c}"  />&nbsp;
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__Address_Line_4__c != NULL, true, false)}"> 
                                    <apex:outputLabel value="{!lst.VanaHCM__Address_Line_4__c}"  />&nbsp;
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__Address_Line_5__c != NULL, true, false)}"> 
                                    <apex:outputLabel value="{!lst.VanaHCM__Address_Line_5__c}"  />&nbsp;
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__City_Town__c != NULL, true, false)}">  
                                    <apex:outputLabel value="{!lst.VanaHCM__City_Town__c}"  />&nbsp;
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__State_Province__c != NULL, true, false)}">  
                                    <apex:outputField value="{!lst.VanaHCM__State_Province__c}"  />&nbsp;
                                </apex:outputPanel>  
                                <apex:outputPanel rendered="{!IF(lst.Country_Codes__r.Name != NULL, true, false)}"> 
                                    <apex:outputLabel value="{!lst.Country_Codes__r.Name}"  />&nbsp;
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__Zip_Postal_Code__c != NULL, true, false)}"> 
                                    <apex:outputField value="{!lst.VanaHCM__Zip_Postal_Code__c}"  />
                                </apex:outputPanel>
                                
                        </apex:column>
                         <apex:column headerValue="Google Map" >
                            <apex:outputLink value="https://maps.google.com/?q={!lst.VanaHCM__Address_Line_1__c + ', ' + lst.VanaHCM__City_Town__c + ', ' + lst.VanaHCM__State_Province__c + ', ' + lst.Country_Codes__r.VanaHCM__Country_Description__c + ', ' + lst.VanaHCM__Zip_Postal_Code__c}">
                                 Click to Google Map
                                 </apex:outputLink>
                         </apex:column>
                    </apex:pageBlockTable>
                    
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Show Address History" style="align:left !important;"/>
                    <apex:outputPanel >
                        <apex:inputCheckBox onclick="ShowHistory_Address();" value="{!IsShow_History_Address}" /><apex:actionStatus id="loadStatus">
                            <apex:facet name="start"><img src="/img/loading.gif" />"</apex:facet>
                         </apex:actionStatus>
                         <apex:actionFunction name="ShowHistory_Address" action="{!ShowHistory_Address}" status="loadStatus" rerender="pnlAddressHistory" />
                    </apex:outputPanel> 
                </apex:pageBlockSectionItem>
           </apex:pageBlockSection>     
           <apex:pageBlockSection columns="1">  
                <apex:outputPanel id="pnlAddressHistory">
                  <apex:pageBlockTable id="table1Temp" value="{!listOfWorkerAddress_History}" var="lst" rendered="{!IsShow_History_Address}">
                        <apex:column headerValue="Action" rendered="{!NOT(isReadMode)}">
                            <a href="{!$Page.Worker_Address}?workerAID={!lst.Id}" class="color_a">Edit</a>                                                        
                        </apex:column>
                        <apex:column headerValue="Address Type" >
                            <apex:outputLabel value="{!lst.VanaHCM__Address_Type__c}"></apex:outputLabel>
                        </apex:column>
                        <apex:column headerValue="Effective Date" >
                            <apex:outputField value="{!lst.VanaHCM__Effective_Date_Address__c}" />
                        </apex:column>
                        <apex:column headerValue="Address" >
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__Address_Line_1__c != NULL, true, false)}">
                                    <apex:outputLabel value="{!lst.VanaHCM__Address_Line_1__c}"  />&nbsp;
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__Address_Line_2__c != NULL, true, false)}">
                                    <apex:outputLabel value="{!lst.VanaHCM__Address_Line_2__c}"  />&nbsp;
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__Address_Line_3__c != NULL, true, false)}"> 
                                    <apex:outputLabel value="{!lst.VanaHCM__Address_Line_3__c}"  />&nbsp;
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__Address_Line_4__c != NULL, true, false)}"> 
                                    <apex:outputLabel value="{!lst.VanaHCM__Address_Line_4__c}"  />&nbsp;
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__Address_Line_5__c != NULL, true, false)}"> 
                                    <apex:outputLabel value="{!lst.VanaHCM__Address_Line_5__c}"  />&nbsp;
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__City_Town__c != NULL, true, false)}">  
                                    <apex:outputLabel value="{!lst.VanaHCM__City_Town__c}"  />&nbsp;
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__State_Province__c != NULL, true, false)}">  
                                    <apex:outputField value="{!lst.VanaHCM__State_Province__c}"  />&nbsp;
                                </apex:outputPanel>  
                                <apex:outputPanel rendered="{!IF(lst.Country_Codes__r.Name != NULL, true, false)}"> 
                                    <apex:outputLabel value="{!lst.Country_Codes__r.Name}"  />&nbsp;
                                </apex:outputPanel> 
                                <apex:outputPanel rendered="{!IF(lst.VanaHCM__Zip_Postal_Code__c != NULL, true, false)}"> 
                                    <apex:outputField value="{!lst.VanaHCM__Zip_Postal_Code__c}"  />
                                </apex:outputPanel>
                                
                        </apex:column>
                         <apex:column headerValue="Google Map" >
                            <apex:outputLink value="https://maps.google.com/?q={!lst.VanaHCM__Address_Line_1__c + ', ' + lst.VanaHCM__City_Town__c + ', ' + lst.VanaHCM__State_Province__c + ', ' + lst.Country_Codes__r.VanaHCM__Country_Description__c + ', ' + lst.VanaHCM__Zip_Postal_Code__c}">
                                 Click to Google Map
                                 </apex:outputLink>
                         </apex:column>
                    </apex:pageBlockTable>
                 </apex:outputPanel>   
            </apex:pageBlockSection>
            </apex:pageBlock>
              <apex:pageBlock id="block3" title="Phone">
                <apex:pageBlockButtons location="top" rendered="{!NOT(isReadMode)}">
                    <apex:commandButton value="New Phone" action="{!URLFOR($Page.Worker_Phone)}" />
                </apex:pageBlockButtons>   
             <apex:pageBlockSection columns="1">
                
                   <apex:pageBlockTable id="table1" value="{!listOfWorkerPhone}" var="lst"> 
                        <apex:column headerValue="Action" rendered="{!NOT(isReadMode)}">
                            <a href="{!$Page.Worker_Phone}?workerPID={!lst.Id}" class="color_a">Edit</a>                                                        
                        </apex:column>
                        <apex:column headerValue="Phone Type" >
                            <apex:outputLabel value="{!lst.VanaHCM__Phone_Type__c}"  />
                        </apex:column>
                        <apex:column headerValue="Effective Date" >
                            <apex:outputField value="{!lst.VanaHCM__Effective_Date_Phone__c}"  />
                        </apex:column>
                        <apex:column headerValue="Phone Number" >
                            <apex:outputField value="{!lst.name}"  />
                        </apex:column>
                      
                         <apex:column headerValue="Extension" >
                            <apex:outputLabel value="{!lst.VanaHCM__Extension_Phone__c}"  />
                        </apex:column>
                    </apex:pageBlockTable>
            </apex:pageBlockSection>
             <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Show Phone History" style="align:left !important;"/>
                    <apex:outputPanel >
                        <apex:inputCheckBox onclick="ShowHistory_Phone();" value="{!IsShow_History_Phone}" /><apex:actionStatus id="loadStatus1">
                            <apex:facet name="start"><img src="/img/loading.gif" />"</apex:facet>
                         </apex:actionStatus>
                         <apex:actionFunction name="ShowHistory_Phone" action="{!ShowHistory_Address}" status="loadStatus1" rerender="pnlPhoneHistory" />
                    </apex:outputPanel> 
                </apex:pageBlockSectionItem>
           </apex:pageBlockSection>     
           <apex:pageBlockSection columns="1">  
                <apex:outputPanel id="pnlPhoneHistory">
                     <apex:pageBlockTable id="tableHistoryPhone" value="{!listOfWorkerPhone_History}" var="lst" rendered="{!IsShow_History_Phone}"> 
                            <apex:column headerValue="Action" rendered="{!NOT(isReadMode)}">
                                <a href="{!$Page.Worker_Phone}?workerPID={!lst.Id}" class="color_a">Edit</a>                                                        
                            </apex:column>
                              <apex:column headerValue="Phone Type" >
                                <apex:outputLabel value="{!lst.VanaHCM__Phone_Type__c}"  />
                            </apex:column>
                            <apex:column headerValue="Effective Date" >
                                <apex:outputField value="{!lst.VanaHCM__Effective_Date_Phone__c}"  />
                            </apex:column>
                            <apex:column headerValue="Phone Number" >
                                <apex:outputField value="{!lst.name}"  />
                            </apex:column>
                          
                             <apex:column headerValue="Extension" >
                                <apex:outputLabel value="{!lst.VanaHCM__Extension_Phone__c}"  />
                            </apex:column>
                        </apex:pageBlockTable>
                </apex:outputPanel>
           </apex:pageBlockSection>     
           </apex:pageBlock> 
             <apex:pageBlock id="block4" title="Contact">
                <apex:pageBlockButtons location="top" rendered="{!NOT(isReadMode)}">
                    <apex:commandButton value="New Worker Contact" action="{!URLFOR($Page.Worker_Contact)}" />
                </apex:pageBlockButtons>   
               <apex:pageBlockSection columns="1">
                   <apex:pageBlockTable id="table1" value="{!listOfContact}" var="lst">
                        <apex:column headerValue="Action" rendered="{!NOT(isReadMode)}">
                            <a href="{!$Page.Worker_Contact}?workerCID={!lst.Id}" class="color_a">Edit</a>
                        </apex:column>  
                        <apex:column headerValue="Contact Name" >
                            <apex:outputLabel value="{!lst.Name}"  />
                        </apex:column>
                        <apex:column headerValue="Effective Date" >
                            <apex:outputField value="{!lst.VanaHCM__Effective_Date_Contact__c}"  />
                        </apex:column> 
                         <apex:column headerValue="Phone" >
                            <apex:outputField value="{!lst.VanaHCM__Phone_Contact__c}"  />
                        </apex:column>
                        <apex:column value="{!lst.VanaHCM__Primary_Contact__c}" />
                        <apex:column headerValue="Emergency Contact" >
                            <apex:outputField value="{!lst.VanaHCM__Emergency_Contact__c}"  />
                        </apex:column>
                          <apex:column headerValue="Relationship To Worker" >
                            <apex:outputField value="{!lst.Relationship__r.name}"  />
                        </apex:column>
                        
                    </apex:pageBlockTable>
            </apex:pageBlockSection>
           </apex:pageBlock>
           <!-- ---------------------------------------- -->
            <apex:pageBlock id="block5" title="Education" rendered="{!config.showWorkerEducationOnESS}">
                <apex:pageBlockButtons location="top" rendered="{!NOT(isReadMode)}">
                    <apex:commandButton value="New Education" action="{!URLFOR($Page.Worker_Education)}" />
                </apex:pageBlockButtons>   
               <apex:pageBlockSection columns="1">
                   <apex:pageBlockTable id="table51" value="{!listOfEducation}" var="lst">
                        <apex:column headerValue="Action" rendered="{!NOT(isReadMode)}">
                            <a href="{!$Page.Worker_Education}?workerEDUID={!lst.Id}" class="color_a">Edit</a>
                        </apex:column>  
                        <apex:column headerValue="University/Institute Name" >
                            <apex:outputLabel value="{!lst.Name}"  />
                        </apex:column>
                         <apex:column headerValue="Degree Diploma" >
                            <apex:outputField value="{!lst.VanaHCM__Degree_Diploma__c}"  />
                        </apex:column>
                         <apex:column headerValue="Grade Average" >
                            <apex:outputField value="{!lst.VanaHCM__Grade_Average__c}"  />
                        </apex:column>
                          <apex:column headerValue="Start Date" >
                            <apex:outputField value="{!lst.VanaHCM__Start_Date_Education__c}"  />
                        </apex:column>
                         <apex:column headerValue="End Date" >
                            <apex:outputField value="{!lst.VanaHCM__End_Date_Education__c}"  />
                        </apex:column>
                         <apex:column headerValue="Completed" >
                            <apex:outputField value="{!lst.VanaHCM__Completed__c}"  />
                        </apex:column> 
                    </apex:pageBlockTable>
            </apex:pageBlockSection>
           </apex:pageBlock>
           
           <apex:pageBlock id="block6" title="Visa" rendered="{!config.showWorkerVisaOnESS}">
                <apex:pageBlockButtons location="top" rendered="{!NOT(isReadMode)}">
                    <apex:commandButton value="New Visa" action="{!URLFOR($Page.Worker_Visa)}" />
                </apex:pageBlockButtons>   
               <apex:pageBlockSection columns="1">
                   <apex:pageBlockTable id="table61" value="{!listOfVisa}" var="lst">
                        <apex:column headerValue="Action" rendered="{!NOT(isReadMode)}">
                            <a href="{!$Page.Worker_Visa}?workerVISAID={!lst.Id}" class="color_a">Edit</a>
                        </apex:column> 
                          <apex:column headerValue="Visa Type" >
                            <apex:outputField value="{!lst.VanaHCM__Visa_Type__c}"  />
                        </apex:column> 
                        <apex:column headerValue="Visa ID" >
                            <apex:outputField value="{!lst.Name}"  />
                        </apex:column> 
                       
                         <apex:column headerValue="Issued Date Visa" >
                            <apex:outputField value="{!lst.VanaHCM__Issued_Date_Visa__c}"  />
                        </apex:column>
                          <apex:column headerValue="Expiration Date Visa" >
                            <apex:outputField value="{!lst.VanaHCM__Expiration_Date_Visa__c}"  />
                        </apex:column>
                    </apex:pageBlockTable>
            </apex:pageBlockSection>
           </apex:pageBlock>
           <apex:pageBlock id="block7" title="Passport" rendered="{!config.showWorkerPassportOnESS}">
                <apex:pageBlockButtons location="top" rendered="{!NOT(isReadMode)}">
                    <apex:commandButton value="New Passport" action="{!URLFOR($Page.Worker_Passport)}" />
                </apex:pageBlockButtons>   
               <apex:pageBlockSection columns="1">
                   <apex:pageBlockTable id="table71" value="{!listOfPassport}" var="lst">
                        <apex:column headerValue="Action" rendered="{!NOT(isReadMode)}">
                            <a href="{!$Page.Worker_Passport}?workerPPID={!lst.Id}" class="color_a">Edit</a>
                        </apex:column>  
                        <apex:column headerValue="Passport Number" >
                            <apex:outputLabel value="{!lst.Name}"  />
                        </apex:column>
                        <apex:column headerValue="Country" >
                            <apex:outputField value="{!lst.Country_Codes_Passport__r.Name}"  />
                        </apex:column> 
                         <apex:column headerValue="Issued Date" >
                            <apex:outputField value="{!lst.VanaHCM__Issued_Date_Passport__c}"  />
                        </apex:column>
                         <apex:column headerValue="Expiration Date" >
                            <apex:outputField value="{!lst.VanaHCM__Expiration_Date_Passport__c}"  />
                        </apex:column>
                         
                    </apex:pageBlockTable>
            </apex:pageBlockSection>
           </apex:pageBlock>
           
           <apex:pageBlock id="block8" title="License" rendered="{!config.showWorkerLicenseOnESS}">
                <apex:pageBlockButtons location="top" rendered="{!NOT(isReadMode)}">
                    <apex:commandButton value="New License" action="{!URLFOR($Page.Worker_Licence)}" />
                </apex:pageBlockButtons>   
               <apex:pageBlockSection columns="1">
                   <apex:pageBlockTable id="table81" value="{!listOfLicence}" var="lst">
                        <apex:column headerValue="Action" rendered="{!NOT(isReadMode)}">
                            <a href="{!$Page.Worker_Licence}?workerLICID={!lst.Id}" class="color_a">Edit</a>
                        </apex:column>  
                        <apex:column headerValue="License Number" >
                            <apex:outputLabel value="{!lst.Name}"  />
                        </apex:column>
                        <apex:column headerValue="Country" >
                            <apex:outputField value="{!lst.Country_Code_License__r.Name}"  />
                        </apex:column> 
                         <apex:column headerValue="License Type" >
                            <apex:outputField value="{!lst.License_Type__r.Name}"  />
                        </apex:column>
                         <apex:column headerValue="Issued Date" >
                            <apex:outputField value="{!lst.VanaHCM__Issued_Date_License__c}"  />
                        </apex:column>
                          <apex:column headerValue="Expiration Date" >
                            <apex:outputField value="{!lst.VanaHCM__Expiration_Date_License__c}"  />
                        </apex:column>
                    </apex:pageBlockTable>
            </apex:pageBlockSection>
           </apex:pageBlock>
           
           <apex:pageBlock id="block9" title="Language" rendered="{!config.showWorkerLanguagesOnESS}">
                <apex:pageBlockButtons location="top" rendered="{!NOT(isReadMode)}">
                    <apex:commandButton value="New Language" action="{!URLFOR($Page.Worker_Language)}" />
                </apex:pageBlockButtons>   
               <apex:pageBlockSection columns="1">
                   <apex:pageBlockTable id="table91" value="{!listOfLanguage}" var="lst">
                        <apex:column headerValue="Action" rendered="{!NOT(isReadMode)}">
                            <a href="{!$Page.Worker_Language}?workerLANGID={!lst.Id}" class="color_a">Edit</a>
                        </apex:column>  
                        <apex:column headerValue="Language Code" >
                            <apex:outputField value="{!lst.Language_Code_Worker__r.Name}"  />
                        </apex:column> 
                         <apex:column headerValue="Reading Proficiency" >
                            <apex:outputField value="{!lst.VanaHCM__Reading_Proficiency__c}"  />
                        </apex:column>
                         <apex:column headerValue="Speaking Proficiency" >
                            <apex:outputField value="{!lst.VanaHCM__Speaking_Proficiency__c}"  />
                        </apex:column>
                          <apex:column headerValue="Writing Proficiency" >
                            <apex:outputField value="{!lst.VanaHCM__Writing_Proficiency__c}"  />
                        </apex:column>
                        
                    </apex:pageBlockTable>
            </apex:pageBlockSection>
           </apex:pageBlock>
           
           <apex:pageBlock id="block10" title="Certification & Licenses" rendered="{!config.showWorkerCertificationLicensesOnESS}">
                <apex:pageBlockButtons location="top" rendered="{!NOT(isReadMode)}">
                    <apex:commandButton value="New Certification & Licenses" action="{!URLFOR($Page.Worker_CertificationLicenses)}" />
                </apex:pageBlockButtons>   
               <apex:pageBlockSection columns="1">
                   <apex:pageBlockTable id="table101" value="{!listOfCertificationLicenses}" var="lst">
                        <apex:column headerValue="Action" rendered="{!NOT(isReadMode)}">
                            <a href="{!$Page.Worker_CertificationLicenses}?workerCERTLIC={!lst.Id}" class="color_a">Edit</a>
                        </apex:column>  
                        <apex:column headerValue="Title" >
                            <apex:outputField value="{!lst.Name}"  />
                        </apex:column>
                        <apex:column headerValue="Version" >
                            <apex:outputField value="{!lst.VanaHCM__Version__c}"  />
                        </apex:column> 
                         <apex:column headerValue="Awarded Date" >
                            <apex:outputField value="{!lst.VanaHCM__Awarded_Date__c}"  />
                        </apex:column>
                         <apex:column headerValue="Description Certification" >
                            <apex:outputField value="{!lst.VanaHCM__Description_Certification__c}"  />
                        </apex:column>
                          <apex:column headerValue="Issued By" >
                            <apex:outputField value="{!lst.VanaHCM__Issued_By__c}"  />
                        </apex:column>
                          <apex:column headerValue="Valid Until Date" >
                            <apex:outputField value="{!lst.VanaHCM__Valid_Until_Date__c}"  />
                        </apex:column>
                    </apex:pageBlockTable>
            </apex:pageBlockSection>
           </apex:pageBlock>
           <!-- ---------------------------------------- -->
   </apex:form>
    <div class="selectorClass">
    <apex:pageBlock title="Current Work Assignment" id="mainPB" rendered="{!displayAssignments}">
        <apex:pageblockSection columns="2">
        
        <apex:repeat value="{!$ObjectType.VanaHCM__Worker_Assignment__c.FieldSets.VanaHCM__ESS_Work_History}" var="f">
             <apex:outputField value="{!currentAssignment[f]}"  styleClass="currentAssignment{!f} linksToDisable"/>
        </apex:repeat>
        </apex:pageblockSection>
    
    </apex:pageBlock>
</div>       
                  
<apex:pageBlock title="Work Assignment History" rendered="{!displayAssignments}">
      <apex:pageBlockTable value="{!assigmnments}" var="lst" rendered="{!assigmnments.size > 0}">
          <apex:column headerValue="Effective Date">
              <apex:outputField value="{!lst.VanaHCM__Effective_Date_Work_Assign__c}" />
          </apex:column>
          
          <apex:column headerValue="Worker Event">
            <apex:outputLabel > {!lst.Worker_Event__r.Name}</apex:outputLabel>
          </apex:column>
          <apex:column headerValue="Department">
            <apex:outputText value="{!lst.Department__r.name}" />
          </apex:column>
          
          <apex:column headerValue="Location">
            <apex:outputText value="{!lst.Location__r.Name}" />
          </apex:column>
          <apex:column headerValue="Manager">
            <apex:outputText value="{!lst.Manager__r.Name}" />
          </apex:column>
          <apex:column headerValue="Position Indicator">
              <apex:outputLabel value="{!lst.VanaHCM__Position_Indicator__c}" /> 
          </apex:column>
          <apex:column headerValue="Position Start Date">
            <apex:outputField value="{!lst.VanaHCM__Start_Date_Work_Assign__c}" />
          </apex:column>
          <apex:column headerValue="Position End Date">
            <apex:outputField value="{!lst.VanaHCM__End_Date_Work_Assign__c}" />
            </apex:column>
      </apex:pageBlockTable>
      </apex:pageBlock>
      
      
      <apex:pageBlock title="Compensation History" rendered="{!displayCompensations}">
          <apex:pageBlockTable value="{!compensations}" var="comp" rendered="{!compensations.size > 0}">
              <apex:column value="{!comp.VanaHCM__Effective_Date_Compensation__c}"/>
              <apex:column headerValue="Compensation Event">
                  <apex:outputText value="{!comp.Compensation_Event__r.Name}" />
              </apex:column>
              <apex:column value="{!comp.VanaHCM__Compensation_Rate__c}"/>
              <apex:column value="{!comp.VanaHCM__Merit_Increase__c}"/>
              <apex:column value="{!comp.VanaHCM__Merit_Increase_Amount__c}"/>
              <apex:column value="{!comp.VanaHCM__Bonus_Increase_Amount__c}"/>
              <apex:column value="{!comp.VanaHCM__Total_Base_Compensation__c}"/>
          </apex:pageBlockTable>
      </apex:pageBlock>
    
    <apex:pageBlock title="Allowance History" rendered="{!displayAllowances}">
          <apex:pageBlockTable value="{!allowances}" var="a" rendered="{!allowances.size > 0}">
              <apex:column value="{!a.VanaHCM__Effective_Date_Allowance__c}"/>
              <apex:column headerValue="Allowance Type">
                  <apex:outputText value="{!a.Allowance_Type__r.name}" />
              </apex:column>
              <apex:column value="{!a.VanaHCM__Amount__c}"/>
              <apex:column headerValue="Frequency">
                  <apex:outputText value="{!a.Compensation_Frequency__r.name}" />
              </apex:column>
              <apex:column value="{!a.VanaHCM__Start_Date_Allowance__c}"/>
              <apex:column value="{!a.VanaHCM__End_Date_Allowance__c}"/>
              <apex:column value="{!a.VanaHCM__Maximum_Amount__c}"/>
          </apex:pageBlockTable>
          <apex:outputlabel value="No Allowance history found." rendered="{!NOT(allowances.size > 0)}"/>
      </apex:pageBlock>    
    <apex:pageBlock title="Variable Compensation History" rendered="{!displayVariableCompensations}">
          <apex:pageBlockTable value="{!variableCompensations}" var="comp" rendered="{!variableCompensations.size > 0}">
              <apex:column value="{!comp.VanaHCM__Effective_Date_VP__c}"/>
              <apex:column headerValue="Variable Pay Plan">
                  <apex:outputText value="{!comp.Variable_Pay_Plan__r.name}" />
              </apex:column>
              <apex:column headerValue="Variable Pay Event">
                  <apex:outputText value="{!comp.Event_Varilable_Pay__r.name}" />
              </apex:column>
              <apex:column value="{!comp.VanaHCM__Target__c}"/>
              <apex:column value="{!comp.VanaHCM__Target_Amount__c}"/>
              <apex:column value="{!comp.VanaHCM__Award_Date__c}"/>
              <apex:column value="{!comp.VanaHCM__Award_Amount__c}"/>
          </apex:pageBlockTable>
          <apex:outputlabel value="No Variable Compensation history found." rendered="{!NOT(variableCompensations.size > 0)}"/>
      </apex:pageBlock>
      
<apex:relatedList list="NotesAndAttachments" subject="{!currentWorker}" rendered="{!IsShowNotesAttachment}"/>

<script>
    var linksToReplace = $('.selectorClass a');
    if(linksToReplace != null && linksToReplace.length > 0){
        linksToReplace.replaceWith(function() {
            var url = $.trim($(this).text());
            return '<span>' + url + '</span>';
        });
    }
</script>  
</apex:page>