<apex:page controller="VanaHCM.EmployeeAbsenseRequestV2Controller" id="page1" tabStyle="Request_TimeOff__tab">
	<apex:form id="form1">
        <apex:actionRegion >
            <apex:actionFunction name="jsDeleteAbsenceRequest" action="{!deleteAbsenceRequest}" rerender="pgMsg, absenceBalancePB, absenceRequestsPB" status="loadingStatus" >
                <apex:param name="selectedAbsenceRequestToDelete" value="" assignTo="{!selectedAbsenceRequestToDelete}" />
            </apex:actionFunction>
        </apex:actionRegion> 
        <apex:actionfunction action="{!onAbsenceTypeChanged}" name="jsHoursBasedPostback" rerender="secton1,pgMsg,absenceBalancePB,absenceRequestsPB" status="loadingStatus" />
        <apex:actionFunction name="jsOnWorkerChange" action="{!onWorkerChange}" rerender="secton1,mesagesSection,absenceBalancePB,absenceRequestsPB" status="loadingStatus"  />
        <apex:SectionHeader title="Request Time Off" />
        <apex:outputPanel id="mesagesSection">
        <apex:pageMessages id="pgMsg" />
        </apex:outputPanel>
        <apex:pageBlock id="block1"> 
            <apex:pageBlockButtons location="bottom" rendered="{!isAllOK}">
                <apex:CommandButton value="Request Absence"  action="{!SaveData}" />&nbsp;
                <apex:actionStatus id="loadingStatus" >
                    <apex:facet name="start">
						<img src="/img/loading.gif" alt="please wait"/>
                    </apex:facet> 
                    <apex:facet name="stop"></apex:facet>
                </apex:actionStatus>
            </apex:pageBlockButtons>
            <apex:pageBlockSection id="secton1" columns="2">
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <span style="color:red;">*</span><apex:outputLabel value="Absence Type" />
                        </apex:outputPanel> 
                        <apex:selectList value="{!selectedAbsenseTypeID}" size="1" style="width:148px;" onchange="callHoursBasedPostback(this);"> 
                            <apex:selectOptions value="{!absenseTypeOptions}" />
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                     <apex:pageBlockSectionItem rendered="{!isFromMyTeamPage}">
                            <apex:outputLabel value="" />
                            <apex:outputLabel value="" />
                     </apex:pageBlockSectionItem> 
                    <apex:pageBlockSectionItem rendered="{!NOT(isFromMyTeamPage)}">
                        <apex:outputPanel >
                         <div style="padding-top:8px;">
                             <apex:outputLabel value="Select/Enter Worker Name"></apex:outputLabel>
                         </div>  
                    	 </apex:outputPanel> 
	                     <apex:outputPanel >
	                        <c:WorkerSelector onChangeHandler="onWorkerChanged" useSharing="false" selectedWorker="{!selectedWorkerID}" renderLabel="false" listLabel="Worker " loadJquery="true"/>     
	                    </apex:outputPanel> 
	                    
                    </apex:pageBlockSectionItem>   
                    
                    <apex:pageBlockSectionItem rendered="{!selectedAbsenceType.VanaHCM__Show_Reason__c}">
                        <apex:outputPanel >
                            <span style="color:red;">*</span><apex:outputLabel value="Absence Reason" />
                        </apex:outputPanel> 
                        <apex:selectList value="{!selectedAbsenseReasonID}" size="1" style="width:148px;"> 
                            <apex:selectOptions value="{!absenceReasonOptions}" />
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!selectedAbsenceType.VanaHCM__Show_Reason__c}">
                    	<apex:outputlabel value=""/>
                    	<apex:outputlabel value=""/>
                    </apex:pageBlockSectionItem>
                     
                     <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <span style="color:red;">*</span><apex:outputLabel value="Start Date" />
                        </apex:outputPanel> 
                       <apex:inputField value="{!absenceRequest.VanaHCM__Dump_Start_Date__c}" />
                     </apex:pageBlockSectionItem>  
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Worker Name" />
                        <apex:outputLabel value="{!CurrentWorker.Name}"  />
                    </apex:pageBlockSectionItem> 
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel >
                            <span style="color:red;">*</span><apex:outputLabel value="End Date" />
                        </apex:outputPanel> 
                       <apex:inputField value="{!absenceRequest.VanaHCM__Dump_End_Date__c}" />
                     </apex:pageBlockSectionItem> 
                     <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Approver" /> 
                        <apex:outputLabel value="{!CurrentUserManagerName}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!renderHours}">
                            <apex:outputLabel value="Hours"/> 
                            <apex:inputText value="{!absenceRequest.VanaHCM__Hours__c}" />
                    </apex:pageBlockSectionItem>
                     <apex:pageBlockSectionItem rendered="{!renderHours}">
                            <apex:outputLabel value=""/>
                            <apex:outputLabel value=""/>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!renderHalfDaysList}">
                            <apex:outputLabel value="Half Days"/>
                            <apex:inputField value="{!absenceRequest.VanaHCM__Half_Days__c}" />
                    </apex:pageBlockSectionItem>
                     <apex:pageBlockSectionItem rendered="{!renderHalfDaysList}">
                        <apex:outputLabel value="" />
                        <apex:outputLabel value="" />
                     </apex:pageBlockSectionItem>   
                      

					<apex:pageBlockSectionItem rendered="{!selectedAbsenceType.VanaHCM__Show_Department__c}">
                        <apex:outputPanel >
                            <span style="color:red;">*</span><apex:outputLabel value="Department" />
                        </apex:outputPanel> 
                        <apex:inputField value="{!absenceRequest.VanaHCM__Department__c}" />
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!selectedAbsenceType.VanaHCM__Show_Department__c}"> 
                            <apex:outputLabel value=""/>
                            <apex:outputLabel value=""/> 
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!selectedAbsenceType.VanaHCM__Show_Department_Selection_Message__c}">
                        <apex:outputLabel value="" /> 
                        <apex:outputLabel value="{!$Label.vanahcm__Absence_UI_department_related_message}" escape="false" /> 
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem rendered="{!selectedAbsenceType.VanaHCM__Show_Department_Selection_Message__c}"> 
                            <apex:outputLabel value=""/>
                            <apex:outputLabel value=""/> 
                    </apex:pageBlockSectionItem>
                    
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Notes" /> 
                        <apex:inputField value="{!absenceRequest.VanaHCM__Notes__c}"  style="width:250px;height:100px;" />
                    </apex:pageBlockSectionItem>

            </apex:pageBlockSection>
             
        </apex:pageBlock>
		   
        <apex:pageBlock id="absenceBalancePB" title="Absence Balance">
               <apex:pageBlockSection columns="1" rendered="{!IF(employee_absence_view_record.SIZE>0,true,false)}">
                   <apex:pageBlockTable value="{!employee_absence_view_record}"  var="r" width="100%">
                       <apex:column headerValue="Record Id" rendered="false">
                            <apex:outputLink value="/{!r.absenceEntitlement.Id}" >{!r.absenceEntitlement.Name}</apex:outputLink>
                      </apex:column>
                      <apex:column headerValue="Absence Type" >
						  <apex:outputLabel >{!r.absenceEntitlement.Absence_Types__r.Name}</apex:outputLabel>
                      </apex:column> 
                      <apex:column headerValue="Accrual Rate" rendered="{!config.showAccrualRateColumn}">
                           <apex:outputLabel value="{!r.entitlementRate}" />
                           <apex:outputLabel value=" ({!r.absenceEntitlement.VanaHCM__Accrual__c})" rendered="{!NOT(ISNULL(r.absenceEntitlement.VanaHCM__Accrual__c))}"/>
                      </apex:column>
                      <apex:column headerValue="Carry-Over" rendered="{!config.showCarryOverColumn}">
                           <apex:outputLabel value="{!r.absenceEntitlement.VanaHCM__Carry_Forward__c}" />
                      </apex:column>
                      <apex:column value="{!r.absenceEntitlement.VanaHCM__Absence_Entitlement__c}" rendered="{!config.showAbsenceEntitlementColumn}"/>
                      <apex:column value="{!r.absenceEntitlement.VanaHCM__Absence_Taken_Current__c}" rendered="{!config.showAbsenceTakenCurrentColumn}"/>
                      <apex:column value="{!r.absenceEntitlement.VanaHCM__Absence_Balance_Current__c}" rendered="{!config.showAbsenceBalanceCurrentColumn}"/>
                      <apex:column value="{!r.absenceEntitlement.VanaHCM__Absence_Taken__c}" rendered="{!config.showAbsenceTakenInclPendingColumn}"/>
                      <apex:column value="{!r.absenceEntitlement.VanaHCM__Absence_Available_New__c}" rendered="{!config.showAbsenceBalInclPendingColumn}"/>
                      <apex:column value="{!r.absenceEntitlement.VanaHCM__Absence_Taken_Pay_Period__c}" rendered="{!config.showAbsenceTakenPayPeriodColumn}"/>
                      <apex:column value="{!r.absenceEntitlement.VanaHCM__Absence_Balance_Pay_Period__c}" rendered="{!config.showAbsenceBalPayPeriodColumn}"/>
             
              </apex:pageBlockTable>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" rendered="{!IF(employee_absence_view_record.SIZE>0,false,true)}">
                <apex:outputLabel value="No Record(s) found." />
            </apex:pageBlockSection>
        </apex:pageBlock>
            <apex:pageBlock title="Absence Requests" id="absenceRequestsPB">
               <apex:pageBlockSection columns="1" rendered="{!IF(absenceRequestWrapperForSelectedWorker.SIZE>0,true,false)}">
                   <apex:pageBlockTable value="{!absenceRequestWrapperForSelectedWorker}"  var="r" width="100%">
                      <apex:column headerValue="" width="30px;" rendered="{!config.enableAbsenceDeletion}" style="text-align:center"> 
                        <apex:variable var="v1" rendered="{!r.validForDelete}" value="">
                            <a href="javascript:void(0)"><img src="{!URLFOR($Resource.Timesheet,'Image/del_2.gif')}" title="Delete this absence Request" onclick="onAbsenceRequestDeleteClicked('{!r.absenceRequest.id}')" /></a>
                        </apex:variable>
                              
                      </apex:column>
                      <apex:column headerValue="Absence Type" >
                        <apex:outputField value="{!r.absenceRequest.Absence_Type_Request__r.Name}" />
                      </apex:column> 
                      <apex:column headerValue="Start date" >
                        <apex:outputLabel value="{!r.startDate}" />
                      </apex:column>
                     <apex:column headerValue="End date" >
                        <apex:outputLabel value="{!r.endDate}" />
                      </apex:column>
                       <apex:column headerValue="Total Absence Requested" >
                        <apex:outputField value="{!r.absenceRequest.VanaHCM__Actual_Absence__c}" />
                      </apex:column>
                       <apex:column headerValue="Approved" >
                        <apex:outputField value="{!r.absenceRequest.VanaHCM__Approved__c}" />
                      </apex:column>
                      <apex:column headerValue="Department" rendered="{!config.showAbsenceDepartmentColumn}">
							<apex:outputText value="{!r.absenceRequest.Department__r.name}" />
                      </apex:column>
              </apex:pageBlockTable>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" rendered="{!IF(absenceRequestWrapperForSelectedWorker.SIZE>0,false,true)}">
                <apex:outputLabel value="No Record(s) found." />
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:inputHidden id="selectedWorkerIDHidden" value="{!selectedWorkerID}" />
    </apex:form>
    
	<script>
		function callHoursBasedPostback(triggerE){
			if(triggerE.value != null && triggerE.value != -1){
            	jsHoursBasedPostback();
			}
		}
		function onWorkerChanged(selectedWorkerID){
			document.getElementById('{!$Component.page1.form1.selectedWorkerIDHidden}').value = selectedWorkerID; 
			jsOnWorkerChange();
		}
        function onAbsenceRequestDeleteClicked(selectedAbsenceRequestToDelete){
            var confirmMessage = 'Are you sure you want to delete the selected absence request?'
        	    if ((Modal.confirm && Modal.confirm(confirmMessage)) || (!Modal.confirm && window.confirm(confirmMessage))) {
            	    jsDeleteAbsenceRequest(selectedAbsenceRequestToDelete);
                 return true;
             }else{ 
           		return false;
             }
         }
	</script>
    
</apex:page>