<apex:page controller="VanaHCM.employee_absence_view"  id="page1" tabStyle="Request_Timeoff__tab">
  <apex:form id="page1">
  <apex:pageblock id="block1">
    <apex:pageBlockButtons location="bottom">
        <apex:commandButton action="{!navigateToRequestTimeOff}" value="Request Time Off" />
    </apex:pageBlockButtons>
     <apex:sectionHeader title="My Time Off Balance"  id="section1"/>
      <apex:pageBlockSection id="pageBlock" columns="1">
          <apex:pageBlockTable value="{!employee_absence_view_record}"  var="r" width="100%">
                   <apex:column headerValue="Record Id" rendered="false">
                        <apex:outputLink value="/{!r.Id}" >{!r.Name}</apex:outputLink>
                  </apex:column>
                  <apex:column headerValue="Absence Type" >
                  <apex:outputLabel >{!r.Absence_Types__r.Name}</apex:outputLabel>
                  </apex:column> 
                  
                  <apex:column headerValue="Absence Entitlement" >
                        <apex:outputLabel value="{!r.VanaHCM__Absence_Entitlement__c}"  rendered="{!IF(r.VanaHCM__Accrual__c != NULL,true,false)}" />
                        <apex:outputLabel value="N/A"  rendered="{!IF(r.VanaHCM__Accrual__c != NULL,false,true)}" />
                  </apex:column>        
                  <apex:column headerValue="Absence Taken" value="{!r.VanaHCM__Absence_Taken__c}"/>
                  <apex:column headerValue="Absence Available" >
                        <apex:outputLabel value="{!r.VanaHCM__Absence_Available_New__c}" rendered="{!IF(r.VanaHCM__Accrual__c != NULL,true,false)}" />
                        <apex:outputLabel value="N/A" rendered="{!IF(r.VanaHCM__Accrual__c != NULL,false,true)}" />
                  </apex:column>  
          </apex:pageBlockTable>
      </apex:pageBlockSection>    
  </apex:pageblock>
  </apex:form>
</apex:page>