<apex:page standardController="VanaHCM__Objective__c" id="thePage"   title="New Performance Review" tabStyle="VanaHCM__Worker__c" >
<apex:form >
<apex:sectionHeader title="New Performance"/>
<apex:pageMessages ></apex:pageMessages>
<apex:pageBlock >
<apex:pageBlockButtons >
<apex:commandButton action="{!save}" value="Save">
</apex:commandButton>
</apex:pageBlockButtons>
<apex:pageBlockSection >
<apex:inputField value="{!VanaHCM__Objective__c.Name}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Objective__c.VanaHCM__Employee_Rating__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Objective__c.VanaHCM__Manager_Rating__c}"></apex:inputField>
<apex:inputField value="{!Objective__c.Employee_Comments__c
}"></apex:inputField>

</apex:pageBlockSection>
</apex:pageBlock>

</apex:form>
 </apex:page>