<apex:page Standardcontroller="VanaHCM__New_Hire_Request__c" extensions="VanaHCM.HireRequestController" sideBar="true"  showHeader="true" id="page1">
    <apex:form id="form1">
        <apex:pageMessages id="pgMsg" />
        <apex:sectionHeader title="Hire Request Edit" subTitle="New Hire Request" rendered="{!IF(hirerequest.Id == NULL, true,false)}" />   
        <apex:sectionHeader title="Hire Request Edit" subTitle="{!hirerequest.Name}" rendered="{!IF(hirerequest.Id == NULL, false,true)}" />
        <apex:pageBlock title="Hiring Request Detail" >
            <apex:pageBlockButtons >
                <apex:commandButton value="Save"  action="{!Save}" />
                <apex:commandButton value="Cancel"  action="{!Cancel}"/> 
                <apex:actionStatus id="status">
                    <apex:facet name="start"><img src="/img/loading.gif" /></apex:facet>
            </apex:actionStatus>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Select Job Code or Propose New Job Title" columns="2" collapsible="false">
                <apex:inputField value="{!hirerequest.VanaHCM__Job__c}" /> 
                <apex:inputField value="{!hirerequest.VanaHCM__Proposed_Job_TItle__c}" />
            </apex:pageBlockSection>    
            <apex:pageBlockSection title="New Hire Request Detail" columns="2" collapsible="false">
                <apex:inputField value="{!hirerequest.VanaHCM__Worker_Type__c}"  onchange="ProcessType(this);" required="true"/>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel value="Hiring Manager" />
	                <apex:actionRegion >
	                	<apex:inputField value="{!hirerequest.VanaHCM__Hiring_Manager__c}" required="true" onchange="jsOnHiringManagerChange();"/>
	                	<apex:actionFunction name="jsOnHiringManagerChange" action="{!onHiringManagerChange}" rerender="departmentFieldOP, pgMsg" status="status"/>
	                </apex:actionRegion>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                	<apex:outputLabel value="Department" />
                	<apex:outputPanel id="departmentFieldOP">    
		                <apex:inputField value="{!hirerequest.VanaHCM__Department__c}" required="true" rendered="{!NOT(isDepartmentSelectedByHiringManager)}"/>
		                <apex:outputField value="{!hirerequest.VanaHCM__Department__c}" rendered="{!isDepartmentSelectedByHiringManager}"/>
	                </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:inputField value="{!hirerequest.VanaHCM__Status__c}" />
                <apex:inputField value="{!hirerequest.VanaHCM__Location__c}" required="true"/>
                <apex:pageBlockSectionItem >    
                    <apex:outputLabel value="Owner" />
                    <apex:outputPanel >
                        <apex:outputPanel rendered="{!IF(hirerequest.Id == NULL, true,false)}"> 
                            <apex:outputLabel value="{!$User.FirstName}" />&nbsp;
                            <apex:outputLabel value="{!$User.LastName}" />
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!IF(hirerequest.Id == NULL, false,true)}"> 
                            <apex:outputLabel value="{!hirerequest.Owner.Name}" />
                        </apex:outputPanel>
                    </apex:outputPanel>  
                </apex:pageBlockSectionItem>
                
                
                <apex:inputField value="{!hirerequest.VanaHCM__Effective_Date__c}" required="true"/>
                <!-- Removed field as per Pandora request on 10-Apr-2013 -->
                <apex:inputField value="{!hirerequest.VanaHCM__Number__c}" rendered="false"/>
            </apex:pageBlockSection>    
            <apex:pageBlockSection columns="2" id="pnlEmpFields" collapsible="false">
            	<apex:pageBlockSectionItem rendered="{!isEmployee}">   
				<apex:outputLabel value="Backfill Position" />
                <apex:actionRegion >
                	<apex:inputField value="{!hirerequest.VanaHCM__Backfill_Position__c}" required="true" onchange="jsOnBackfillPositionChange();"/>
                	<apex:actionFunction name="jsOnBackfillPositionChange" action="{!onBackfillPositionChange}" rerender="pnlEmpFields, pgMsg" status="status"/>
                </apex:actionRegion>
				</apex:pageBlockSectionItem>
				<apex:outputLabel value="" rendered="{!hirerequest.VanaHCM__Backfill_Position__c = 'Yes'}"/>
				<apex:inputField value="{!hirerequest.VanaHCM__Backfill_Position_For_Whom__c}" rendered="{!hirerequest.VanaHCM__Backfill_Position__c = 'Yes'}" required="true"/>
				<apex:inputField value="{!hirerequest.VanaHCM__Backfill_Position_Termination_Date__c}" rendered="{!hirerequest.VanaHCM__Backfill_Position__c = 'Yes'}" required="true"/>
            </apex:pageBlockSection>    
            <apex:pageBlockSection columns="1"> 
                <apex:inputField value="{!hirerequest.VanaHCM__Job_Description__c}" required="true"/>
            </apex:pageBlockSection>
            <apex:outputPanel id="pnlComponsation"> 
                <apex:pageBlockSection columns="2" title="Compensation & Budget" rendered="{!isEmployee}" collapsible="false">
                    <apex:inputField value="{!hirerequest.VanaHCM__Request_Compensation__c}" />
                    <apex:inputField value="{!hirerequest.VanaHCM__Request_Commission__c}" />
                    <apex:inputField value="{!hirerequest.VanaHCM__Requested_Bonus_Eligibility__c}" />
                </apex:pageBlockSection>    
            </apex:outputPanel> 
            <apex:outputPanel id="pnlContractorOnboarding"> 
                <apex:pageBlockSection columns="2" title="Contractor Detail" rendered="{!isContractor}" collapsible="false">
                    <apex:inputField value="{!hirerequest.VanaHCM__Agency_Name__c}" />
                    <apex:inputField value="{!hirerequest.VanaHCM__Other_Agency_Name__c}" />
                    <apex:inputField value="{!hirerequest.VanaHCM__Start_Date_Contract__c}" />
                    <apex:inputField value="{!hirerequest.VanaHCM__End_Date_Contract__c}" />
                    <apex:inputField value="{!hirerequest.VanaHCM__Consultant_First_Name__c}" />
                    <apex:inputField value="{!hirerequest.VanaHCM__Consultant_Last_Name__c}" />
                    <apex:inputField value="{!hirerequest.VanaHCM__Bill_Rate__c}" />
                </apex:pageBlockSection>    
            </apex:outputPanel> 
<!--            <apex:pageBlockSection columns="2" title="FP&A" collapsible="false">        
                <apex:inputField value="{!hirerequest.VanaHCM__FP_A_Reference__c}" />
            </apex:pageBlockSection> --> 
            
            <apex:pageBlockSection columns="2" title="To Be Completed by FP&A" collapsible="false"  >       
                <apex:inputField value="{!hirerequest.VanaHCM__FP_A_Reference__c}" />
                <apex:inputField value="{!hirerequest.VanaHCM__Comments_FPA__c}" />
            </apex:pageBlockSection>
              
            <apex:pageBlockSection columns="2" title="To Be Completed by HR" collapsible="false"  >       
                <apex:inputField value="{!hirerequest.VanaHCM__Minimum_Salary__c}" />
				<apex:inputField value="{!hirerequest.VanaHCM__Maximum_Salary__c}" />
				
				<apex:inputField value="{!hirerequest.VanaHCM__Minimum_Hourly_Rate__c}" />
				<apex:inputField value="{!hirerequest.VanaHCM__Maximum_Hourly_Rate__c}" />
                
                <apex:inputField value="{!hirerequest.VanaHCM__Minimum_Equity__c}" />
                <apex:inputField value="{!hirerequest.VanaHCM__Maximum_Equity__c}" />
				<apex:inputField value="{!hirerequest.VanaHCM__Variable_Pay_Plan__c}" />
				<apex:inputField value="{!hirerequest.VanaHCM__Target_Amount_or_Percentage__c}" />
                <!--Commented as per Pandora request on 8-Apr-2013 
                 <apex:inputField value="{!hirerequest.Annual_Commission_HR__c}" />
                 <apex:inputField value="{!hirerequest.Annual_CIP__c}" />
                -->
				<apex:inputField value="{!hirerequest.VanaHCM__Comments_HR__c}" />
			</apex:pageBlockSection> 
             
       
            
            <apex:actionFunction name="Process" action="{!Process}" rerender="pnlContractorOnboarding,pnlComponsation,pnlEmpFields,pgMsg" Status="status" immediate="true"  >
                <apex:param value="" name="WorkerType" assignTo="{!hirerequest.VanaHCM__Worker_Type__c}" />
            </apex:actionFunction>
            <script>
                function ProcessType(ctrl){
                   Process(ctrl.value);
                }
            </script>
        </apex:pageBlock>
    </apex:form>
</apex:page>