<apex:page Standardcontroller="VanaHCM__New_Hire_Request__c" extensions="VanaHCM.HireRequestViewController" sideBar="true"  showHeader="true" id="page1">
    <apex:includeScript value="{!$Resource.VanaHCM__jquery}"/>
    <apex:form id="form1">
        <apex:pageMessages id="msg" />
        <apex:sectionHeader title="Hire Request Edit" subTitle="New Hire Request" rendered="{!IF(hirerequest.Id == NULL, true,false)}" />   
        <apex:sectionHeader title="Hire Request Edit" subTitle="{!hirerequest.Name}" rendered="{!IF(hirerequest.Id == NULL, false,true)}" />
        <apex:pageBlock title="Hiring Request Detail" id="pgeBlock1" >
            <apex:pageBlockButtons >
                <apex:commandButton value="Edit"  action="/{!hirerequest.Id}/e?retURL=/{!hirerequest.Id}" />
                <apex:commandButton value="Cancel"  action="{!Cancel}"/>
                <!--  
                <apex:commandButton value="Delete"  action="{!DeleteRequest}"/>
                 -->
                <apex:commandButton value="Clone"  action="/{!hirerequest.Id}/e?retURL=/{!hirerequest.Id}&isClone=1" />
                 <apex:outputPanel rendered="{!NOT(IsSubmittedAndAwaited)}">  
                    <input type="button" value="Submit for Approval" onclick="return ShowModeDialog();" class="btn" />
                </apex:outputPanel>  
                <apex:actionStatus id="status">
                    <apex:facet name="start"><img src="/img/loading.gif" /></apex:facet>
            </apex:actionStatus>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Select Job Code or Propose New Job Title" columns="2" collapsible="false">
                <apex:outputField value="{!hirerequest.VanaHCM__Job__c}" />
                <apex:outputField value="{!hirerequest.VanaHCM__Proposed_Job_TItle__c}" /> 
            </apex:pageBlockSection>     
            <apex:pageBlockSection title="New Hire Request Detail" columns="2">
                <apex:outputField value="{!hirerequest.VanaHCM__Worker_Type__c}"  />
                <apex:pageBlockSectionItem >    
                    <apex:outputLabel value="Owner" />
                    <apex:outputField value="{!hirerequest.OwnerId}" />
                </apex:pageBlockSectionItem>    
                <apex:outputField value="{!hirerequest.VanaHCM__Department__c}" />
                <apex:outputField value="{!hirerequest.VanaHCM__Status__c}" />
                <apex:outputField value="{!hirerequest.VanaHCM__Location__c}" />
                <apex:outputField value="{!hirerequest.VanaHCM__Hiring_Manager__c}" />
                <apex:outputField value="{!hirerequest.VanaHCM__Effective_Date__c}" />
                <!-- Removed field as per Pandora request on 10-Apr-2013 -->
                <apex:outputField value="{!hirerequest.VanaHCM__Number__c}" rendered="false"/>
            </apex:pageBlockSection>    
            <apex:pageBlockSection columns="2" id="pnlEmpFields" collapsible="false">   
			<apex:outputField value="{!hirerequest.VanaHCM__Backfill_Position__c}" rendered="{!isEmployee}" />
			<apex:outputLabel value="" rendered="{!hirerequest.VanaHCM__Backfill_Position__c = 'Yes'}"/>
			<apex:outputField value="{!hirerequest.VanaHCM__Backfill_Position_For_Whom__c}" rendered="{!hirerequest.VanaHCM__Backfill_Position__c = 'Yes'}"/>
			<apex:outputField value="{!hirerequest.VanaHCM__Backfill_Position_Termination_Date__c}" rendered="{!hirerequest.VanaHCM__Backfill_Position__c = 'Yes'}"/>
                
            </apex:pageBlockSection>    
            <apex:pageBlockSection columns="1" collapsible="false"> 
                <apex:outputField value="{!hirerequest.VanaHCM__Job_Description__c}" />
            </apex:pageBlockSection>
            <apex:outputPanel id="pnlComponsation"> 
                <apex:pageBlockSection columns="2" title="Compensation & Budget" rendered="{!isEmployee}" collapsible="false">
                    <apex:outputField value="{!hirerequest.VanaHCM__Request_Compensation__c}" />  
                    <apex:outputField value="{!hirerequest.VanaHCM__Request_Commission__c}" />
                    <apex:outputField value="{!hirerequest.VanaHCM__Requested_Bonus_Eligibility__c}" /> 
                </apex:pageBlockSection>    
            </apex:outputPanel> 
            <apex:outputPanel id="pnlContractorOnboarding"> 
                <apex:pageBlockSection columns="2" title="Contractor Detail" rendered="{!isContractor}" collapsible="false">
                    <apex:outputField value="{!hirerequest.VanaHCM__Agency_Name__c}" />
                    <apex:outputField value="{!hirerequest.VanaHCM__Other_Agency_Name__c}" />
                    <apex:outputField value="{!hirerequest.VanaHCM__Start_Date_Contract__c}" />
                    <apex:outputField value="{!hirerequest.VanaHCM__End_Date_Contract__c}" />
                    <apex:outputField value="{!hirerequest.VanaHCM__Consultant_First_Name__c}" />
                    <apex:outputField value="{!hirerequest.VanaHCM__Consultant_Last_Name__c}" />
                    <apex:outputField value="{!hirerequest.VanaHCM__Bill_Rate__c}" />
                </apex:pageBlockSection> 
            </apex:outputPanel> 
          <apex:pageBlockSection columns="2" title="To Be Completed by FP&A" collapsible="false" >       
                <apex:outputField value="{!hirerequest.VanaHCM__FP_A_Reference__c}" />
                 <apex:outputField value="{!hirerequest.VanaHCM__Comments_FPA__c}" />
            </apex:pageBlockSection> 
                   <apex:pageBlockSection columns="2" title="To be Completed by HR" collapsible="false" >       
                <apex:outputField value="{!hirerequest.VanaHCM__Minimum_Salary__c}" />
                 <apex:outputField value="{!hirerequest.VanaHCM__Maximum_Salary__c}" />
                 
                 <apex:outputField value="{!hirerequest.VanaHCM__Minimum_Hourly_Rate__c}" />
				<apex:outputField value="{!hirerequest.VanaHCM__Maximum_Hourly_Rate__c}" />
               
                    <apex:outputField value="{!hirerequest.VanaHCM__Minimum_Equity__c}" />
                       <apex:outputField value="{!hirerequest.VanaHCM__Maximum_Equity__c}" />
                       
                       <apex:outputField value="{!hirerequest.VanaHCM__Variable_Pay_Plan__c}" />
				<apex:outputField value="{!hirerequest.VanaHCM__Target_Amount_or_Percentage__c}" />
					<!--                        
                       <apex:outputField value="{!hirerequest.Annual_Commission_HR__c}" />
                       <apex:outputField value="{!hirerequest.Annual_CIP__c}" />
                        -->
                       <apex:outputField value="{!hirerequest.VanaHCM__Comments_HR__c}" />
                       
                       
                       
                
				
                       
                      
            </apex:pageBlockSection> 
            <!-- 
            <apex:actionFunction name="DeleteRequest" action="{!DeleteRequest}" rerender="pnlContractorOnboarding,pnlComponsation,pnlEmpFields" Status="status" />
             -->
            <apex:actionFunction name="SubmitForApproval" action="{!SubmitForApproval}" status="status" rerender="msg,pgeBlock1" />
            <script>
                 function ShowModeDialog(){
                    if ((Modal.confirm && Modal.confirm('Once you submit this record for approval, you might not be able to edit it or recall it from the approval process depending on your settings. Continue?')) 
                        || (!Modal.confirm && window.confirm('Once you submit this record for approval, you might not be able to edit it or recall it from the approval process depending on your settings. Continue?'))) {
                        SubmitForApproval();
                        return true;
                    }else{ 
                      return false;
                    }
                }
            </script>
        </apex:pageBlock>
    </apex:form>
    <apex:relatedList subject="{!hirerequest.Id}"  list="ProcessSteps" id="approvalHistory"/>
    
    <script>
	    $(document).ready(function(){
			if($(document.getElementById("page1:approvalHistory")).find('input').val() == "Submit for Approval"){
				$(document.getElementById("page1:approvalHistory")).find('input').css('display','none');
			}
		});
    	
    </script>
</apex:page>