<apex:page sidebar="false" showHeader="false" standardController="VanaHCM__Job_Application__c" extensions="VanaHCM.JobApplicationStatusController">
	<apex:form id="form1">
		<apex:sectionHeader title="Job Applications" subtitle="{!jobApp.Name}" rendered="{!NOT(isFromPopUp)}" />
		<apex:pageBlock >
			<apex:pageBlockButtons location="bottom">
				<input type="button" class="btn" value="Save" onclick="updateApp();" />
				<apex:outputPanel rendered="{!NOT(isFancyPopup)}">
					<input type="button" value="close"  onclick="window.close();" class="btn" />
				</apex:outputPanel>
				<apex:outputPanel rendered="{!isFancyPopup}">	
					<input type="button" class="btn" value="Close" onclick="parent.$.fancybox.close();"  />
				</apex:outputPanel>	
				<apex:actionStatus id="LoadingStatus" startText="Please wait....">
                  <apex:facet name="start"><img src="/img/loading.gif" /></apex:facet>
                  <apex:facet name="stop"></apex:facet> 
              </apex:actionStatus> 
			</apex:pageBlockButtons>
			<apex:pageBlockSection columns="1"> 
				<apex:inputField value="{!jobApp.VanaHCM__Application_Status__c}" />
			</apex:pageBlockSection>
			<apex:actionFunction name="updateApp" action="{!updateApp}" status="LoadingStatus"  rerender="decideAfterSaveStatus"/>
		      <apex:outputPanel id="decideAfterSaveStatus">
				<script>
					if({!AND(isFromPopUp,isCompleted)}){
						if({!isFancyPopup}){
							parent.$.fancybox.close();
							window.parent.location.href = "{!$Page.JobApplicationList}?id={!jobApp.Job_Opening__c}";
						}else{
							window.close();
							window.opener.location.href = "/" + "{!jobApp.Id}" ;
						}
						
					}else{
						if({!AND(isFromPopUp ==  false ,isCompleted)}){
							//window.close();
							//window.location.href = "/{!jobApp.Job_Opening__c}";
							window.close();
						}
					}
				</script>
				</apex:outputPanel>
		</apex:pageBlock>
	</apex:form>			
</apex:page>