<apex:page controller="VanaHCM.Job_ListingController" sideBar="false" showHeader="false" id="page1" title="Job Application" StandardStyleSheets="false" cache="false" action="{!initInternalMode}">
   <html> <body>   <head>
             <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no;" />
             
             <apex:stylesheet value="{!URLFOR($Resource.VanaHCM__Mobile,'jquery.mobile.datebox.min.css')}" />
             <apex:stylesheet value="{!URLFOR($Resource.VanaHCM__Mobile,'jquery.mobile-1.1.0.min.css')}" />
             <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" />
   			 <apex:includeScript value="{!URLFOR($Resource.VanaHCM__Mobile,'jquery.mobile-1.1.0.min.js')}" />
             <apex:includeScript value="{!URLFOR($Resource.VanaHCM__Mobile, 'jquery.mobile.datebox.js')}" />
             
             <style>
                label{
                    white-space: nowrap;
                    /*display:block !important;*/
                }
                .homeIconSection{
                    float: left; 
                    left: 5px; 
                    margin-left: 4px; 
                    margin-top: 5px;
                }
                
                
                .topMessageBar { 
                    background: #990000; 
                    border-bottom: solid 2px #EEE; 
                    padding: 8px 0 10px; 
                    text-align: center; 
                    color: white;
                }
                /*For validation
                label.error {
                    color: red;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 1.4;
                    margin-top: 0.5em;
                    width: 100%;
                    float: none;
                }
                
                em { color: red; font-weight: bold; padding-right: .25em; }
                */
            </style>
        </head>
        <div data-role="page" id="login">
    
        <div data-role="header">
            <div class="homeIconSection">
                <a href="{!$Page.Mobile_Home}" data-ajax="false">
                    <apex:image id="theImage" value="{!URLFOR($Resource.VanaHCM__Mobile, '/images/Mobile_Home.resource.png')}" height="30px" width="30px"/>
                </a>
          </div>
            <h1>VANA Mobile</h1>
       
             </div>
              <div data-role="content" id="contentDiv">
 
 

    
    <script type="text/javascript">
        function callSortResults(sortColumn,isAscSort){
            jsSortResults(sortColumn,isAscSort);
        }
    </script>
    
    <apex:form id="form1">
        <apex:actionRegion >
         <apex:actionFunction status="status" name="jsSortResults" action="{!sortResults}" rerender="pgeBlock1">
                <apex:param name="sortColumn" id="sortColumn" value="" assignto="{!sortColumn}" />
         </apex:actionFunction>  
         </apex:actionRegion>
         
        <apex:pageBlock id="pgeBlock1"> 
        
            <apex:pageMessages id="errors" />
            <apex:pageBlockTable id="pageBlockTable1" value="{!listOfJobOpening}" var="li">
                <apex:repeat value="{!$ObjectType.VanaHCM__Job_Opening__c.FieldSets.VanaHCM__Mobile_Job_Listing}" var="f">
                    <apex:column rendered="{!NOT(f = 'Id')}">
                      <apex:facet name="header">
                          <apex:outputPanel >
                          <a href="#" onclick="callSortResults('{!f}',{!NOT(isAscSort)});return false;">
                             {!f.Label}
                             <apex:image title="{!IF(AND(sortColumn = f,isAscSort),'Sorted Ascending', 'Sorted Descending')}" 
                                     styleClass="{!IF(AND(sortColumn = f,isAscSort),'sortAsc', 'sortDesc')}" 
                                     alt=""  
                                     rendered="{!sortColumn = f}"
                                     value="/s.gif"/>
                          </a><br/><br/>
                          </apex:outputPanel>
                      </apex:facet>
                      
                      <apex:outputLink value="{!$Page.VanaHCM__Mobile_Job_Detail}?Id={!li.Id}" style="text-decoration:none;" rendered="{!IF(f.Label == 'Title', true,false)}">{!li[f]}</apex:outputLink> <br/><br/>
                      <apex:outputLabel value="{!li[f]}" rendered="{!IF(OR(f.Label == 'Record ID', f.Label == 'Posting Date',f.Label == 'Title', f.Label == 'Number of Openings'), false,true)}"/>
                      <apex:outputField value="{!li[f]}" rendered="{!IF(f.Label == 'Posting Date', true,false)}"/>
                      <apex:outputText value="{0,number,0}" rendered="{!IF(f.Label == 'Number of Openings', true,false)}">
                          <apex:param value="{!li[f]}" />
                      </apex:outputText>
                  </apex:column>
                 <!--
                 <apex:column rendered="{!NOT(f = 'Id')}">
                      <apex:facet name="header">
                          {!f.Label}
                      </apex:facet>
                      
                      <apex:outputLink value="{!$Page.Job_Detail}?Id={!li.Id}" style="text-decoration:none;" rendered="{!IF(f.Label == 'Title', true,false)}">{!li[f]}</apex:outputLink>
                      <apex:outputLabel value="{!li[f]}" rendered="{!IF(OR(f.Label == 'Record ID', f.Label == 'Posting Date',f.Label == 'Title', f.Label == 'Number of Openings'), false,true)}"/>
                      <apex:outputField value="{!li[f]}" rendered="{!IF(f.Label == 'Posting Date', true,false)}"/>
                      <apex:outputText value="{0,number,0}" rendered="{!IF(f.Label == 'Number of Openings', true,false)}">
                           <apex:param value="{!li[f]}" />
                       </apex:outputText>
                  </apex:column>    -->
                </apex:repeat>
                </apex:pageBlockTable> 
        </apex:pageBlock>
    </apex:form>        
          </div> </div>
          </body>   
  </html>
</apex:page>