<apex:page StandardController="VanaHCM__Job_Opening__c"  extensions="VanaHCM.Job_ApplicationController" sidebar="false" showheader="false" id="page1" cache="false" action="{!init}" StandardStyleSheets="false" >
    <html>
<body>
              <head>
             <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no;" />
             
             <apex:stylesheet value="{!URLFOR($Resource.VanaHCM__Mobile,'jquery.mobile.datebox.min.css')}" />
             
             
             <apex:stylesheet value="{!URLFOR($Resource.VanaHCM__Mobile,'jquery.mobile-1.1.0.min.css')}" />
             <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" />
             <apex:includeScript value="{!URLFOR($Resource.VanaHCM__Mobile,'jquery.mobile-1.1.0.min.js')}" />
             
             <apex:includeScript value="{!URLFOR($Resource.VanaHCM__Mobile, 'jquery.mobile.datebox.js')}" />
             
             <style>
                label{
                    white-space: nowrap;
                    /*display:block !important;*/
                }
                .homeIconSection{
                    float: left; 
                    left: 5px; 
                    margin-left: 4px; 
                    margin-top: 5px;
                }
                
                
                .topMessageBar { 
                    background: #990000; 
                    border-bottom: solid 2px #EEE; 
                    padding: 8px 0 10px; 
                    text-align: center; 
                    color: white;
                }
                /*For validation
                label.error {
                    color: red;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 1.4;
                    margin-top: 0.5em;
                    width: 100%;
                    float: none;
                }
                
                em { color: red; font-weight: bold; padding-right: .25em; }
                */
            </style>
        </head>
        <div data-role="page" id="login">
    
        <div data-role="header">
            <div class="homeIconSection">
                <a href="{!$Page.Mobile_Home}" data-ajax="false">
                    <apex:image id="theImage" value="{!URLFOR($Resource.VanaHCM__Mobile, '/images/Mobile_Home.resource.png')}" height="30px" width="30px"/>
                </a>
          </div>
            <h1>VANA Mobile</h1>
       
             </div>
              <div data-role="content" id="contentDiv">
 
    
    
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'js/jquery-1.5.1.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.VanaHCM__fancybox,'jquery.fancybox-1.3.4.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__fancybox,'jquery.fancybox-1.3.4.pack.js')}" />
     <style>
        .bPageBlock .detailList tr td, .bPageBlock .detailList tr th, .hoverDetail .bPageBlock .detailList tr td, .hoverDetail .bPageBlock .detailList tr th {
           border-bottom: 0px none;
         }
         body .pbBody table.list tr th, body .pbBody table.list tr td {
            border-bottom: 0px none;
         }
         .Ques_Label{
            color: #4A4A56 !important;
            font-size: 91%;
            font-weight: bold;
            text-align: left;
         }
         
         .datePicker {
            background-color: #B7C6B2;
            border-bottom: 1px solid #000000;
            border-right: 1px solid #000000;
            display: none;
            left: 0;
            margin: 0;
            padding: 1px 1px 2px 2px;
            position: absolute;
            top: 0;
            width: 17em;
            z-index: 100;
        }
        .datePicker .dateBar {
            margin: 0;
            overflow: hidden;
            padding: 1px 2px;
            text-align: center;
            white-space: nowrap;
        }
        .datePicker select {
            vertical-align: top;
        }
        .datePicker .calBody {
            -moz-border-bottom-colors: none;
            -moz-border-image: none;
            -moz-border-left-colors: none;
            -moz-border-right-colors: none;
            -moz-border-top-colors: none;
            border-color: #7B829D #7B829D -moz-use-text-color;
            border-style: solid solid none;
            border-width: 1px 1px medium;
        }
        .datePicker .calDays {
            color: #333333;
            font-family: 'Verdana','Geneva',sans-serif;
            font-size: 0.8em;
            font-weight: normal;
            width: 100%;
        }
        .datePicker .calDays .prevMonth, .datePicker .calDays .nextMonth {
            color: #999999;
        }
        .datePicker .calDays th, .datePicker .calDays td {
            text-align: center;
            width: 14%;
        }
        .datePicker .calDays .dayOfWeek {
            background: url("/img/func_icons/cal/dp_daysbg.gif") repeat-x scroll center top #ECECEC;
            border-bottom: 1px solid #E0DEE0;
            padding: 3px 0;
        }
        .datePicker .calDays .weekend, .datePicker .calDays .weekday {
            border-bottom: 1px solid #E0F0FB;
            border-right: 1px solid #E0F0FB;
            cursor: pointer;
            padding: 5px 0;
        }
        .datePicker .calDays .weekend {
            background-color: #F2F3F7;
        }
        .datePicker .calDays .weekday {
            background-color: #FFFFFF;
        }
        .datePicker .calDays .dueDate {
            background-color: #FF1100;
            color: #000000;
            font-weight: bold;
        }
        .datePicker .calDays .todayDate {
            border: 1px solid #000000;
        }
        .datePicker .calDays .startDate, .datePicker .calDays .endDate {
            text-decoration: underline;
        }
        .datePicker .calDays .startDate, .datePicker .calDays .endDate, .datePicker .calDays .selectedDate {
            background-color: #FBFAE3;
            color: #000000;
            font-weight: bold;
        }
        .datePicker .calDays .highlight {
            background-color: #E0F0FD;
            color: #000000;
        }
        .datePicker .buttonBar {
            background-color: #ECECEC;
            border-top: 1px solid #E1E2E9;
            clear: both;
            padding: 2px 0;
            text-align: center;
        }
        .datePicker .buttonBar .calToday {
            font-size: 91%;
            font-weight: bold;
            text-decoration: underline;
        }
        .datePicker .dateBar .calLeft, .datePicker .dateBar .calLeftOn, .datePicker .dateBar .calRight, .datePicker .dateBar .calRightOn {
            margin: 2px 2px 0;
        }
        .datePicker .dateBar .calLeft {
            background-image: url("/img/func_icons/cal/dp_left.gif");
            background-position: left top;
            height: 21px;
            width: 13px;
        }
        .datePicker .dateBar .calLeftOn {
            background-image: url("/img/func_icons/cal/dp_left.gif");
            background-position: right top;
            height: 21px;
            width: 13px;
        }
        .datePicker .dateBar .calRight {
            background-image: url("/img/func_icons/cal/dp_right.gif");
            background-position: left top;
            height: 21px;
            width: 13px;
        }
        .datePicker .dateBar .calRightOn {
            background-image: url("/img/func_icons/cal/dp_right.gif");
            background-position: right top;
            height: 21px;
            width: 13px;
        } 
        .apexp .bPageBlock.apexDefaultPageBlock .pbBody .pbSubheader {
            border-top: 0px none;
        }
    </style>
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__ResourceBundle,'js/jquery-1.5.1.js')}" />
    <apex:form id="form1">
    <apex:pageMessages /> 
        <apex:pageBlock id="block1"> 
            <apex:pageBlockButtons location="bottom">
                <apex:CommandButton value="Apply"  action="{!Apply}" rendered="{!IF(candidate.Id == NULL,true,false)}" styleClass="btn" />
                <apex:CommandButton value="Back to Job Listing"  action="{!back}" rendered="{!IF(candidate.Id == NULL,false,true)}"  styleClass="btn" />  
                <apex:CommandButton value="Cancel" action="{!$Page.Job_Detail}?Id={!jobOpening.Id}" styleClass="btn" immediate="true" />
            </apex:pageBlockButtons> 
             <apex:pageBlockSection columns="2" collapsible="false" >
                 <apex:pageBlockSectionItem >
                        <apex:outputPanel style="padding-left:0px;" rendered="{!IsIncludeApplyWithLinkedIn}">
                            <script src="https://platform.linkedin.com/in.js" type="text/javascript">
                              api_key: {!Apply_With_LinkedIn_Key}
                              authorize:true
                            </script>
                            <script type="IN/Apply" data-companyid="{!SETTING_COMPANY_ID}" data-jobtitle="{!jobOpening.Name}" data-joblocation="{!jobOpening.Location_Name__c}" data-callback="onLIContinue" ></script>
                        </apex:outputPanel>
                       
                 </apex:pageBlockSectionItem>
            </apex:pageBlockSection>  
             <apex:outputPanel >
                <div style="height:20px;"></div> 
            </apex:outputPanel>  
            <apex:variable var="i" value="{!0}" />
            <apex:pageBlockSection columns="1" collapsible="false" title="Personal Information" id="section1">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Job Title"  />
                    <apex:outputLabel value="{!jobOpening.Name}" />
                </apex:pageBlockSectionItem>
             </apex:pageBlockSection>   
            <apex:pageBlockSection columns="1" collapsible="false" id="section2"> 
                <apex:repeat value="{!$ObjectType.VanaHCM__Candidate__c.FieldSets.VanaHCM__SiteUserFieldSet}" var="f">
                     <apex:InputField value="{!candidate[f]}"  styleClass="{!f}"/>  
                </apex:repeat>
            </apex:pageBlockSection>
            <apex:outputPanel >
                <div style="height:20px;"></div> 
            </apex:outputPanel>  
             <apex:pageBlockSection columns="1" collapsible="false" title="Education History" rendered="{!IsIncludeEduHistory}" id="section3">
                <apex:repeat value="{!$ObjectType.VanaHCM__Candidate_Education__c.FieldSets.VanaHCM__SiteUserFieldSet}" var="f">
                     <apex:InputField value="{!candidateEducation[f]}" rendered="{!IF(f.Type == 'Date',false,true )}"  />
                     <apex:pageBlockSectionItem >   
                        <apex:outputLabel value="{!f.Label}" rendered="{!IF(f.Type == 'Date',true,false )}"  style="labelCol" />
                        <apex:InputField value="{!candidateEducation[f]}" rendered="{!IF(f.Type == 'Date',true,false )}"  onfocus="DatePicker.pickDate(true, this.id, false);" />
                     </apex:pageBlockSectionItem>   
                </apex:repeat>
            </apex:pageBlockSection>
             <apex:outputPanel rendered="{!IsIncludeEduHistory}"> 
                <div style="height:20px;"></div>
            </apex:outputPanel>  
             <apex:pageBlockSection columns="1" collapsible="false" title="Employment History"  rendered="{!IsIncludeWorkHistory}" id="section4">
                <apex:repeat value="{!$ObjectType.VanaHCM__Candidate_Work_Experience__c.FieldSets.VanaHCM__SiteUserFieldSet}" var="f">
                        <apex:InputField value="{!candidateWorkExp[f]}" rendered="{!IF(f.Type == 'Date',false,true )}"  />
                        <apex:pageBlockSectionItem >    
                            <apex:outputLabel value="{!f.Label}" rendered="{!IF(f.Type == 'Date',true,false )}"  style="labelCol" />
                            <apex:InputField value="{!candidateWorkExp[f]}" rendered="{!IF(f.Type == 'Date',true,false )}"  onfocus="DatePicker.pickDate(true, this.id, false);" />
                        </apex:pageBlockSectionItem>    
                </apex:repeat>
            </apex:pageBlockSection>
             <apex:outputPanel rendered="{!IsIncludeWorkHistory}">
                <div style="height:20px;"></div>
            </apex:outputPanel>
             <apex:pageBlockSection columns="1" collapsible="false" title="Paste Resume & Cover Letter" rendered="{!IsInclideResume}">
                  <!--   <apex:pageBlockSectionItem >
                        <apex:outputLabel value="OR" />
                        <apex:outputLabel value="" />
                    </apex:pageBlockSectionItem> -->
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Resume" /> 
                        <apex:outputPanel >
                               <div class="requiredInput"><div class="requiredBlock"></div>
                                <apex:InputField value="{!candidate.VanaHCM__Paste_Resume__c}" id="txtOtherDetail" style="width:500px;" />
                            </div>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>                
            </apex:pageBlockSection>
            <apex:outputPanel rendered="{!IsInclideResume}">
                <div style="height:20px;"></div>
            </apex:outputPanel>
            <apex:pageBlockSection columns="1" collapsible="false" title="Employment Questions" id="pbsQuestion" rendered="{!IF(listOfQuestions.SIZE>0,true,false)}">
                <apex:outputPanel rendered="{!IsInclideQuestionnaire}">
                <table width="80%">
                    <apex:repeat value="{!listOfQuestions}" var="lst" id="tblQuestions">
                    <tr>
                        <td id="col1" width="100%"><apex:outputLabel value="{!lst.QuestionText}" style="font-weight:bold;"/></td>
                    </tr>
                    <tr>
                        <td width="100%">
                        <apex:outputPanel rendered="{!IF(lst.QuestionType == FIELD_TYPE_PICKLIST, true,false)}" id="outerPanel1">
                                <apex:outputPanel rendered="{!lst.isRequired}">
                                    <div class="requiredInput"><div class="requiredBlock"></div>
                                        <apex:selectList value="{!lst.QuestionResponse}" size="1" id="list1" multiselect="false" >
                                            <apex:selectOptions value="{!lst.listOfSelectOption}" />
                                        </apex:selectList>
                                    </div>  
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!NOT(lst.isRequired)}"> 
                                    <apex:selectList value="{!lst.QuestionResponse}" size="1"  id="list2" multiselect="false">
                                            <apex:selectOptions value="{!lst.listOfSelectOption}" />
                                        </apex:selectList>
                                </apex:outputPanel>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!IF(lst.QuestionType == FIELD_TYPE_TEXT, true,false)}" id="outerPanel2">
                            <apex:outputPanel rendered="{!lst.isRequired}">
                                    <div class="requiredInput"><div class="requiredBlock"></div>
                                        <apex:inputText value="{!lst.QuestionResponse}"  id="inputText1"/>
                                    </div>  
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!NOT(lst.isRequired)}">
                                <apex:inputText value="{!lst.QuestionResponse}" id="inputText2" />
                            </apex:outputPanel>
                        </apex:outputPanel> 
                        <apex:outputPanel rendered="{!IF(lst.QuestionType == FIELD_TYPE_DATE, true,false)}" id="outerPanel3">
                            <apex:outputPanel rendered="{!lst.isRequired}">
                                    <div class="requiredInput"><div class="requiredBlock"></div>
                                        <apex:inputText value="{!lst.QuestionResponse}"  id="inputDate1"  onfocus="DatePicker.pickDate(true, this.id, false);" />
                                    </div>  
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!NOT(lst.isRequired)}">
                                <apex:inputText value="{!lst.QuestionResponse}"  id="inputDate2" styleClass="dtPicker" />
                            </apex:outputPanel>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!IF(lst.QuestionType == FIELD_TYPE_TEXT_AREA ,true,false)}" id="outerPanel4">
                            <apex:outputPanel rendered="{!lst.isRequired}">
                                    <div class="requiredInput"><div class="requiredBlock"></div>
                                        <apex:inputTextArea value="{!lst.QuestionResponse}"  id="inputTextArea" rows="5" />
                                    </div>  
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!NOT(lst.isRequired)}">
                                <apex:inputTextArea value="{!lst.QuestionResponse}"  id="inputTextArea2"  rows="5" />
                            </apex:outputPanel>
                        </apex:outputPanel>
                        </td>
                    </tr>
                    </apex:repeat>
                </table>
                <!-- 
                <apex:pageBlockTable value="{!listOfQuestions}" var="lst"  width="80%" id="tblQuestions">
                    <apex:column width="100%" id="col1">
                        <apex:outputLabel value="{!lst.QuestionText}" />
                    </apex:column>
                    <apex:column width="85%" id="col2" style="padding-left:40px;">
                        <apex:outputPanel rendered="{!IF(lst.QuestionType == FIELD_TYPE_PICKLIST, true,false)}" id="outerPanel1">
                                <apex:outputPanel rendered="{!lst.isRequired}">
                                    <div class="requiredInput"><div class="requiredBlock"></div>
                                        <apex:selectList value="{!lst.QuestionResponse}" size="1" id="list1" multiselect="false" >
                                            <apex:selectOptions value="{!lst.listOfSelectOption}" />
                                        </apex:selectList>
                                    </div>  
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!NOT(lst.isRequired)}"> 
                                    <apex:selectList value="{!lst.QuestionResponse}" size="1"  id="list2" multiselect="false">
                                            <apex:selectOptions value="{!lst.listOfSelectOption}" />
                                        </apex:selectList>
                                </apex:outputPanel>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!IF(lst.QuestionType == FIELD_TYPE_TEXT, true,false)}" id="outerPanel2">
                            <apex:outputPanel rendered="{!lst.isRequired}">
                                    <div class="requiredInput"><div class="requiredBlock"></div>
                                        <apex:inputText value="{!lst.QuestionResponse}"  id="inputText1"/>
                                    </div>  
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!NOT(lst.isRequired)}">
                                <apex:inputText value="{!lst.QuestionResponse}" id="inputText2" />
                            </apex:outputPanel>
                        </apex:outputPanel> 
                        <apex:outputPanel rendered="{!IF(lst.QuestionType == FIELD_TYPE_DATE, true,false)}" id="outerPanel3">
                            <apex:outputPanel rendered="{!lst.isRequired}">
                                    <div class="requiredInput"><div class="requiredBlock"></div>
                                        <apex:inputText value="{!lst.QuestionResponse}"  id="inputDate1"  onfocus="DatePicker.pickDate(true, this.id, false);" />
                                    </div>  
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!NOT(lst.isRequired)}">
                                <apex:inputText value="{!lst.QuestionResponse}"  id="inputDate2" styleClass="dtPicker" />
                            </apex:outputPanel>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!IF(lst.QuestionType == FIELD_TYPE_TEXT_AREA ,true,false)}" id="outerPanel4">
                            <apex:outputPanel rendered="{!lst.isRequired}">
                                    <div class="requiredInput"><div class="requiredBlock"></div>
                                        <apex:inputTextArea value="{!lst.QuestionResponse}"  id="inputTextArea" rows="5" />
                                    </div>  
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!NOT(lst.isRequired)}">
                                <apex:inputTextArea value="{!lst.QuestionResponse}"  id="inputTextArea2"  rows="5" />
                            </apex:outputPanel>
                        </apex:outputPanel>
                    </apex:column>
                    </apex:pageBlockTable>
                     -->
                </apex:outputPanel>
            </apex:pageBlockSection>    
            <apex:outputPanel rendered="{!IsInclideQuestionnaire}">
                <div style="height:20px;"></div>
            </apex:outputPanel>
           
             <apex:pageBlockSection columns="1" collapsible="false" title="Self Identification"  rendered="{!IsIdentificationVisible}">
                <apex:outputLabel value="{!jobOpening.VanaHCM__Identification_Summary_Text__c}" escape="false" /> 
                <br/>
                <apex:repeat value="{!$ObjectType.VanaHCM__Candidate__c.FieldSets.VanaHCM__SiteUserFieldSet_Self_Identification}" var="f" id="section5">
                     <apex:InputField value="{!candidate[f]}"  />  
                </apex:repeat>
            </apex:pageBlockSection>
             <apex:outputPanel rendered="{!IsIdentificationVisible}">
                <div style="height:20px;"></div>
            </apex:outputPanel>
            <!-- <apex:actionFunction name="Process" action="{!Process}"  immediate="true" />  -->
              <apex:actionFunction name="ProcessT" action="{!Process}"  immediate="true" rerender="section1,section2,section3,section4,section5,pnlEducation,pnlScript,pnlTop" status="status" onComplete="PasteResumeOnComplete();">
                        <apex:param name="id" assignTo="{!candidate_rssasId}" value="" />
                        <apex:param name="filename" assignTo="{!fileName}" value="" />
                        <apex:param name="country" assignTo="{!selected_country_name}" value="" />
                        <apex:param name="countryKey" assignTo="{!selected_country}" value="" />
                    </apex:actionFunction>
                    <apex:actionFunction name="deleteAttachment" action="{!deleteCandidaterssas}"  immediate="true" rerender="section1,section2,section3,section4,section5,pnlScript,pnlTop" status="status" onComplete="PasteResumeOnCompleteBlank();">
                        <apex:param name="ToDeleteId" assignTo="{!ToDeleteId}" value="" />
                    </apex:actionFunction>
             <apex:outputPanel id="pnlScript">
                <script>
                    function PasteResumeOnComplete(){
                        var str =  "<apex:outputText value="{!strPasteResume}" escape="false"/>";
                        if(str != ""){
                          try{  
                                var fckInstanceName = editor.InstanceName;
                                if(fckInstanceName != undefined){
                                    if(typeof(FCKeditorAPI) != 'undefined'){
                                        FCKeditorAPI.GetInstance(fckInstanceName).SetHTML(unescape(str).replace(/\+/g," "));
                                    }
                                }else{
                                    editor.setData(unescape(str).replace(/\+/g," "));
                                }
                             }catch(e){  
                                 editor.setData(unescape(str).replace(/\+/g," "));
                             }    
                               
                        }
                        
                     }
                     function PasteResumeOnCompleteBlank(){
                        try{
                                var fckInstanceName = editor.InstanceName;
                                if(fckInstanceName != undefined){
                                    if(typeof(FCKeditorAPI) != 'undefined'){
                                        FCKeditorAPI.GetInstance(fckInstanceName).SetHTML("");
                                    }
                                }else{
                                    editor.setData('');
                                }     
                           }catch(e){
                                try{     
                                    editor.setData('');
                                }catch(e){} 
                           } 
                               
                     }
                </script>
            </apex:outputPanel>
        </apex:pageBlock>
        <script> 
        /*
        $(document).ready(function(){
            $(document.getElementById("page1:form1:block1:pbsQuestion:tblQuestions")).find('td').attr('class','Ques_Label');
        });
        */
       /* $(function() {
            $( ".dtPicker" ).datepicker();
            //$(".dateInput").datepicker();
        }); */
        var intiate; 
        function myOnclickFunction(r) { 
            console.log(r); 
            intiate = r;
        }
        var success ; 
        function onLIContinue(r,e) {
            success = r; 
            $('.VanaHCM__First_Name_Candidate__c').val(r.person.firstName); 
            $('.VanaHCM__Last_Name_Candidate__c').val(r.person.lastName); 
            $('.VanaHCM__Email__c').val(r.person.emailAddress);
            $('.VanaHCM__LinkedIn_Profile_URL__c').val(success.person.publicProfileUrl);
            if(success.person.phoneNumbers != undefined && success.person.phoneNumbers.values[0] != undefined && success.person.phoneNumbers.values[0].phoneNumber != undefined){
                var number = success.person.phoneNumbers.values[0].phoneNumber
                $('.VanaHCM__Phone_Number__c').val(number);
            }    
         
            //prepare formatted text-
            var str = '';
            if(r.person.firstName != ''){
                str += r.person.firstName;
            }   
            if(r.person.lastName != ''){ 
               if(str != ''){
                    str += ' '+r.person.lastName +  '\n' ;
               }else{
                    str += r.person.lastName +  '\n';
               }    
            }
            if(r.person.emailAddress != ''){
                    str += r.person.emailAddress +  '\n'; 
            }
            var str2 = li_build_text_resume(success);
            //$(document.getElementById('page1:form1:block1:secOtherDetail:txtOtherDetail')).val(str2);
            pasteResume(str2);
        }
        function li_build_text_resume(profile) {
                
                var lb = "<br/>";           
                //var divider = '--------------------------------------------------------------------------------------------------------------------';
                var divider = '<hr/>'
                //var sm_divider = '-----';
                var sm_divider = '';
                var p = profile.person;
                var res = li_value(p.firstName, ' ') + li_value(p.lastName) + lb
                    + li_value(p.headline, lb)
                    + li_value(p.emailAddress, lb)
                    + lb;
                    
                if(p.positions && p.positions.values) { 
                    res += divider
                        + '<b>Experience</b>' + lb
                        + divider + lb + lb;
                    $.each(p.positions.values, function(idx, pos) {
                        res += sm_divider + lb;
                        res += li_value(pos.title, ' at ') + li_value(pos.company.name) + lb;
                        var p_start = li_date_text(pos.startDate, '/', ' to '); //i.e. "7/2009 to " 
                        res += p_start;
                        var p_present = (p_start) ? 'Present ' + lb : '';       
                        res += li_date_text(pos.endDate, '/', lb, p_present); //i.e. "7/2010\n" or "Present\n"
                        if(pos.summary) {
                            var summary = li_value(pos.summary);    
                            summary = summary.replace(/(\r\n|\n|\r)/gm,"");
                            res += lb + summary;
                        }
                        res += lb;      
                    }); 
                }
                
                if(p.recommendationsReceived && p.recommendationsReceived.values) {
                    var rec_count = p.recommendationsReceived.values.length;
                    var s = (rec_count > 1) ? 's' : '';
                    res += sm_divider + lb;
                    res += p.recommendationsReceived.values.length + ' recommendation' + s + ' available upon request' + lb;
                }   
                res += lb;
                
                if(p.educations && p.educations.values) {
                    res += divider      
                        + '<b>Education</b>' + lb
                        + divider + lb + lb;
                    $.each(p.educations.values, function(idx, edu) {
                        res += sm_divider + lb;
                        res += li_value(edu.schoolName, lb);            
                        res += li_value(edu.degree, ' ');       
                        var e_start = li_date_text(edu.startDate, '/', ' to ');             
                        res +=  e_start;    
                        var e_present = (e_start) ? 'Present' + lb: ''
                        res += li_date_text(edu.endDate, '/', lb, e_present);
                        res += lb;
                    });
                }               
                return res;
            }
            function li_value(val, append_text) {
                if(!append_text) {
                    append_text = '';
                }   
                if(val) {
                    return val + append_text;
                } else {
                    return '';
                }       
            }
            function li_date_text(dte, seperator, append_text, no_date_text) {
                if(!seperator) {
                    seperator = '/';
                }
                if(!append_text) {
                    append_text = '';
                }
                if(!no_date_text) {
                    no_date_text = '';
                }   
                var dte_text = ''; 
                if(dte) {               
                    dte_text += (dte.day) ? dte.day + seperator : '';
                    dte_text += (dte.month) ? dte.month + seperator : '';
                    dte_text += (dte.year) ? dte.year : '';
                }   
                if(dte_text && append_text) {
                    dte_text += append_text;
                } else {
                    dte_text = no_date_text;
                }   
                return dte_text;
            }   
        function pasteResume(newValueForResume){
            try{ 
                var fckInstanceName = editor.InstanceName;
                if(fckInstanceName != undefined){
                    FCKeditorAPI.GetInstance(fckInstanceName).SetHTML(newValueForResume);
                }else{
                    editor.setData(newValueForResume);
                }   
            }catch(e){
                try{    
                    editor.setData(newValueForResume);
                }catch(e){} 
            }   
           
        }
        
         function initIFramePopupT(origP){
            var ctrlValue = "{!URLENCODE(countryKey)}";
            var url = '{!$Page.UploadResume}?c='+ "{!URLENCODE(selected_country_name)}" +'&cid='+ ctrlValue +'&pup=1';
            initIFramePopup(url,'Upload Resume', 450,110,origP);
         }
         
            function initIFramePopup(urlP, titleP, widthP, heightP, origP){
                if(urlP == null) return null;
                widthParam = widthP == null ? '60%' : widthP;
                heightParam = heightP == null ? '80%' : heightP;
                $.fancybox({
                    'href'              :urlP,
                    'padding'           : 10,
                    'width'             : widthParam,
                    'height'            : heightParam,
                    'autoScale'         : false,
                    'transitionIn'      : 'elastic',
                    'transitionOut'     : 'elastic',
                    'type'              : 'iframe',
                    //'overlayColor'        : '#000',
                    'overlayOpacity'    : 0.9,
                    
                    'orig'              : origP
                  
                    
                    /*,
                    'titlePosition'     : 'inside',
                    'title'             : titleP,
                    'titleFormat'       : function(title, currentArray, currentIndex, currentOpts) {
                        //font-size: 25px;color:white;background-color:#79B4CD
                        return '<span id="fancybox-title-over" style="text-align:left;color:white;font-size: 16px;">'+ title +'</span>';
                    }*/
                    
                });
               
            }
         
        function ProcessResponse(cid,filename,country,countrykey){
            //alert("cid==>> " + cid + ' name==>> ' + filename);
            ProcessT(cid,filename,country,countrykey);
         }
         function Process(){
            var ctrl = document.getElementById("NewCandidate:form1:block1:section1:sectionItem1:selCountry");
            //var ctrl2 = document.getElementById("NewCandidate:form1:block1:section1:j_id37:SelectFile");
            if(ctrl != 'undefined'){
                if(ctrl.value == '0'){
                    alert("Please select country");
                    $(ctrl2).children().children().val("");
                    return false;
                }else{
                    var str = "'" + ctrl.value + "'";
                    //alert('value==>> ' + str);
                    ProcessT(str);
                }
            }
         }  
         function pasteResume(newValueForResume){
           try{
               var fckInstanceName = editor.InstanceName;
               if(fckInstanceName != undefined){
                    if(typeof(FCKeditorAPI) != 'undefined'){
                        FCKeditorAPI.GetInstance(fckInstanceName).SetHTML(newValueForResume);
                    } 
               }else{
                    editor.setData(newValueForResume);
               }     
            }catch(e){
                try{    
                    editor.setData(newValueForResume);
                }catch(e){} 
            }      
         }
    </script>
    <div class="datePicker" id="datePicker"><div class="dateBar"><img src="/s.gif" alt="Previous Month"  class="calLeft" onblur="this.className = 'calLeft';" onclick="DatePicker.datePicker.prevMonth();" onfocus="this.className = 'calLeftOn';" onmouseout="this.className = 'calLeft';" onmouseover="this.className = 'calLeftOn';" title="Previous Month"/>
    <select  id="calMonthPicker" name="calMonthPicker" title="Month">
        <option value="0">January</option>
        <option value="1">February</option>
        <option value="2">March</option>
        <option value="3">April</option>
        <option value="4">May</option>
        <option value="5">June</option>
        <option value="6">July</option>
        <option value="7">August</option>
        <option value="8">September</option>
        <option value="9">October</option>
        <option value="10">November</option>
        <option value="11">December</option>
    </select>
    <img src="/s.gif" alt="Next Month"  class="calRight" onblur="this.className = 'calRight';" onclick="DatePicker.datePicker.nextMonth();" onfocus="this.className = 'calRightOn';" onmouseout="this.className = 'calRight';" onmouseover="this.className = 'calRightOn';" title="Next Month"/>
    <select  id="calYearPicker" name="calYearPicker" title="Year">
        <option value="2010">2010</option>
        <option value="2011">2011</option>
        <option value="2012">2012</option>
        <option value="2013">2013</option>
        <option value="2014">2014</option>
        <option value="2015">2015</option>
        <option value="2016">2016</option>
    </select>
    </div><div class="calBody"><table  class="calDays" border="0" cellpadding="0" cellspacing="0" id="datePickerCalendar"><tr><TH class="dayOfWeek" scope="col">Sun</TH><TH class="dayOfWeek" scope="col">Mon</TH><TH class="dayOfWeek" scope="col">Tue</TH><TH class="dayOfWeek" scope="col">Wed</TH><TH class="dayOfWeek" scope="col">Thu</TH><TH class="dayOfWeek" scope="col">Fri</TH><TH class="dayOfWeek" scope="col">Sat</TH></tr>
    <tr class="calRow" id="calRow1"><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td></tr>
    <tr class="calRow" id="calRow2"><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td></tr>
    <tr class="calRow" id="calRow3"><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td></tr>
    <tr class="calRow" id="calRow4"><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td></tr>
    <tr class="calRow" id="calRow5"><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td></tr>
    <tr class="calRow" id="calRow6"><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td><td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);" onmouseout="hiOff(this);" onmouseover="hiOn(this);">&nbsp;</td></tr>
    </table><div class="buttonBar"><a href="javascript:%20void%280%29%3B" class="calToday" onclick="DatePicker.datePicker.selectDate('today');return false;">Today</a></div></div></div>
    </apex:form>
    
   </div> </div>
  </body>   
  </html>
</apex:page>