<apex:page StandardController="VanaHCM__Job_Opening__c"  extensions="VanaHCM.Job_DetailController" sidebar="false" showheader="false" id="page1" StandardStyleSheets="false">
    <html>

              <head>
             <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no;" />
             
             <apex:stylesheet value="{!URLFOR($Resource.VanaHCM__Mobile,'jquery.mobile.datebox.min.css')}" />
             <apex:stylesheet value="{!URLFOR($Resource.VanaHCM__Mobile,'jquery.mobile-1.1.0.min.css')}" />
             <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" />
   			 <apex:includeScript value="{!URLFOR($Resource.VanaHCM__Mobile,'jquery.mobile-1.1.0.min.js')}" />
             <apex:includeScript value="{!URLFOR($Resource.VanaHCM__Mobile, 'jquery.mobile.datebox.js')}" />
             
             <style>
                label{
                    white-space: nowrap;
                    /*display:block !important;*/
                }
                .homeIconSection{
                    float: left; 
                    left: 5px; 
                    margin-left: 4px; 
                    margin-top: 5px;
                }
                
                
                .topMessageBar { 
                    background: #990000; 
                    border-bottom: solid 2px #EEE; 
                    padding: 8px 0 10px; 
                    text-align: center; 
                    color: white;
                }
                /*For validation
                label.error {
                    color: red;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 1.4;
                    margin-top: 0.5em;
                    width: 100%;
                    float: none;
                }
                
                em { color: red; font-weight: bold; padding-right: .25em; }
                */
            </style>
        </head>
        <body>
        <div data-role="page" id="login">
    
        <div data-role="header">
            <div class="homeIconSection">
                <a href="{!$Page.Mobile_Home}" data-ajax="false">
                    <apex:image id="theImage" value="{!URLFOR($Resource.VanaHCM__Mobile, '/images/Mobile_Home.resource.png')}" height="30px" width="30px"/>
                </a>
          </div>
            <h1>VANA Mobile</h1>
       
             </div>
              <div data-role="content" id="contentDiv">
  
   
    
    
   
  
    <apex:form id="form1">
        <apex:pageBlock id="block1">
          <script>
 function redirectPage(url){
     window.parent.location.href = url;
 }

</script>   
            <apex:outputPanel rendered="{!sharingbuttons}">
                <apex:outputLink value="https://twitter.com/intent/tweet?original_referer={!careersite}&source=tweetbutton&text=We are looking for a {!VanaHCM__Job_Opening__c.name}&url={!careersite}" target="_blank" title="Share this job on Twitter" id="theLink"><apex:image id="theImage" value="{!$Resource.VanaHCM__twitter_small}"/></apex:outputLink>
                &nbsp;&nbsp;
                <apex:outputLink value="https://www.linkedin.com/shareArticle?mini=true&url={!careersite}&title=We are looking for a {!VanaHCM__Job_Opening__c.name}&summary={!linkedpostmessage}&source={!careersite}" target="_blank" title="Share this job on LinkedIn" id="theLink2"><apex:image id="theImage2" value="{!$Resource.VanaHCM__linkedin_small}"/></apex:outputLink>
                &nbsp;&nbsp;
                <apex:outputLink value="http://www.facebook.com/sharer.php?u={!careersite}" target="_blank" title="Share this job on Facebook"><apex:image id="theImage3" value="{!$Resource.VanaHCM__facebook_small}"/>
                </apex:outputLink>
            </apex:outputPanel>
            <apex:pageBlockButtons location="bottom">
            	<input type="button" value="Apply Now"  class="btn" onclick="applyNow();"  data-ajax="false"/> 
            </apex:pageBlockButtons>
            <apex:actionfunction name="applyNow" action="{!$Page.Mobile_Job_App}?Id={!jobOpening.Id}" /> 
            <apex:pageBlockSection columns="1" collapsible="false"> 
                <apex:repeat value="{!$ObjectType.VanaHCM__Job_Opening__c.FieldSets.VanaHCM__SiteUserFieldSetApplyOnline}" var="f">
                     <apex:OutputField value="{!jobOpening[f]}"  />  
                </apex:repeat>
                <!--    <apex:outputField value="{!jobOpening.Position_Title__c}" />
                    <apex:outputField value="{!jobOpening.Country_Description__c}" />
                    <apex:outputField value="{!jobOpening.Location_JobOpening__c}" /> 
                    <apex:outputField value="{!jobOpening.External_Position_Description__c}" /> -->
            </apex:pageBlockSection>
          
        </apex:pageBlock>  
    </apex:form>
    </div> </div>
     </body>   
  </html>
    
</apex:page>