<apex:page standardController="VanaHCM__Objective__c" extensions="VanaHCM.My_TeamController" id="page1" showHeader="True" action="{!init}" tabstyle="My_Team__tab">
<style>
    .linkImages{
        width:42px;
        height:42px;
    }
</style>
<apex:form id="form1">

<apex:outputPanel rendered="{!NOT(isCurrentUserTerminated)}">   
    <table  style="margin: 5px;">
        <tr>
            <td><apex:image value="{!currentworker.User__r.FullPhotoUrl}" height="110"/></td>
            <td style="padding-left: 10px;width:100%">
                <font size="5"><apex:outputtext value="{!currentworker.name}"/></font>
                &nbsp; 
                <br/>
                <font size="3" style="color:gray;"><apex:outputtext value="{!workerBusinessTitle}" /> &nbsp;</font>
                <apex:outputPanel rendered="{!Show_Social_Sharing}">
                <div style="display:inline; position: absolute; padding-top: 1px; {!if(isnull(workerBusinessTitle), '', 'padding-left: 10px')}">   
                <apex:outputLink title="View LinkedIn Profile" value="{!currentWorker.VanaHCM__LinkedIn_Profile__c}"> 
                <apex:image value="{!$Resource.VanaHCM__linkedin_profile}"/>
                </apex:outputLink>
                &nbsp;&nbsp;
                <apex:outputLink value="{!currentWorker.VanaHCM__Twitter_Profile__c}" > 
                <apex:image value="{!$Resource.VanaHCM__twitter_profile}"/>
                </apex:outputLink>
                &nbsp;&nbsp;
                <apex:outputLink value="{!currentWorker.VanaHCM__Facebook_Profile__c}">
                <apex:image value="{!$Resource.VanaHCM__facebook_profile}"/>
                </apex:outputLink>
                </div>
                </apex:outputPanel>  
            </td>
        </tr>
    </table>

    <apex:pageBlock id="block1">
        <apex:pageBlockSection columns="1" id="section2" title="My Team" collapsible="false">
            <apex:outputPanel rendered="{!IF(listOfTeamWorker.SIZE>0,false,true)}">
                <apex:outputLabel value="No records found."/>
            </apex:outputPanel>
            <apex:pageBlockTable value="{!listOfTeamWorker}" var="li" rendered="{!IF(listOfTeamWorker.SIZE>0,true,false)}">
                <apex:column headerValue="">
                    <apex:image value="{!li.User__r.SmallPhotoUrl}" />  
                </apex:column>
                <apex:column headerValue="Worker"> 
                    <apex:outputfield value="{!li.Name}" />
                </apex:column>
                <apex:column width="10%" headerValue="Profile" rendered="{!isProfileEnable}">
                    <apex:commandLink action="/_ui/core/userprofile/UserProfilePage?u={!li.User__c}&retURL={!$Page.My_Team}">
                        <img src="{!URLFOR($Resource.Mobile, '/images/profile.png')}" class="linkImages" title="View {!li.Name}'s Profile"/>
                    </apex:commandLink>
                </apex:column> 
                <apex:column width="10%" headerValue="Work" rendered="{!displayWorkButton}">
                    <apex:commandLink action="{!$Page.Work_Details}?id={!li.id}&retURL={!$Page.My_Team}">
                        <img src="{!URLFOR($Resource.Mobile, '/images/icon_work_blue.png')}" class="linkImages" title="View {!li.Name}'s Work Details"/>
                    </apex:commandLink>  
                </apex:column> 
                <apex:column width="10%" headerValue="Team" rendered="{!displayTeamButton}">
                    <apex:commandLink action="{!$Page.Worker_Hierarchy}?id={!li.Id}&retURL={!$Page.My_Team}">
                        <img src="{!URLFOR($Resource.Mobile, '/images/orgchart.png')}" class="linkImages" title="View {!li.Name}'s Team"/>
                    </apex:commandLink>   
                </apex:column>
                <apex:column width="10%" headerValue="Transfer" rendered="{!IsShowTransfer}">
                    <apex:commandLink action="{!$Page.New_WorkerAssignmentV2}?id={!li.Id}&retURL={!$Page.My_Team}&tp=Transfer">
                        <img src="{!URLFOR($Resource.Mobile, '/images/icon_transfer_blue.png')}" class="linkImages" title="Transfer {!li.Name}"/>
                    </apex:commandLink> 
                </apex:column>
                <apex:column width="10%" headerValue="Promote" rendered="{!IsShowPromotion}">
                    <apex:commandLink action="{!$Page.New_WorkerAssignmentV2}?id={!li.Id}&retURL={!$Page.My_Team}&tp=Promotion">
                        <img src="{!URLFOR($Resource.Mobile, '/images/icon_promote_blue.png')}" class="linkImages" title="Promote {!li.Name}"/>
                    </apex:commandLink>
                </apex:column>
                <apex:column width="10%" headerValue="Terminate" rendered="{!IsShowTermination}">
                    <apex:commandLink action="{!$Page.New_WorkerAssignmentV2}?id={!li.Id}&retURL={!$Page.My_Team}&tp=Termination">
                        <img src="{!URLFOR($Resource.Mobile, '/images/icon_terminate_blue.png')}" class="linkImages" title="Terminate {!li.Name}"/>
                    </apex:commandLink>
                </apex:column>
                <apex:column width="10%" headerValue="Absence" rendered="{!IsShowAbsence}">
                    <apex:commandLink action="{!$Page.EmployeeAbsenseRequestv2}?id={!li.Id}&ref=team&retURL={!$Page.My_Team}">
                        <img src="{!URLFOR($Resource.Mobile, '/images/case.png')}" class="linkImages" title="View/Edit {!li.Name}'s Absence details"/>
                    </apex:commandLink>  
                </apex:column>
                <apex:column width="10%" headerValue="Contact" rendered="{!IsEnableFromCustomSetting}" >
                    <apex:commandLink action="{!$Page.EmployeeSelfService}?id={!li.Id}">
                        <img src="{!URLFOR($Resource.Mobile, '/images/icon_contact_blue.png')}" class="linkImages" title="View {!li.Name}'s Contact details"/>
                    </apex:commandLink>
                </apex:column>
            </apex:pageBlockTable> 
        </apex:pageBlockSection>
    
    
        <apex:pageBlockSection columns="1" id="section3" title="Delegated Team" collapsible="false" rendered="{!delegatedTeam.SIZE>0}">
            <apex:pageBlockTable value="{!delegatedTeam}" var="li">
                <apex:column headerValue="" title="Manager : {!li.Manager__r.Name}">
                    <apex:image value="{!li.User__r.SmallPhotoUrl}" />  
                </apex:column>
                <apex:column headerValue="Worker" title="Manager : {!li.Manager__r.Name}"> 
                    <apex:outputField value="{!li.Name}" />
                </apex:column>
                <apex:column width="10%" headerValue="Profile" rendered="{!isProfileEnable}">
                    <apex:commandLink action="/_ui/core/userprofile/UserProfilePage?u={!li.User__c}&retURL={!$Page.My_Team}">
                        <img src="{!URLFOR($Resource.Mobile, '/images/profile.png')}" class="linkImages" title="View {!li.Name}'s Profile"/>
                    </apex:commandLink>  
                </apex:column> 
                <apex:column width="10%" headerValue="Work" rendered="{!displayWorkButton}">
                    <apex:commandLink action="{!$Page.Work_Details}?id={!li.id}&retURL={!$Page.My_Team}">
                        <img src="{!URLFOR($Resource.Mobile, '/images/icon_work_blue.png')}" class="linkImages" title="View {!li.Name}'s Work Details"/>
                    </apex:commandLink>  
                </apex:column> 
                <apex:column width="10%" headerValue="Team" rendered="{!displayTeamButton}">
                    <apex:commandLink action="{!$Page.Worker_Hierarchy}?id={!li.Id}&retURL={!$Page.My_Team}">
                        <img src="{!URLFOR($Resource.Mobile, '/images/orgchart.png')}" class="linkImages" title="View {!li.Name}'s Team"/>
                    </apex:commandLink>   
                </apex:column>
                <apex:column width="10%" headerValue="Transfer" rendered="{!IsShowTransfer}">
                    <apex:commandLink action="{!$Page.New_WorkerAssignmentV2}?id={!li.Id}&retURL={!$Page.My_Team}&tp=Transfer">
                        <img src="{!URLFOR($Resource.Mobile, '/images/icon_transfer_blue.png')}" class="linkImages" title="Transfer {!li.Name}"/>
                    </apex:commandLink> 
                </apex:column>
                <apex:column width="10%" headerValue="Promote" rendered="{!IsShowPromotion}">
                    <apex:commandLink action="{!$Page.New_WorkerAssignmentV2}?id={!li.Id}&retURL={!$Page.My_Team}&tp=Promotion">
                        <img src="{!URLFOR($Resource.Mobile, '/images/icon_promote_blue.png')}" class="linkImages" title="Promote {!li.Name}"/>
                    </apex:commandLink>
                </apex:column>
                <apex:column width="10%" headerValue="Terminate" rendered="{!IsShowTermination}">
                    <apex:commandLink action="{!$Page.New_WorkerAssignmentV2}?id={!li.Id}&retURL={!$Page.My_Team}&tp=Termination">
                        <img src="{!URLFOR($Resource.Mobile, '/images/icon_terminate_blue.png')}" class="linkImages" title="Terminate {!li.Name}"/>
                    </apex:commandLink>
                </apex:column>
                <apex:column width="10%" headerValue="Absence" rendered="{!IsShowAbsence}">
                    <apex:commandLink action="{!$Page.EmployeeAbsenseRequestv2}?id={!li.Id}&ref=team&retURL={!$Page.My_Team}">
                        <img src="{!URLFOR($Resource.Mobile, '/images/case.png')}" class="linkImages" title="View/Edit {!li.Name}'s Absence details"/>
                    </apex:commandLink>  
                </apex:column>
                <apex:column width="10%" headerValue="Contact" rendered="{!IsEnableFromCustomSetting}" >
                    <apex:commandLink action="{!$Page.EmployeeSelfService}?id={!li.Id}">
                        <img src="{!URLFOR($Resource.Mobile, '/images/icon_contact_blue.png')}" class="linkImages" title="View {!li.Name}'s Contact details"/>
                    </apex:commandLink>
                </apex:column>
            </apex:pageBlockTable> 
        </apex:pageBlockSection>
    
    </apex:pageBlock>
</apex:outputPanel> 

<apex:pageBlock id="block2" rendered="{!isCurrentUserTerminated}">
    <apex:outputLabel value="You do not have access." />
</apex:pageBlock>

</apex:form>              
</apex:page>