<apex:page standardController="VanaHCM__Contact__c" id="thePage" title="New Contact" tabStyle="VanaHCM__Contact__c" >
<apex:form >
	<apex:sectionHeader title="New Contact" />
	<apex:pageMessages />
	<apex:pageBlock >
		<apex:pageBlockButtons >
			<apex:commandButton action="{!save}" value="Save"/>
			<apex:commandButton action="{!cancel}" value="Cancel"/>
		</apex:pageBlockButtons>
		
		<apex:pageBlockSection columns="2" title="Contact Detail">
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__Effective_Date_Contact__c}"/>
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__Worker_Contact__c}"/>
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__Primary_Contact__c}"/>
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__Emergency_Contact__c}"/>
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__Relationship__c}"/>
		</apex:pageBlockSection>
		
		<apex:pageBlockSection columns="2" title="Contact Name">
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__Name_Effective_Date_Contact__c}"/>
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__Country_Contact__c}"/>
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__Prefix__c}"/>
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__First_Name_Contact__c}"/>
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__Middle__c}"/>
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__Last_Name_Contact__c}"/> 
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__Suffix__c}"/>
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__Local_Name__c}"/>
		</apex:pageBlockSection>
		
		<apex:pageBlockSection columns="2" title="Contact Phone">
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__Phone_Contact__c}"/>
			<apex:inputField value="{!VanaHCM__Contact__c.VanaHCM__Extension_Contact__c}"/>
		</apex:pageBlockSection>
		
	</apex:pageBlock>
</apex:form>
</apex:page>