<apex:page standardController="VanaHCM__Objective__c" id="thePage" title="New Goal" extensions="VanaHCM.New_GoalControlller" showHeader="{!NOT(isFromPopUp)}" sideBar="{!NOT(isFromPopUp)}" >
    <apex:form >
        <apex:sectionHeader title="New {!Include_Objectives_Label}" />
        <apex:pageMessages id="msg" ></apex:pageMessages>
        <apex:pageBlock > 
            <apex:pageBlockButtons >
                <apex:commandButton action="{!save}" value="Save" status="SaveStatus" rerender="decideAfterSaveStatus,msg"  rendered="{!isFromPopUp}" /> 
                <apex:commandButton action="{!SaveDataRedirect}" value="Save" status="SaveStatus" rendered="{!NOT(isFromPopUp)}" />
                <apex:commandButton action="{!cancel}" value="Cancel" rendered="{!NOT(isFromPopUp)}" />
                <apex:outputPanel rendered="{!isFromPopUp}">
                    <input type="button" class="btn" value="Cancel" onclick="parent.$.fancybox.close();" />
                </apex:outputPanel>
                <apex:actionStatus startText="Please wait" id="SaveStatus" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1" title="Enter {!Include_Objectives_Label} or Select Existing {!Include_Objectives_Label} from the Library">
                <apex:inputField value="{!objectives.name}" style="width:450px;"></apex:inputField>
               
                <apex:inputField value="{!objectives.VanaHCM__Goal_Library__c}" style="width:300px;"></apex:inputField>
                <apex:inputField value="{!objectives.VanaHCM__Category__c}"></apex:inputField>
             
              <apex:inputField value="{!objectives.VanaHCM__Objective_Description__c}" style="width:400px;height:100px;"></apex:inputField>
             <apex:inputField value="{!objectives.VanaHCM__Private__c}"></apex:inputField>
             
             </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" title="{!Include_Objectives_Label} Detail">
             <apex:inputField value="{!objectives.VanaHCM__Goal_Plan__c}"></apex:inputField>         
                 <apex:inputField value="{!objectives.VanaHCM__Worker__c}"></apex:inputField>
                   <apex:inputField value="{!objectives.VanaHCM__Start_Date_Objective__c}"></apex:inputField>
                <apex:inputField value="{!objectives.VanaHCM__Due_Date__c}"></apex:inputField>
                 <apex:inputField value="{!objectives.VanaHCM__Performance__c}"></apex:inputField>
                <apex:inputField value="{!objectives.VanaHCM__Status__c}"></apex:inputField>
                <apex:inputField value="{!objectives.VanaHCM__Metric__c}"></apex:inputField>
                <apex:inputField value="{!objectives.VanaHCM__Actual__c}"></apex:inputField>
                <apex:inputField value="{!objectives.VanaHCM__Percent_Complete__c}"></apex:inputField>
                <apex:inputField value="{!objectives.VanaHCM__Weight__c}"></apex:inputField>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:outputPanel id="decideAfterSaveStatus">
            <script>
                if({!AND(isFromPopUp,isCompleted)}){
                    parent.$.fancybox.close();
                    window.parent.location.reload(true);
                }
            </script>
        </apex:outputPanel>
    </apex:form>
 </apex:page>