<apex:page standardController="VanaHCM__Performance_Assessment__c" id="thePage" title="New {!Include_Assessment_Label}" extensions="VanaHCM.New_Performance_AssessmentController" showHeader="{!NOT(isFromPopUp)}" sideBar="{!NOT(isFromPopUp)}">
	<style>
		h2{white-space: nowrap;}
	</style>
	<apex:form > 
		<apex:sectionHeader title="{!Include_Assessment_Label} Edit" subTitle="New {!Include_Assessment_Label}" rendered="{!AND((isFromPopUp),NOT(isEdit))}" />
		<apex:sectionHeader title="Performance Assessment Edit" subTitle="{!objPA.Name}" rendered="{!AND(NOT(isFromPopUp),isEdit)}" />
		<apex:pageMessages id="msg" />
		<apex:pageBlock title="{!Include_Assessment_Label} Edit">
			<apex:pageBlockButtons >
				<apex:commandButton action="{!SaveData}" value="Save" status="SaveStatus" rerender="decideAfterSaveStatus,msg" rendered="{!isFromPopUp}"/>
				<apex:commandButton action="{!SaveDataRedirect}" value="Save" status="SaveStatus" rendered="{!NOT(isFromPopUp)}" />
				<apex:commandButton action="{!cancel}" value="Cancel" rendered="{!NOT(isFromPopUp)}"/>
				<apex:outputPanel rendered="{!isFromPopUp}">
					<input type="button" class="btn" value="Cancel" onclick="parent.$.fancybox.close();" />
				</apex:outputPanel>
				<apex:actionStatus startText="Please wait" id="SaveStatus" />
			</apex:pageBlockButtons>
			<apex:pageBlockSection columns="2" title="Information" collapsible="false">
				<apex:inputField value="{!objPA.VanaHCM__Performance_Assessment__c}"></apex:inputField>
			</apex:pageBlockSection>  
			<apex:pageBlockSection columns="1" title="{!Include_Assessment_Label} Detail" collapsible="false">  
				<apex:inputField value="{!objPA.VanaHCM__Assessment__c}" style="width:430px;height:100px;"></apex:inputField>
				<apex:inputField value="{!objPA.VanaHCM__Response__c}" style="width:430px;height:100px;"></apex:inputField>    
			</apex:pageBlockSection>  
		</apex:pageBlock>
		
		<apex:outputPanel id="decideAfterSaveStatus">
		<script>
			if({!AND(isFromPopUp,isCompleted)}){
				parent.$.fancybox.close();
				window.parent.location.reload(true);
			}
		</script>
		</apex:outputPanel>
	
	</apex:form>
	
 </apex:page>