<apex:page standardController="VanaHCM__Worker_Address__c" id="thePage" title="Dependent Beneficiary Address" tabStyle="New_Address__tab" >
<apex:form >
<apex:sectionHeader title="New Address" />
<apex:pageMessages ></apex:pageMessages>
<apex:pageBlock >
<apex:pageBlockButtons >
<apex:commandButton action="{!save}" value="Save"></apex:commandButton>
<apex:commandButton action="{!cancel}" value="Cancel">
</apex:commandButton>
</apex:pageBlockButtons>
<apex:pageBlockSection columns="2" title="Address Summary">

<apex:inputField value="{!VanaHCM__Worker_Address__c.VanaHCM__Effective_Date_Address__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Worker_Address__c.VanaHCM__Dependent_Beneficiary__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Worker_Address__c.VanaHCM__Country_Codes__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Worker_Address__c.VanaHCM__Region__c}"></apex:inputField>
</apex:pageBlockSection>
<apex:pageBlockSection columns="1" title="Address Details">
<apex:inputField value="{!VanaHCM__Worker_Address__c.VanaHCM__Address_Type__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Worker_Address__c.VanaHCM__Address_Line_1__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Worker_Address__c.VanaHCM__Address_Line_2__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Worker_Address__c.VanaHCM__Address_Line_3__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Worker_Address__c.VanaHCM__Address_Line_4__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Worker_Address__c.VanaHCM__Address_Line_5__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Worker_Address__c.VanaHCM__City_Town__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Worker_Address__c.VanaHCM__State_Province__c}"></apex:inputField>
<apex:inputField value="{!VanaHCM__Worker_Address__c.VanaHCM__Zip_Postal_Code__c}"></apex:inputField>


</apex:pageBlockSection>
</apex:pageBlock>

</apex:form>
 </apex:page>