<apex:page standardcontroller="VanaHCM__Offer_Letter__c" extensions="VanaHCM.OfferLetterController" sidebar="false" showheader="false" renderAs="pdf">
<!-- renderAs="pdf" -->
	<apex:pageBlock id="blockPreview" >
			<apex:pageBlockSection columns="1" id="preview">
					<apex:outputText escape="false" value="{!OfferLetterPreviewText}" ></apex:outputText> 
			</apex:pageBlockSection>		
		<apex:outputPanel rendered="{!IF(OfferLetterPreviewText != NULL,TRUE,FALSE)}" >
			<table cellspacing="0" cellpadding="0" border="0" width="100%" id="footer" style="padding-top:100px">
				<tr>
					<td width="50%" style="margin-top:50px;">
						<div style='float:left'>{!String_AcceptedBy}</div>
					</td>
					<td width="50%" style="margin-top:50px;">
						<div style='float:right'>{!String_SignedDate}</div> 
					</td>
				</tr>
			</table>
		</apex:outputPanel>	 
	</apex:pageBlock>
	
</apex:page>