<apex:page standardController="VanaHCM__Worker__c" extensions="VanaHCM.WorkerHierarchyController" showHeader="false" sideBar="false" docType="html-5.0"  standardStylesheets="false" action="{!initMobile}">
<html>
<body>
              <head>
             <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no;" /> 
             
             <apex:stylesheet value="{!URLFOR($Resource.VanaHCM__Mobile,'jquery.mobile.datebox.min.css')}" />
             <apex:stylesheet value="{!URLFOR($Resource.VanaHCM__Mobile,'jquery.mobile-1.1.0.min.css')}" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" />
    <apex:includeScript value="{!URLFOR($Resource.VanaHCM__Mobile,'jquery.mobile-1.1.0.min.js')}" />
             <apex:includeScript value="{!URLFOR($Resource.VanaHCM__Mobile, 'jquery.mobile.datebox.js')}" />
             
             <style>
                label{
                    white-space: nowrap;
                    /*display:block !important;*/
                }
                .homeIconSection{
                    float: left; 
                    left: 5px; 
                    margin-left: 4px; 
                    margin-top: 5px;
                }
                
                
                .topMessageBar { 
                    background: #990000; 
                    border-bottom: solid 2px #EEE; 
                    padding: 8px 0 10px; 
                    text-align: center; 
                    color: white;
                }
                /*For validation
                label.error {
                    color: red;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 1.4;
                    margin-top: 0.5em;
                    width: 100%;
                    float: none;
                }
                
                em { color: red; font-weight: bold; padding-right: .25em; }
                */
            </style>
        </head>
        <div data-role="page" id="login">
    
        <div data-role="header">
            <div class="homeIconSection">
                <a href="{!$Page.Mobile_Home}" data-ajax="false">
                    <apex:image id="theImage" value="{!URLFOR($Resource.VanaHCM__Mobile, '/images/Mobile_Home.resource.png')}" height="30px" width="30px"/>
                </a>
          </div>
            <h1>VANA Mobile</h1>
       
             </div>
              <div data-role="content" id="contentDiv" style="overflow:scroll">
  <apex:outputPanel rendered="{!NOT(isCurrentUserTerminated)}"> 
    <apex:outputPanel rendered="{!NOT(isRootFound)}">
        <apex:pageblock title="Errors:- ">
            <apex:pageMessages id="errors" />
            <a href="/setup/ui/listCustomSettings.apexp">Click here to setup it now.</a>
        </apex:pageblock>
    </apex:outputPanel>
    <apex:outputPanel rendered="{!isRootFound}">
    <!-- The initialSelection attribute must be an array of JSON objects that contain a row property. They should take this form: '[{row:0}]', and must be eval'd.
         More information can be found here: http://code.google.com/apis/visualization/documentation/events.html -->
    <apex:variable var="color" value="#edf7ff" />        
    <apex:variable var="selectionColor" value="#d6e9f8"/>       
    <apex:variable var="size" value="medium"/>      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <style>
        .expendNode{
            background-image: url('{!URLFOR($Resource.theme,'/images/ui-icons_469bdd_256x240.png')}');
            width: 14px;
            height: 14px;
            /*240px think plus 208px think minus*/
            background-position: 224px 114px;
            cursor:pointer;
            vertical-align: bottom;
        }
        .collapseNode{
            background-image: url('{!URLFOR($Resource.theme,'/images/ui-icons_469bdd_256x240.png')}');
            width: 14px;
            height: 14px;
            background-position: 192px 114px;
            cursor:pointer;
            vertical-align: bottom;
        }
        
        .worketThumbnailDiv{
            text-align: center;
        }
        .worketDetailDiv{
            text-align: center;
        }
        .workerName{
            font-size: 12px;
            white-space: nowrap;
            font-weight: bold;
        }
        
        .workerTitle{
            display: block;
            font-color: grey;
        }
        .workerEmail{
            display: block;
        }
        .workerProfile{
            white-space: nowrap;
            display: block;
        }
        .contactDetails{
        	display: block;
        	white-space: nowrap;
        }
    </style>
    
    <apex:form >
        <apex:actionFunction action="{!updateHierarchyView}" name="jsUpdateHierarchyView" rerender="hierarchyDataDiv" oncomplete="onUpdateHierarchyViewDone();">
            <apex:param name="q" value="" assignTo="{!selectedWorkerID}"/>
        </apex:actionFunction>
        
        <apex:outputPanel id="hierarchyDataDiv">
            <script type="text/javascript">
                var _dataJSON = eval( '(<apex:outputText value="{!hierarchyJSONString}" escape="false"/>)');
                
            </script>
        </apex:outputPanel>
    </apex:form> 
    
    <script type="text/javascript">
        var ID_PREFIX = 'workerOuterDiv_'; 
        var _oldSelectedRow = [{row: 0 }];
        var _oldCollapseState = new Array();
        var _oldExpendedState = new Array();
        var _data;
        var _hierarchy;
        
        var _childLoaded = new Array();
        
    </script>
    

    <div style="float:right">
    	<c:WorkerSelector onChangeHandler="onRootWorkerSelected" useSharing="false" selectedWorker="{!selectedWorkerID}" renderLabel="false" listLabel="Worker " loadJquery="false"/>
    </div>
    <apex:outputPanel id="hierarchy_div">
    </apex:outputPanel>
    
        <script type="text/javascript">
             
           
             function initData(){
                _data = new google.visualization.DataTable(_dataJSON);
             }
             function drawVisualization() {
                
                _hierarchy = new google.visualization.OrgChart(document.getElementById('{!$Component.hierarchy_div}'));
                _hierarchy.draw(_data, {color: '{!color}', selectionColor: '{!selectionColor}',
                                      size: '{!size}', allowHtml: true,
                                      allowCollapse: true
                                     }
                               );
                
                _hierarchy.setSelection(_oldSelectedRow);
                /*
                if(_initialSelection != null && _initialSelection.length > 0){
                    //_hierarchy.setSelection(eval( '(' + _initialSelection + ')' ) );
                    
                }*/
             }
             
             function initVisualization(){
                initData();
                drawVisualization();
                updateUI();
             }
             
             //var res;
            // var chtest;
            if (!Array.prototype.indexOf) { 
                Array.prototype.indexOf = function(obj, start) {
                     for (var i = (start || 0), j = this.length; i < j; i++) {
                         if (this[i] === obj) { return i; }
                     }
                     return -1;
                }
            }

             function doCallUpdateHierarchyView(triggerE){
                
                var workerRootE = $(triggerE).closest('.workerIDEClass');
                var expColEID = $(workerRootE).attr('id');
                var workerID = expColEID.substring(15,expColEID.length);
                
                var dataRowNum = _data.getFilteredRows([{column: 0, value: workerID}])[0];
                
                var isCallToExpend = $(triggerE).hasClass('expendNode');
                
                var colExpImg = $(triggerE);
                //console.log('isCallToExpend=>>> ' + isCallToExpend);
                if(isCallToExpend){
                    if(_childLoaded != 'undefined' && _childLoaded.length > 0 && _childLoaded.indexOf(workerID) >=0){
                            //console.log('IF====>> ');
                        var collapseValue = _data.getFormattedValue(dataRowNum,0);
                        _data.setFormattedValue(dataRowNum,0,collapseValue.replace('expendNode','collapseNode'));
                        //_hierarchy.collapse(dataRowNum, true);
                        
                            _hierarchy.collapse(dataRowNum, false);//Child are loaded so expend the row
                        
                        /*  colExpImg.removeClass('expendNode');
                            colExpImg.addClass('collapseNode');
                            */
                        
                    }else{
                        //console.log('ELSE====>> ');
                         
                        _childLoaded.push(workerID); 
                        _oldCollapseState = _hierarchy.getCollapsedNodes();
                        
                        _oldSelectedRow = [{row: dataRowNum }];
                        
                        jsUpdateHierarchyView(workerID);
                       
                     
                    }
                }else{
                    //console.log('ELSE EEE====>> ');
                    var collapseValue = _data.getFormattedValue(dataRowNum,0);
                    _data.setFormattedValue(dataRowNum,0,collapseValue.replace('collapseNode','expendNode'));
                    _hierarchy.collapse(dataRowNum, true);
                    /*
                    colExpImg.removeClass('collapseNode');
                    colExpImg.addClass('expendNode');
                    */
                    _childLoaded.push(workerID);
                    //_childLoaded = new Array();
                    //updateCollepseStateAfterRefresh();
                  
                    
                }
                
            }     
            
             function onUpdateHierarchyViewDone(){
                //alert('this is test'); 
                initVisualization();
                updateCollepseStateAfterRefresh();
                
             }
             
             
             function updateCollepseStateAfterRefresh(){
               for(var i = 0; i < _childLoaded.length; i++){
                    /*The data is loaded for this worker node*/
                    var dataRowNum = _data.getFilteredRows([{column: 0, value: _childLoaded[i]}])[0];
                    var oValue = _data.getFormattedValue(dataRowNum,0);
                    /*and this was prev collapse, so now collapse the node*/
                    
                    if(_oldCollapseState != null && jQuery.inArray(dataRowNum,_oldCollapseState) != -1){
                        _data.setFormattedValue(dataRowNum,0,oValue.replace('collapseNode','expendNode'));
                        _hierarchy.collapse(dataRowNum, true);
                        
                        
                        /*fail safe*/
                        /*
                        var colExpImg = $('#'+ID_PREFIX + _childLoaded[i]).find('.collapseNode');
                        if(colExpImg!=null){
                            colExpImg.removeClass('collapseNode');
                            colExpImg.addClass('expendNode');
                        }
                        */
                    }else{
                        /*and this was prev expended, so now expend the node*/
                        _data.setFormattedValue(dataRowNum,0,oValue.replace('expendNode','collapseNode'));
                        _hierarchy.collapse(dataRowNum, false);
                        
                        
                        var colExpImg = $('#'+ID_PREFIX + _childLoaded[i]).find('.expendNode');
                        if(colExpImg != null){
                            colExpImg.removeClass('expendNode');
                            colExpImg.addClass('collapseNode');
                        }
                    }
                }
            }
                
             
             //_oldCollapseState
             $(document).ready(function(){
                
                //initVisualization(); 
            });
            google.load("visualization", "1", {packages: ["orgchart"]});
            google.setOnLoadCallback(initVisualization);
        </script>
       </apex:outputPanel>  
     </apex:outputPanel>
     <apex:outputPanel rendered="{!isCurrentUserTerminated}">
        <apex:pageBlock id="block2">
            <apex:outputLabel value="You do not have access." />
        </apex:pageBlock>
        <c:WorkerSelector onChangeHandler="onRootWorkerSelected" useSharing="false" selectedWorker="{!selectedWorkerID}" renderLabel="false" listLabel="Worker " loadJquery="true"/>
     </apex:outputPanel>  
   </div> </div>
   
   <script>
		function onRootWorkerSelected(wid){
           	var idForOrgPage = '';
           	if(wid != null && wid+'' != -1){
           		idForOrgPage = wid;
           	}
           	window.location.href = idForOrgPage != '' ? ('{!$Page.orgchart_mobile_vana}?id='+idForOrgPage) : '{!$Page.orgchart_mobile_vana}';
		}
		function updateUI(){
			var emailImageLink = "{!URLFOR($Resource.IconImage,'email_002_transparency.png')}";
			var phoneImageLink = "{!URLFOR($Resource.IconImage,'phone_002_transparency.png')}";
			var mobileImageLink = "{!URLFOR($Resource.IconImage,'mobile_002_transparency.png')}";
			/*
			$('.emailLink').append('<img class=\'contactIcon\' width=\'20px\' src=\''+ emailImageLink +'\'/>');
			$('.phoneLink').append('<img class=\'contactIcon\' width=\'20px\' src=\''+ phoneImageLink +'\'/>');
			$('.mobileLink').append('<img class=\'contactIcon\' width=\'20px\' src=\''+ mobileImageLink +'\'/>');
			*/
			$('.emailLink').append('<img class=\'contactIcon\' src=\''+ emailImageLink +'\'/>');
			$('.phoneLink').append('<img class=\'contactIcon\' src=\''+ phoneImageLink +'\'/>');
			$('.mobileLink').append('<img class=\'contactIcon\' src=\''+ mobileImageLink +'\'/>');
		}
	</script>
   
  </body>   
  </html>
  
</apex:page>