<apex:page sidebar="true" showHeader="true" extensions="VanaHCM.PerformanceViewFeedbackController" TabStyle="VanaHCM__Performance__c" standardController="VanaHCM__Performance__c" action="{!init}" id="page1">
    <apex:form id="form1">
        <apex:SectionHeader title="Performance Feedback" subtitle="Participant Feedback" />
        <apex:pageMessages id="msg1" />
        <apex:pageBlock id="block1"> 
            <apex:pageBlockButtons location="bottom">
                 <apex:commandButton value="Cancel"  action="{!Cancel}" />
            </apex:pageBlockButtons>
                <apex:pageBlockSection id="section4" columns="1" title="{!Include_Objectives_Label}" rendered="{!isObjectivesRendered}" collapsible="false" >
                    <apex:pageBlockTable id="tableGoals" value="{!listOfObjective}" var="li" style="width:100%" rendered="{!IF(listOfObjective.SIZE>0,true,false)}"> 
                         <apex:column headerValue="Name" width="20%"> 
                            <apex:outputLabel value="{!li.Goal__r.Name}" />     
                        </apex:column>   
                        <apex:column headerValue="Participant" width="20%"> 
                            <apex:outputLabel value="{!li.Rater__r.Name}" />    
                        </apex:column>  
                         <apex:column headerValue="Feedback Rating" width="20%"> 
                            <apex:outputLabel value="{!li.Rating__r.Name}" />   
                        </apex:column>
                         <apex:column headerValue="Feedback Comments" width="20%"> 
                            <apex:outputLabel value="{!li.VanaHCM__Comments__c}" />  
                        </apex:column>
                        <apex:column headerValue="Feedback Status" width="*"> 
                        	<apex:outputLabel value="{!li.VanaHCM__Status__c}" /> 	
                        </apex:column>
                    </apex:pageBlockTable>
                  <apex:outputPanel rendered="{!IF(listOfObjective.SIZE>0,false,true)}">
                    No records found
                </apex:outputPanel> 
            </apex:pageBlockSection>     
          
            
                 <apex:pageBlockSection id="section5" columns="1" title="{!Include_Competencies_Label}" rendered="{!isCompetenciesRendered}" collapsible="false" >
                    <apex:pageBlockTable id="tableGoals" value="{!listOfCompetency}" var="li" style="width:100%" rendered="{!IF(listOfCompetency.SIZE>0,true,false)}"> 
                         <apex:column headerValue="Name" width="20%"> 
                            <apex:outputLabel value="{!li.Worker_Competency__r.Name}" />    
                        </apex:column>   
                        <apex:column headerValue="Participant" width="20%"> 
                            <apex:outputLabel value="{!li.Rater__r.Name}" />    
                        </apex:column>  
                         <apex:column headerValue="Feedback Rating" width="20%"> 
                            <apex:outputLabel value="{!li.Rating__r.Name}" />   
                        </apex:column>
                         <apex:column headerValue="Feedback Comments" width="20%"> 
                            <apex:outputLabel value="{!li.VanaHCM__Comments__c}" />  
                        </apex:column>
                        <apex:column headerValue="Feedback Status" width="*"> 
                        	<apex:outputLabel value="{!li.VanaHCM__Status__c}" /> 	
                        </apex:column>
                    </apex:pageBlockTable>
                  <apex:outputPanel rendered="{!IF(listOfCompetency.SIZE>0,false,true)}">
                    No records found
                </apex:outputPanel> 
            </apex:pageBlockSection>
             <apex:pageBlockSection id="section3" columns="1" title="{!Include_Core_Values_Label}" rendered="{!isCoreValuesRendered}" collapsible="false" >
                <apex:pageBlockTable id="tableCoreValues" value="{!listOfCoreValues}" var="li" style="width:100%" rendered="{!IF(listOfCoreValues.SIZE>0,true,false)}"> 
                        <apex:column headerValue="Name" width="20%"> 
                            <apex:outputLabel value="{!li.Core_Values__r.Name}" />  
                        </apex:column>   
                        <apex:column headerValue="Participant" width="20%"> 
                            <apex:outputLabel value="{!li.Rater__r.Name}" />    
                        </apex:column>  
                         <apex:column headerValue="Feedback Rating" width="20%"> 
                            <apex:outputLabel value="{!li.Rating__r.Name}" />   
                        </apex:column>
                         <apex:column headerValue="Feedback Comments" width="20%"> 
                            <apex:outputLabel value="{!li.VanaHCM__Comments__c}" />      
                        </apex:column>
                        <apex:column headerValue="Feedback Status" width="*"> 
                        	<apex:outputLabel value="{!li.VanaHCM__Status__c}" /> 	
                        </apex:column>
                </apex:pageBlockTable>  
                  <apex:outputPanel rendered="{!IF(listOfCoreValues.SIZE>0,false,true)}">
                    No records found
                </apex:outputPanel> 
            </apex:pageBlockSection> 
        </apex:pageBlock>
     </apex:form> 
            
</apex:page>