<apex:page controller="VanaHCM.RapidHireController" sidebar="true" showHeader="true" tabStyle="VanaHCM__Worker__c">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <apex:form id="form1">
        <apex:actionfunction action="{!onPositionSelect}" name="jsOnPositionSelect" status="status" rerender="block1"/>
        <apex:sectionHeader title="New Person" subTitle="Rapid Hire" />
        <apex:pageMessages id="Msg" />
        <apex:actionStatus id="status" startText="Please wait....">
        <apex:facet name="start">
            <img src="/img/loading.gif" alt="please wait"/>
        </apex:facet> 
        <apex:facet name="stop"></apex:facet>
       </apex:actionStatus>
        <apex:pageBlock id="block1">
            <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!SaveWorker}"/>
            </apex:pageBlockButtons>
            
            <!--  Temp handling for worker field issues -->
            <apex:pageBlockSection columns="2" collapsible="false" id="section11" title="Worker Information" rendered="{!safeModeStatus = 'DOSAFE'}"> 
				<apex:InputField value="{!worker.VanaHCM__Worker_Effective_Date__c}"  styleClass="worker__cVanaHCM__Worker_Effective_Date__c" required="true"/>
				<apex:InputField value="{!worker.VanaHCM__Worker_External_ID__c}"  required="true"/>
				<apex:InputField value="{!worker.VanaHCM__User__c}" />
				<apex:InputField value="{!worker.VanaHCM__External_Worker_ID__c}" />
				<apex:InputField value="{!worker.VanaHCM__Name_Effective__c}" />
				<apex:InputField value="{!worker.VanaHCM__Prefix__c}" />
				<apex:InputField value="{!worker.VanaHCM__First_Name__c}" />
				<apex:InputField value="{!worker.VanaHCM__Last_Name__c}" />
				<apex:InputField value="{!worker.VanaHCM__Middle__c}" />
				<apex:InputField value="{!worker.VanaHCM__Suffix__c}" />
				<apex:InputField value="{!worker.VanaHCM__Former_Name__c}" />
				<apex:InputField value="{!worker.VanaHCM__Local_Name__c}" />
				<apex:InputField value="{!worker.VanaHCM__Nick_Name__c}" />
				<apex:InputField value="{!worker.VanaHCM__Email_Person__c}" />
				<apex:InputField value="{!worker.VanaHCM__Executive_Staff_Member__c}" />
				<apex:InputField value="{!worker.VanaHCM__Worked_Percentage__c}" />
				<apex:InputField value="{!worker.VanaHCM__Seat_Number__c}" />
				<apex:InputField value="{!worker.VanaHCM__Budget_Owner_Lookup__c}" />
				<apex:InputField value="{!worker.VanaHCM__People_Manager__c}" />
				<apex:InputField value="{!worker.VanaHCM__Benefit_Eligible__c}" />
				<apex:InputField value="{!worker.VanaHCM__Country_Name__c}" />
				<apex:InputField value="{!worker.VanaHCM__Gender__c}" />
				<apex:InputField value="{!worker.VanaHCM__Ethnicity__c}" />
				<apex:InputField value="{!worker.VanaHCM__Birth_Country__c}" />
				<apex:InputField value="{!worker.VanaHCM__Date_of_Birth__c}" />
				<apex:InputField value="{!worker.VanaHCM__Marital_Status__c}" />
				<apex:InputField value="{!worker.VanaHCM__As_of_Date_Marital_Status__c}" />
				<apex:InputField value="{!worker.VanaHCM__Tobacco_User__c}" />
				<apex:InputField value="{!worker.VanaHCM__Tobacco_As_of_Date__c}" />
				<apex:InputField value="{!worker.VanaHCM__Date_of_Death__c}" />
				<apex:InputField value="{!worker.VanaHCM__Worker_Comp_Code__c}" />
				<apex:InputField value="{!worker.VanaHCM__Hire_Date__c}" styleClass="worker__cVanaHCM__Hire_Date__c"/>
				<apex:InputField value="{!worker.VanaHCM__Hire_Reason_Worker__c}" />
				<apex:InputField value="{!worker.VanaHCM__Rehire_Date__c}" />
				<apex:InputField value="{!worker.VanaHCM__Seniority_Date__c}" />
				<apex:InputField value="{!worker.VanaHCM__Benefit_Program_Worker__c}" />
				<apex:InputField value="{!worker.VanaHCM__Standard_Hours__c}" />
				<apex:InputField value="{!worker.VanaHCM__EEO_Class__c}" />
				<apex:InputField value="{!worker.VanaHCM__Eligible_for_EEO_Reporting__c}" />
				<apex:InputField value="{!worker.VanaHCM__I_9_Status__c}" />
				<apex:InputField value="{!worker.VanaHCM__FLSA_Status__c}" />
				<apex:InputField value="{!worker.VanaHCM__Military_Status__c}" />
				<apex:InputField value="{!worker.VanaHCM__US_Work_Eligibility__c}" />
				<apex:InputField value="{!worker.VanaHCM__Disabled_Veteran__c}" />
				<apex:InputField value="{!worker.VanaHCM__Vietnam__c}" />
				<apex:InputField value="{!worker.VanaHCM__Bilingual__c}" />
				<apex:InputField value="{!worker.VanaHCM__Health_Number__c}" />
				<apex:InputField value="{!worker.VanaHCM__Union_Membership__c}" />
				<apex:InputField value="{!worker.VanaHCM__Budget_Owner__c}" />
				
            </apex:pageBlockSection>
            <!--  End Temp handling for worker field issues -->
            
            <apex:pageBlockSection columns="2" collapsible="false" id="section1" title="Worker Information" rendered="{!OR(safeModeStatus = 'NONE', safeModeStatus = 'NOSAFE')}"> 
                <apex:repeat value="{!$ObjectType.VanaHCM__Worker__c.FieldSets.VanaHCM__Rapid_Hire}" var="f">
                     <apex:InputField value="{!worker[f]}"  required="{!f.required}" styleClass="worker__c{!f}"/>
                </apex:repeat>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" collapsible="false" id="section2" title="Worker Assignment" rendered="{!NOT(Hide_Rapid_Hire_Work_Assignment)}"> 
                <apex:repeat value="{!$ObjectType.VanaHCM__Worker_Assignment__c.FieldSets.VanaHCM__Rapid_Hire}" var="f">
                     <apex:InputField value="{!workerAssignment[f]}" required="{!f.required}" styleClass="{!f}"/>  
                </apex:repeat>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="2" collapsible="false" id="section3" title="Worker Compensation" rendered="{!NOT(Hide_Rapid_Hire_Compensation)}"> 
                <apex:repeat value="{!$ObjectType.VanaHCM__Compensation__c.FieldSets.VanaHCM__Rapid_Hire}" var="f">
                     <apex:InputField value="{!workerCompensation[f]}"  required="{!f.required}" styleClass="{!f}"/>  
                </apex:repeat>
                <apex:inputField value="{!workerCompensation['CurrencyIsoCode']}" rendered="{!isMultiCurrencyEnabled}"/>
            </apex:pageBlockSection>
             <apex:pageBlockSection columns="2" collapsible="false" id="section4" title="Worker National ID" rendered="{!NOT(Hide_Rapid_Hire_National_ID)}"> 
                <apex:repeat value="{!$ObjectType.VanaHCM__Tax_ID__c.FieldSets.VanaHCM__Rapid_Hire}" var="f">
                     <apex:InputField value="{!workerNationalId[f]}"  required="{!f.required}" styleClass="{!f}"/>  
                </apex:repeat>
            </apex:pageBlockSection>
              <apex:pageBlockSection columns="2" collapsible="false" id="section5" title="Worker Address" rendered="{!NOT(Hide_Rapid_Hire_Address)}"> 
                <apex:repeat value="{!$ObjectType.VanaHCM__Worker_Address__c.FieldSets.VanaHCM__Rapid_Hire}" var="f">
                     <apex:InputField value="{!workerAddress[f]}"  required="{!f.required}" styleClass="{!f}"/>  
                </apex:repeat> 
            </apex:pageBlockSection>
             <apex:pageBlockSection columns="2" collapsible="false" id="section6" title="Worker Phone" rendered="{!NOT(Hide_Rapid_Hire_Phone)}"> 
                <apex:repeat value="{!$ObjectType.VanaHCM__Phone__c.FieldSets.VanaHCM__Rapid_Hire}" var="f">
                     <apex:InputField value="{!workerPhone[f]}"  required="{!f.required}" styleClass="{!f}"/>  
                </apex:repeat>
            </apex:pageBlockSection>
             <apex:pageBlockSection columns="2" collapsible="false" id="section7" title="Worker Equity Plan" rendered="{!NOT(Hide_Rapid_Hire_Equity_Plan)}"> 
                <apex:repeat value="{!$ObjectType.VanaHCM__Equity_Plan__c.FieldSets.VanaHCM__Rapid_Hire}" var="f">
                     <apex:InputField value="{!workerEquityPlan[f]}"  required="{!f.required}" styleClass="{!f}"/>  
                </apex:repeat>
            </apex:pageBlockSection>
            
            
            
            
            <script>
        //$(document).ready(function(){
            $('.worker__cVanaHCM__Hire_Date__c').val($('.worker__cVanaHCM__Worker_Effective_Date__c').val());
            $('.worker__cVanaHCM__Worker_Effective_Date__c').bind('change', function() {
              $('.worker__cVanaHCM__Hire_Date__c').val($('.worker__cVanaHCM__Worker_Effective_Date__c').val());
            });
            if({!config.isDefaultValuesFromPosition}){
                $('.VanaHCM__Position__c').bind('change', function() {
                    jsOnPositionSelect();
                });
            }
             
        //}); 
        
        //Temp handling for worker field issues
        $(document).ready(function(){
	       	setTimeout("checkSafeMode();", 1500);
       	}); 
       	function checkSafeMode(){
       		if($('.worker__cVanaHCM__Worker_Effective_Date__c').length == 0 && {!safeModeStatus = 'NONE'}){
	       		if(confirm('We encountered error while loading worker fields, do you want to load UI in safe mode?')){
	       			jsLoadSafeMode();
	       		}else{
					jsMarkDoNotAskAgainForSafeMode();
	       		}
	       	}
       	}
    </script>
    	
        </apex:pageBlock>
        
	<!--  Temp handling for worker field issues -->
    <apex:actionfunction action="{!loadSafeMode}" name="jsLoadSafeMode" status="status" rerender="block1" immediate="true"/>
    <apex:actionfunction action="{!markDoNotAskAgainForSafeMode}" name="jsMarkDoNotAskAgainForSafeMode" immediate="true" rerender="resetSafeModeOP"/>
    <apex:actionfunction action="{!resetSafeMode}" name="jsResetSafeMode" status="status" rerender="block1" immediate="true"/>
    
    <!--  Temp handling for worker field issues -->
    	<apex:outputPanel rendered="{!OR(safeModeStatus = 'DOSAFE', safeModeStatus = 'NOSAFE')}" id="resetSafeModeOP">
	    	<div style="float:right">
	    		<a href="#" onclick="jsResetSafeMode();">Reset UI safe mode status</a>
	    	</div>
    	</apex:outputPanel>
    
    </apex:form>
    
</apex:page>