<apex:page standardController="VanaHCM__Job_Opening__c" id="thePage"  sidebar="false" extensions="VanaHCM.SocialController">
    <script>
     function redirectPage(url){
         window.parent.location.href = url;
     }
    </script>
    <style>
        .statusDetailsDiv{
            position:absolute;
            margin-top:9px;
            display: inline;
        }
        
        .jobCurrentStatusText{
            font-size: 13px;
            font-weight: bold;
            text-transform :uppercase;
        }
        
        .jobStatusCountText{
            font-size: 17px;
            padding-left : 5px;
        }
        .jobStatusText{
            color: gray;
            font-size: 13px;
            text-transform :uppercase;
        }
    </style>
     <div class="statusDetailsDiv">
		<table cellspacing="2" cellpadding="2" border="0">
			 <apex:repeat value="{!listOflistOfStatus}" var="soOuter">
			 	<tr>	
					<apex:repeat value="{!soOuter}" var="so">
						<td>
							<apex:outputLabel value="{!so.statusCount}" styleClass="jobStatusCountText"	 />
						</td>
						<td>
							<apex:outputLabel value="{!so.status}"	styleClass="{!IF( VanaHCM__Job_Opening__c.VanaHCM__Job_Opening_Status__c = so.status, 'jobCurrentStatusText', 'jobStatusText')}" />
						</td>
						
					</apex:repeat>
				</tr>	
			</apex:repeat>	
				
			
		</table>
		<table cellspacing="2" cellpadding="2" border="0" style="margin-left:5px">
			<tr>
				<td>
					  <apex:outputLink value="https://twitter.com/intent/tweet?original_referer={!careersite}&source=tweetbutton&text=We are looking for a {!VanaHCM__Job_Opening__c.name}&url={!VanaHCM__Job_Opening__c.VanaHCM__Job_Opening_URL__c}" target="_blank" title="Share this job on Twitter" id="theLink" >
		    
				        <apex:image id="theImage" value="{!$Resource.VanaHCM__twitter_small}"/>
				    </apex:outputLink>
				    &nbsp;&nbsp;
				    <apex:outputLink value="https://www.linkedin.com/shareArticle?mini=true&url={!careersite}&title=We are looking for a {!VanaHCM__Job_Opening__c.name}&summary={!linkedpostmessage}&source={!VanaHCM__Job_Opening__c.VanaHCM__Job_Opening_URL__c}" target="_blank" title="Share this job on LinkedIn" id="theLink2">
				        <apex:image id="theImage2" value="{!$Resource.VanaHCM__linkedin_small}"/>
				    </apex:outputLink>
				    &nbsp;&nbsp;
				    <apex:outputLink value="http://www.facebook.com/sharer.php?u={!VanaHCM__Job_Opening__c.VanaHCM__Job_Opening_URL__c}" target="_blank" title="Share this job on Facebook">
				        <apex:image id="theImage3" value="{!$Resource.VanaHCM__facebook_small}"/>
				    </apex:outputLink>
				    &nbsp;&nbsp;
				    <apex:outputLink value="javascript:void(0)" title="Share this job by Email" >
				        <apex:image value="{!URLFOR($Resource.VanaHCM__IconImage,'email_icon.png')}"  onclick="redirectPage('{!$Page.VanaHCM__JobOpeningEmailButton}?id={!VanaHCM__Job_Opening__c.Id}&retURL=/{!VanaHCM__Job_Opening__c.Id}');"   />
				    </apex:outputLink>
				</td>
			</tr>
		</table>
       
    </div>
    

</apex:page>