<apex:page title="{!IF(isEditRecord,'Edit Visa','New Visa')}" controller="VanaHCM.EmployeeSelfServiceController" action="{!initEditWorkerVisa}" tabStyle="New_Address__tab">
    <apex:form >
    <apex:sectionHeader title="{!IF(isEditRecord,'Edit Visa','New Visa')}" />
    
    <apex:pageMessages ></apex:pageMessages>
    
    <apex:pageBlock >
        <apex:pageBlockButtons >
            <apex:commandButton action="{!doEditWorkerVisa}" value="Save"/>
            <apex:commandButton action="{!returnToSelfService}" value="Cancel" immediate="true"/>
        </apex:pageBlockButtons>
        
        <apex:pageBlockSection columns="2" title="Visa Detail">
            <apex:inputField value="{!workerVisaInEdit.Name}"/>
            <apex:inputField value="{!workerVisaInEdit.VanaHCM__Visa_Type__c}" />
            <apex:inputField value="{!workerVisaInEdit.VanaHCM__Country_Codes_Visa__c}"/>
                     
                         <apex:inputField value="{!workerVisaInEdit.VanaHCM__Issued_Date_Visa__c}" />
            <apex:inputField value="{!workerVisaInEdit.VanaHCM__Expiration_Date_Visa__c}" />
             
         
  
            
        </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>