<apex:page standardController="VanaHCM__Performance__c" extensions="VanaHCM.WorkerPerformaceController" id="page1" TabStyle="My_Performance__tab" showHeader="True">
 <apex:form id="form1">
        <apex:SectionHeader title="Home" subtitle="Performance" />
        <apex:pageBlock id="block1" rendered="{!NOT(isCurrentUserTerminated)}">
            <apex:pageBlockSection id="section1" columns="2">
                <apex:pageBlockSectionItem >
                    <apex:commandbutton value="New Performance" action="{!redirectPerformance}" />
                    <apex:outputLabel value="" />
                </apex:pageBlockSectionItem>
               <apex:pageBlockSectionItem id="secItem2" >
                	<apex:outputPanel style="padding-top:8px;" layout="block">
                		<apex:outputLabel value="Performance Plan " />
                	</apex:outputPanel>
                	
                	<apex:outputPanel layout="block">
					<c:TypeAheadRecordSelector onChangeHandler="WorkerDetailv2" selectedRecord="{!selectedPerformanceType}" renderLabel="false" loadJquery="true" dataSourceQuery="Select id, name from Performance_Type__c"/>
					
					<apex:actionStatus id="LoadingStatus" startText="Please wait....">
                          <apex:facet name="start"><img src="/img/loading.gif" /></apex:facet>
                          <apex:facet name="stop"></apex:facet>
                    </apex:actionStatus>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
              </apex:pageBlockSection>
              <apex:pageBlockSection columns="1" id="section2" title="My Performance">
                    <apex:outputPanel rendered="{!IF(listOfPerformance.SIZE>0,false,true)}">
                        <apex:outputLabel value="No records found."></apex:outputLabel>
                    </apex:outputPanel>
                    <apex:pageBlockTable value="{!listOfPerformance}" var="li" rendered="{!IF(listOfPerformance.SIZE>0,true,false)}">
                        <apex:column headerValue="">
                            <apex:image value="{!li.Worker__r.User__r.SmallPhotoUrl}" />
                        </apex:column>
                        <apex:column headerValue="Worker">
                        <apex:outputlabel >{!li.Worker__r.Name}</apex:outputlabel> 
                         
                        </apex:column>
                        <apex:column headerValue="Performance Plan">
                        <apex:outputLink value="/{!li.Id}">{!li.Name}</apex:outputLink>
                         
                        </apex:column>
                        <apex:column headerValue="Plan Type">
                             <apex:outputlabel >{!li.Performance_Type__r.Name}</apex:outputlabel> 
                        </apex:column>
                        <apex:column headerValue="Start Date">
                            <apex:outputField value="{!li.VanaHCM__Review_Start_Date__c}" />
                        </apex:column>
                        <apex:column headerValue="End Date">
                            <apex:outputField value="{!li.VanaHCM__Review_End_Date__c}" />
                        </apex:column>
                        <apex:column headerValue="Status">
                            <apex:outputLabel value="{!li.VanaHCM__Status__c}" />
                        </apex:column>
                       
                    </apex:pageBlockTable> 
              </apex:pageBlockSection>
              <apex:pageBlockSection columns="1" id="section4" title="My Feedback" rendered="{!isEnableFromCustomSetting}">
                    <apex:outputPanel rendered="{!IF(listOfRater.SIZE>0,false,true)}">
                        <apex:outputLabel value="No records found."></apex:outputLabel>
                    </apex:outputPanel>
                    <apex:pageBlockTable value="{!listOfRater}" var="li" rendered="{!IF(listOfRater.SIZE>0,true,false)}">
                        <apex:column headerValue="">
                            <apex:image value="{!li.VanaHCM__SmallPhotoUrl__c}" />
                        </apex:column> 
                        <apex:column headerValue="Worker">
                            <apex:outputlabel >{!li.VanaHCM__Worker_Name__c}</apex:outputlabel>  
                        </apex:column>
                         <apex:column headerValue="Performance Plan">
                            <apex:outputLabel value="{!li.VanaHCM__Performance_Plan__c}" />
                        </apex:column>
                        <apex:column headerValue="Plan Type">
                             <apex:outputlabel >{!li.VanaHCM__Plan_Type__c}</apex:outputlabel> 
                        </apex:column>
                        <apex:column headerValue="Start Date">
                            <apex:outputField value="{!li.VanaHCM__Review_Start_Date__c}" />
                        </apex:column>
                        <apex:column headerValue="End Date">
                            <apex:outputField value="{!li.VanaHCM__Review_End_Date__c}" />
                        </apex:column>
                        <apex:column headerValue="">
                            <apex:commandButton value="Feedback" action="{!$Page.PerformanceViewRater}?id={!li.Performance__c}">
                            </apex:commandButton>
                            
                        </apex:column>
                    </apex:pageBlockTable>
                        
              </apex:pageBlockSection>
               <apex:pageBlockSection columns="1" id="section3" title="My Team Performance">
               <apex:outputPanel rendered="{!IF(listOfTeamPerformance.SIZE>0,false,true)}">
                        <apex:outputLabel value="No records found."></apex:outputLabel>
                    </apex:outputPanel>
                    <apex:pageBlockTable value="{!listOfTeamPerformance}" var="li" rendered="{!IF(listOfTeamPerformance.SIZE>0,true,false)}">
                        <apex:column headerValue="">
                            <apex:image value="{!li.Worker__r.User__r.SmallPhotoUrl}" />
                        </apex:column>
                        <apex:column headerValue="Worker">
                           <apex:outputlabel >{!li.Worker__r.Name}</apex:outputlabel> 
                          
                        </apex:column>
                        <apex:column headerValue="Plan Name">
                          <apex:outputLink value="/{!li.Id}">{!li.Name}</apex:outputLink>
                        </apex:column>
                        <apex:column headerValue="Plan Type">
                            <apex:outputlabel >{!li.Performance_Type__r.Name}</apex:outputlabel> 
                        </apex:column>
                        <apex:column headerValue="Start Date">
                            <apex:outputField value="{!li.VanaHCM__Review_Start_Date__c}" />
                        </apex:column>
                        <apex:column headerValue="End Date">
                            <apex:outputField value="{!li.VanaHCM__Review_End_Date__c}" />
                        </apex:column> 
                        <apex:column headerValue="Status">
                            <apex:outputLabel value="{!li.VanaHCM__Status__c}" />
                        </apex:column>
                    </apex:pageBlockTable>
               </apex:pageBlockSection>
        
         <apex:actionFunction name="WorkerDetail" action="{!filterForPerformanceType}" status="LoadingStatus" rerender="section2,section3,section4" >
            <apex:param name="seletedId" value="" assignTo="{!seletedWorkerId}" />
        </apex:actionFunction>
        <apex:actionFunction name="WorkerDetailv2" action="{!filterForPerformanceType}" status="LoadingStatus" rerender="section2,section3,section4" >
            <apex:param name="seletedId2" value="" assignTo="{!selectedPerformanceType}" />
        </apex:actionFunction>
      
    </apex:pageBlock>
    <apex:pageBlock id="block2" rendered="{!isCurrentUserTerminated}">
        <apex:outputLabel value="You do not have access." />
    </apex:pageBlock>
    </apex:form>
</apex:page>