<apex:page standardController="VanaHCM__Objective__c" extensions="VanaHCM.WorkerGoalController" id="page1" TabStyle="My_Goals__tab" showHeader="True">
    <style>
        .rich-tabpanel-content{
            font-size: 100% !important;
        }
        
        .activeTab{
            background-color: #F1F1F1; 
             background-image: none;
        }
        .inactiveTab{
			background-color: #ffffff;
			background-image: none;
        }
        .goalNameCol{
        	width : 200px;
        }
    </style>
    
    <apex:form id="form1">
    	<apex:actionFunction name="onGoalPlanChange" action="{!onGoalPlanChange}" rerender="section2, section3" status="LoadingStatus">
            <apex:param name="seletedId2" value="" assignTo="{!selectedGoalPlanRecordID}" />
		</apex:actionFunction>
        
        <apex:SectionHeader title="Home" subtitle="Goals" /> 
        <apex:pageBlock id="block1" rendered="{!NOT(isCurrentUserTerminated)}">
            <apex:pageBlockSection id="section1" columns="2">  
                 <apex:pageBlockSectionItem >
                    <apex:outputPanel >
                        <apex:commandbutton value="New Goal" action="{!redirectGoal}" />&nbsp; 
                        <apex:commandbutton value="Cascade Goals"  rendered="{!isEnableFromCustomSetting_Cascade_Goals}"  action="{!$Page.CascadeGoals}?retURL={!$Page.WorkerGoal}" />
                    </apex:outputPanel> 
                    <apex:outputLabel value="" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="secItem2" >
                	<apex:outputPanel style="padding-top:8px;" layout="block">
                		<apex:outputLabel value="Goal Plan " />
                	</apex:outputPanel>
                	
                	<apex:outputPanel layout="block">
					<c:TypeAheadRecordSelector onChangeHandler="onGoalPlanChange" selectedRecord="{!selectedGoalPlanRecordID}" renderLabel="false" loadJquery="true" dataSourceQuery="Select id, name, Performance_Assignment__c, Default_Plan__c, Active__c From Goal_Plan__c"/>
					
					<apex:actionStatus id="LoadingStatus" startText="Please wait....">
                          <apex:facet name="start"><img src="/img/loading.gif" /></apex:facet>
                          <apex:facet name="stop"></apex:facet>
                    </apex:actionStatus>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                    
             </apex:pageBlockSection>
                    
                <apex:pageBlockSection columns="1" id="section2" title="My Goals">
                    <apex:tabPanel switchType="client" selectedTab="currentGoalTab" id="theTabPanel" activeTabClass="activeTab" inactiveTabClass="inactiveTab">
                        <apex:tab label="Current" name="name1" id="currentGoalTab">
                            <apex:outputPanel rendered="{!IF(listOfGoals.SIZE>0,false,true)}"> 
                        <apex:outputLabel value="No records found."></apex:outputLabel>
                    </apex:outputPanel>
                    <apex:pageBlockTable value="{!listOfGoals}" var="li" rendered="{!IF(listOfGoals.SIZE>0,true,false)}">
                        <apex:column headerValue="">
                            <apex:image value="{!li.Worker__r.User__r.SmallPhotoUrl}" /> 
                        </apex:column>
                        <apex:column headerValue="Worker">
                            <apex:outputlabel >{!li.Worker__r.Name}</apex:outputlabel> 
                        </apex:column>
                        <apex:column headerValue="Goal" styleClass="goalNameCol">
                            <apex:outputLink value="/{!li.Id}">{!li.Name}</apex:outputLink>
                        </apex:column>
                        <apex:column value="{!li.VanaHCM__Category__c}" rendered="{!config.displayGoalCategory}"/>
                        <apex:column value="{!li.VanaHCM__Weight__c}" rendered="{!config.displayWeight}"/> 
                        <apex:column headerValue="Start Date">
                            <apex:outputField value="{!li.VanaHCM__Start_Date_Objective__c}" />
                        </apex:column>
                        <apex:column headerValue="Due Date">
                            <apex:outputField value="{!li.VanaHCM__Due_Date__c}" />
                        </apex:column>
                      
                         <apex:column headerValue="Completion" width="150px;">
                            <apex:outputText value="{!li.VanaHCM__Completion_Status__c}" escape="false" />
                        </apex:column>
                         <apex:column headerValue="Status">
                            <apex:outputField value="{!li.VanaHCM__Status__c}" />
                        </apex:column>
                    </apex:pageBlockTable>  
                        </apex:tab>
                   
                   <apex:tab label="Completed" name="name2" id="tabTwo">
                            <apex:outputPanel rendered="{!IF(listOfCompletedGoals.SIZE>0,false,true)}"> 
                        <apex:outputLabel value="No records found."></apex:outputLabel>
                    </apex:outputPanel>
                    <apex:pageBlockTable value="{!listOfCompletedGoals}" var="li" rendered="{!IF(listOfCompletedGoals.SIZE>0,true,false)}">
                        <apex:column headerValue="">
                            <apex:image value="{!li.Worker__r.User__r.SmallPhotoUrl}" /> 
                        </apex:column>
                        <apex:column headerValue="Worker">
                            <apex:outputlabel >{!li.Worker__r.Name}</apex:outputlabel> 
                        </apex:column>
                        <apex:column headerValue="Goal" styleClass="goalNameCol">
                            <apex:outputLink value="/{!li.Id}">{!li.Name}</apex:outputLink>
                        </apex:column>
                        <apex:column value="{!li.VanaHCM__Category__c}" rendered="{!config.displayGoalCategory}"/>
                        <apex:column value="{!li.VanaHCM__Weight__c}" rendered="{!config.displayWeight}"/> 
                        <apex:column headerValue="Start Date">
                            <apex:outputField value="{!li.VanaHCM__Start_Date_Objective__c}" />
                        </apex:column>
                        <apex:column headerValue="Due Date">
                            <apex:outputField value="{!li.VanaHCM__Due_Date__c}" />
                        </apex:column>
                       
                         <apex:column headerValue="Completion" width="150px;">
                            <apex:outputText value="{!li.VanaHCM__Completion_Status__c}" escape="false" />
                        </apex:column>
                         <apex:column headerValue="Status">
                            <apex:outputField value="{!li.VanaHCM__Status__c}" />
                        </apex:column>
                    </apex:pageBlockTable>
                        </apex:tab>
                    </apex:tabPanel>
                    
                    
              </apex:pageBlockSection>
              
              
               <apex:pageBlockSection columns="1" id="section3" title="My Team Goals">
                <apex:tabPanel switchType="client" selectedTab="currentTeamGoalTabName" id="myTeamGoalPanel" activeTabClass="activeTab" inactiveTabClass="inactiveTab">
                    <apex:tab label="Current" name="currentTeamGoalTabName" id="currentTeamGoalTabID">
                        <apex:outputPanel rendered="{!IF(listOfTeamGoals.SIZE>0,false,true)}">
                            <apex:outputLabel value="No records found."></apex:outputLabel>
                        </apex:outputPanel>
                        <apex:pageBlockTable value="{!listOfTeamGoals}" var="li" rendered="{!IF(listOfTeamGoals.SIZE>0,true,false)}">
                            <apex:column headerValue="">
                                <apex:image value="{!li.Worker__r.User__r.SmallPhotoUrl}" />
                            </apex:column>
                            <apex:column headerValue="Worker">
                             <apex:outputlabel > {!li.Worker__r.Name}</apex:outputlabel>
                            </apex:column>
                            <apex:column headerValue="Goal" styleClass="goalNameCol">
                            <apex:outputLink value="/{!li.Id}">{!li.Name}</apex:outputLink>
                        </apex:column>
                        <apex:column value="{!li.VanaHCM__Category__c}" rendered="{!config.displayGoalCategory}"/>
                        <apex:column value="{!li.VanaHCM__Weight__c}" rendered="{!config.displayWeight}"/> 
                            <apex:column headerValue="Start Date">
                                <apex:outputField value="{!li.VanaHCM__Start_Date_Objective__c}" />
                            </apex:column>
                            <apex:column headerValue="Due Date">
                                <apex:outputField value="{!li.VanaHCM__Due_Date__c}" />
                            </apex:column>
                           
                             <apex:column headerValue="Completion" width="150px;">
                                <apex:outputText value="{!li.VanaHCM__Completion_Status__c}" escape="false" />
                            </apex:column>
                             <apex:column headerValue="Status">
                                <apex:outputField value="{!li.VanaHCM__Status__c}" />
                            </apex:column>
                           </apex:pageBlockTable>
                    </apex:tab>
                    <apex:tab label="Completed" name="completedTeamGoalTab" id="completedTeamGoalTabID">
                    <apex:outputPanel rendered="{!IF(listOfTeamCompletedGoals.SIZE>0,false,true)}">
                        <apex:outputLabel value="No records found."></apex:outputLabel>
                    </apex:outputPanel>
                    <apex:pageBlockTable value="{!listOfTeamCompletedGoals}" var="li" rendered="{!IF(listOfTeamCompletedGoals.SIZE>0,true,false)}">
                        <apex:column headerValue="">
                            <apex:image value="{!li.Worker__r.User__r.SmallPhotoUrl}" />
                        </apex:column>
                        <apex:column headerValue="Worker">
                         <apex:outputlabel > {!li.Worker__r.Name}</apex:outputlabel>
                        </apex:column>
                        <apex:column headerValue="Goal" styleClass="goalNameCol">
                            <apex:outputLink value="/{!li.Id}">{!li.Name}</apex:outputLink>
                        </apex:column>
                        <apex:column value="{!li.VanaHCM__Category__c}" rendered="{!config.displayGoalCategory}"/>
                        <apex:column value="{!li.VanaHCM__Weight__c}" rendered="{!config.displayWeight}"/> 
                        <apex:column headerValue="Start Date">
                            <apex:outputField value="{!li.VanaHCM__Start_Date_Objective__c}" />
                        </apex:column>
                        <apex:column headerValue="Due Date">
                            <apex:outputField value="{!li.VanaHCM__Due_Date__c}" />
                        </apex:column>
                       
                         <apex:column headerValue="Completion" width="150px;">
                            <apex:outputText value="{!li.VanaHCM__Completion_Status__c}" escape="false" />
                        </apex:column>
                         <apex:column headerValue="Status">
                            <apex:outputField value="{!li.VanaHCM__Status__c}" />
                        </apex:column>
                       </apex:pageBlockTable>
                    </apex:tab>
                </apex:tabPanel>
                    
                    
              </apex:pageBlockSection>
         </apex:pageBlock>
         <apex:pageBlock id="block2" rendered="{!isCurrentUserTerminated}">
            <apex:outputLabel value="You do not have access." />
        </apex:pageBlock>
  </apex:form>              
</apex:page>