<apex:page standardController="VanaHCM__Worker_Assignment__c" id="thePage"  sidebar="false" >
               
<apex:form >
 <apex:outputPanel >
                                 <table>
                                     
                                     <tr>
                                         <td> <apex:image id="profileImage" url="{!VanaHCM__Worker_Assignment__c.Worker_Assignment__r.User__r.SmallPhotoUrl}" />&nbsp;&nbsp;&nbsp;</td>
                                         
                                         <td><font size="5"><apex:outputtext value="{!VanaHCM__Worker_Assignment__c.Worker_Assignment__r.name}"/></font><br />
                                         <font size="3"><apex:outputtext value="{!VanaHCM__Worker_Assignment__c.VanaHCM__Business_Title__c}"/></font>
                                        </td>
                                     </tr>
                </table>
                
              
               </apex:outputPanel>  
                    
                 
       </apex:form>
 </apex:page>