<apex:page title="{!IF(isEditRecord,'Edit Passport','New Passport')}" controller="VanaHCM.EmployeeSelfServiceController" action="{!initEditWorkerPassport}" tabStyle="New_Address__tab">
    <apex:form >
    <apex:sectionHeader title="{!IF(isEditRecord,'Edit Passport','New Passport')}" />
    
    <apex:pageMessages ></apex:pageMessages>
    
    <apex:pageBlock >
        <apex:pageBlockButtons >
            <apex:commandButton action="{!doEditWorkerPassport}" value="Save"/>
            <apex:commandButton action="{!returnToSelfService}" value="Cancel" immediate="true"/>
        </apex:pageBlockButtons>
        
        <apex:pageBlockSection columns="2" title="Passport Detail">
            <apex:inputField value="{!workerPassportInEdit.Name}"/>
            <apex:inputField value="{!workerPassportInEdit.VanaHCM__Country_Codes_Passport__c}" />
            <apex:inputField value="{!workerPassportInEdit.VanaHCM__Issued_Date_Passport__c}" />
                        <apex:inputField value="{!workerPassportInEdit.VanaHCM__Expiration_Date_Passport__c}" />
            
        </apex:pageBlockSection>

        </apex:pageBlock>
    </apex:form>
</apex:page>